---
import Navegation from "../../components/Navegation.astro";
import Layoutjavascript from "../../layouts/Layoutjavascript.astro";
---
<Layoutjavascript title="JavaScript: La guia definitiva">
  <Navegation capAnterior="capitulo-16" capSiguiente="#" />
  <section class="fadeIn">
    <h1>Herramientas y extensiones de JavaScript</h1>
    <p>Enhorabuena por haber llegado al último capítulo de este libro. Si has leído todo lo que viene antes, ahora tienes una comprensión detallada del lenguaje JavaScript y sabes cómo usarlo en Node y en los navegadores web. Este capítulo es una especie de regalo de graduación: introduce un puñado de herramientas de programación importantes que muchos programadores de JavaScript encuentran útiles, y también describe dos extensiones ampliamente utilizadas para el núcleo del lenguaje JavaScript. Tanto si decides utilizar estas herramientas y extensiones para tus propios proyectos como si no, es casi seguro que las verás utilizadas en otros proyectos, por lo que es importante que al menos sepas lo que son.</p>
    <p>Las herramientas y extensiones del lenguaje que se tratan en este capítulo son:</p>
    <ul>
      <li class="font-normal">ESLint para encontrar posibles errores y problemas de estilo en tu código.</li>
      <li class="font-normal">Prettier para dar formato a su código JavaScript de forma estandarizada.</li>
      <li class="font-normal">Jest como una solución todo-en-uno para escribir pruebas unitarias de JavaScript.</li>
      <li class="font-normal">npm para gestionar e instalar las bibliotecas de software de las que depende su programa.</li>
      <li class="font-normal">Herramientas de agrupación de código, como webpack, Rollup y Parcel, que convierten tus módulos de código JavaScript en un único paquete para su uso en la web.</li>
      <li class="font-normal">Babel para traducir código JavaScript que utiliza nuevas características del lenguaje (o que utiliza extensiones del lenguaje) en código JavaScript que puede ejecutarse en los navegadores web actuales.</li>
      <li class="font-normal">La extensión de lenguaje JSX (utilizada por el framework React) que permite describir interfaces de usuario mediante expresiones JavaScript que parecen marcas HTML.</li>
      <li class="font-normal">La extensión de lenguaje Flow (o la extensión similar TypeScript) que le permite anotar su código JavaScript con tipos y comprobar su código para la seguridad de tipos.</li>
    </ul>
    <p>Este capítulo no documenta estas herramientas y extensiones de forma exhaustiva. El objetivo es simplemente explicarlas con la suficiente profundidad como para que puedas entender por qué son útiles y cuándo podrías querer utilizarlas. Todo lo cubierto en este capítulo es ampliamente utilizado en el mundo de la programación JavaScript, y si decides adoptar una herramienta o extensión, encontrarás mucha documentación y tutoriales en línea.</p>
  </section>
  <section id="1" class="py-4 xs:py-5 sm:py-6">
    <h2>17.1 Linting con ESLint</h2>
  </section>
  <section id="2">
    <h2>17.2 Formateo JavaScript con Prettier </h2>
  </section>
  <section id="3" class="py-4 xs:py-5 sm:py-6">
    <h2>17.3 Pruebas unitarias con Jest </h2>
  </section>
  <section id="4">
    <h2>17.4 Gestión de paquetes con npm </h2>
  </section>
  <section id="5" class="py-4 xs:py-5 sm:py-6">
    <h2>17.5 Agrupación de códigos</h2>
  </section>
  <section id="6">
    <h2>17.6 Transpilación con Babel</h2>
  </section>
  <section id="7" class="py-4 xs:py-5 sm:py-6">
    <h2>17.7 JSX: Expresiones de marcado en JavaScript</h2>
  </section>
  <section id="8">
    <h2>17.8 Comprobación de tipos con Flow</h2>
  </section>
  <section id="8-1" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.1 Instalación y funcionamiento de Flow</h2>
  </section>
  <section id="8-2">
    <h2>17.8.2 Uso de anotaciones de tipo</h2>
  </section>
  <section id="8-3" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.3 Tipos de clases</h2>
  </section>
  <section id="8-4">
    <h2>17.8.4 Tipos de objetos</h2>
  </section>
  <section id="8-5" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.5 Alias de tipo</h2>
  </section>
  <section id="8-6">
    <h2>17.8.6 Tipos de matrices</h2>
  </section>
  <section id="8-7" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.7 Otros tipos parametrizados</h2>
  </section>
  <section id="8-8">
    <h2>17.8.8 Tipos de sólo lectura</h2>
  </section>
  <section id="8-9" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.9 Tipos de funciones</h2>
  </section>
  <section id="8-10">
    <h2>17.8.10 Tipos de sindicatos</h2>
  </section>
  <section id="8-11" class="py-4 xs:py-5 sm:py-6">
    <h2>17.8.11 Tipos enumerados y uniones discriminadas</h2>
  </section>
  <section id="9" class="pb-4 xs:pb-5 sm:pb-6">
    <h2>17.9 Resumen</h2>
  </section>
  </Layoutjavascript>