---
import Layoutjavascript from "../../layouts/Layoutjavascript.astro"
import Navegation from "../../components/Navegation.astro"
---
<Layoutjavascript title="JavaScript: La guia definitiva">
  <Navegation capAnterior="#" capSiguiente="javascript-la-guia-definitiva/capitulo-1" />
  <h1 class="fadeIn">JavaScript: La guía definitiva</h1>
  <main class="fadeIn flex gap-x-12 py-6">
    <section>
      <h2>Domine el lenguaje de programación más utilizado del mundo</h2>
      <p>JavaScript es el lenguaje de programación de la web y es utilizado por más desarrolladores de software hoy en día que cualquier otro lenguaje de programación. Durante casi 25 años, este best seller ha sido la guía de referencia para los programadores de JavaScript, y esta nueva edición se ha actualizado completamente para cubrir la versión 2020 de JavaScript. Encontrará ejemplos de código interesantes y esclarecedores, así como nuevos capítulos sobre clases, módulos, iteradores, generadores, promesas y async/await.</p>
      <p>Este libro está dirigido a programadores que deseen aprender JavaScript y a desarrolladores web dispuestos a llevar su comprensión y dominio del lenguaje al siguiente nivel.</p>
      <ul>
        <p>Los temas incluyen:</p>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            Tipos, variables, operadores, sentencias, objetos y matrices
          </p>
        </li>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            Funciones, clases, módulos, iteradores, generadores, promesas, y async/await
          </p>
        </li>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            Biblioteca estándar de JavaScript: estructuras de datos, expresiones regulares, JSON, internacionalización y URL
          </p>
        </li>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            La plataforma web: documentos, componentes, gráficos, redes, almacenamiento e hilos.
          </p>
        </li>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            Node.js: buffers, ficheros, streams, threads, procesos hijo, clientes web y servidores web
          </p>
        </li>
        <li class="font-normal list-none flex gap-2 xs:gap-3 sm:gap-4">
          <span class="text-lg xs:text-xs sm:text-base md:text-lg">⏺</span>
          <p>
            Herramientas y extensiones del lenguaje en las que confían los desarrolladores profesionales de JavaScript
          </p>
        </li>
      </ul>
      <p>David Flanagan lleva programando y escribiendo sobre JavaScript desde 1995. Es licenciado en Informática e Ingeniería por el Instituto Tecnológico de Massachusetts y trabaja como ingeniero de software en VMware.</p>
    </section>
    <section class="hidden md:block font-poppins max-w-64 lg:max-w-80 text-xl bg-[#f6e4c5] py-12 px-8 self-start font-light rounded-tr-[64px] dark:text-amber-900" >
      <p>"Este libro es todo lo que nunca supo que quería saber sobre JavaScript. Lleve la calidad y productividad de su código
        JavaScript al siguiente nivel. El conocimiento de David sobre el lenguaje, sus complejidades y sus trucos es asombroso.
        y brilla en esta guía verdaderamente definitiva del lenguaje JavaScript".</p>
      <p class="text-base font-bold text-right">-Schalk Neethling</p>
    </section>
  </main>
  <hr class="border-[#FFF8E8] border-2" />
  <section class="flex gap-x-12 py-6">
    <h2>Prefacio</h2>
    <p>Este libro cubre el lenguaje JavaScript y las API de JavaScript implementadas por los navegadores web y por Node. Lo escribí para lectores con alguna experiencia previa en programación que quieren aprender JavaScript y también para programadores que ya usan JavaScript pero quieren llevar su comprensión a un nuevo nivel y dominar realmente el lenguaje. Mi objetivo con este libro es documentar el lenguaje JavaScript de forma exhaustiva y definitiva y proporcionar una introducción en profundidad a las API más importantes del lado del cliente y del lado del servidor disponibles para los programas JavaScript. Por ello, se trata de un libro largo y detallado. Mi esperanza, sin embargo, es que recompense un estudio cuidadoso y que el tiempo que dedique a leerlo se recupere fácilmente en forma de una mayor productividad en la programación.</p>
    <p>
      Las ediciones anteriores de este libro incluían una amplia sección de referencias. Ya no creo que tenga sentido incluir ese material en forma impresa cuando es tan rápido y fácil encontrar material de referencia actualizado en línea. Si necesitas buscar algo relacionado con el núcleo o el lado del cliente de JavaScript, te recomiendo que visites el <a href="https://developer.mozilla.org/" target="_blank" rel="noopener noreferrer">sitio web MDN</a>. Y para las API de Node del lado del servidor, te recomiendo que vayas directamente a la fuente y consultes la <a href="https://nodejs.org/api" target="_blank" rel="noopener noreferrer">documentación de referencia de Node.js</a>.</p>
  </section>
</Layoutjavascript>