---
import Layoutcracking from "../../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Capitulo 17</h1>
  <h2>Dificil</h2>
  <article>
    <ul>
      <li class="list-none">
        <strong>17.1 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.2 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.3 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.4 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.5 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.6 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.7 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.8 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.9 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.10 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.11 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.12 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.13 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.14 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.15 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.16 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.17 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.18 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.19 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.20 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.21 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.22 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.23 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.24 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.25 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>17.26 Suma sin más: </strong>
        Escribe una función que sume dos números. No debes usar+ ni ningún operador aritmético.
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas:  #467, #544, #607, #628, #642, #664, #692, #772, #724</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 530</strong></p>
        </div>
      </li>
    </ul>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="/como-superar-una-entrevista/parte-10">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Parte X</div>
    </a>
  </footer>
</Layoutcracking>