---
import Layoutcracking from "../../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Capitulo 12</h1>
  <h2>C y C++</h2>
  <article>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <p><strong></strong></p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <p><strong></strong></p>
    <p>
    </p>
    <p>
    </p>
  </article>
  <article>
    <h3>► </h3>
    <p>
    </p>
  </article>
  <article>
    <h3 class="border-y-2 border-black">Preguntas de la entrevista</h3>
    <ul>
      <li class="list-none">
        <strong>12.1 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.2 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.3 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.4 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.5 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.6 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.7 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.8 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.9 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.10 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
      <li class="list-none">
        <strong>12.11 Fallos aleatorios: </strong>
        Te dan el código fuente de una aplicación que se bloquea al ejecutarla. Después de ejecutarla diez veces en un depurador, descubres que nunca se bloquea 
        <div class="flex justify-between items-end gap-2">
          <p><em>Pistas: #325</em> 
          </p>
          <p class="border-t-2 border-black flex-1 border-dashed"></p>
          <p><strong>pg 417</strong></p>
        </div>
      </li>
    </ul>
    <p>
    </p>
    <p>
    </p>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="capitulo-13">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Capitulo 13</div>
    </a>
  </footer>
</Layoutcracking>