---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte IV</h1>
  <h2>Antes de la entrevista</h2>
  <article>
    <p>
      La mayoría de las empresas realizan sus entrevistas de forma muy similar. Le ofreceremos una visión general de cómo entrevistan las empresas y qué es lo que buscan. Esta información debería orientar su preparación para la entrevista y sus reacciones durante y después de la misma.
    </p>
    <p>
      Cuando le seleccionan para una entrevista, suele pasar por una entrevista de preselección. Suele realizarse por teléfono. Los candidatos universitarios que asisten a las mejores escuelas pueden tener estas entrevistas en persona.
    </p>
    <p>
      No se deje engañar por el nombre: la entrevista de "preselección" suele incluir preguntas sobre codificación y algoritmos, y el listón puede estar tan alto como en las entrevistas en persona. Si no está seguro de si la entrevista será técnica o no, pregunte a su coordinador de contratación qué puesto ocupa su entrevistador (o qué podría cubrir la entrevista). Por lo general, un ingeniero realizará una entrevista técnica.
    </p>
    <p>
      Muchas empresas han aprovechado los editores de documentos sincronizados en línea, pero otras esperarán que escriba código en papel y se lo lea por teléfono. Algunos entrevistadores pueden incluso darte "trabajo para casa" para que lo resuelvas después de colgar el teléfono o simplemente pedirte que les envíes por correo electrónico el código que has escrito.
    </p>
    <p>
      Lo normal es hacer una o dos entrevistas de preselección antes de que te lleven al lugar de trabajo.
    </p>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="parte-5">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3">Parte V</div>
    </a>
  </footer>
</Layoutcracking>