---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte XII</h1>
  <h2>Biblioteca de códigos</h2>
  <section>
    <p>
      La mayoría de las empresas realizan sus entrevistas de forma muy similar. Le ofreceremos una visión general de cómo entrevistan las empresas y qué es lo que buscan. Esta información debería orientar su preparación para la entrevista y sus reacciones durante y después de la misma.
    </p>
    <p>
      Cuando le seleccionan para una entrevista, suele pasar por una entrevista de preselección. Suele realizarse por teléfono. Los candidatos universitarios que asisten a las mejores escuelas pueden tener estas entrevistas en persona.
    </p>
    <p>
      No se deje engañar por el nombre: la entrevista de "preselección" suele incluir preguntas sobre codificación y algoritmos, y el listón puede estar tan alto como en las entrevistas en persona. Si no está seguro de si la entrevista será técnica o no, pregunte a su coordinador de contratación qué puesto ocupa su entrevistador (o qué podría cubrir la entrevista). Por lo general, un ingeniero realizará una entrevista técnica.
    </p>
    <p>
      Muchas empresas han aprovechado los editores de documentos sincronizados en línea, pero otras esperarán que escriba código en papel y se lo lea por teléfono. Algunos entrevistadores pueden incluso darte "trabajo para casa" para que lo resuelvas después de colgar el teléfono o simplemente pedirte que les envíes por correo electrónico el código que has escrito.
    </p>
    <p>
      Lo normal es hacer una o dos entrevistas de preselección antes de que te lleven al lugar de trabajo.
    </p>
  </section>
</Layoutcracking>