---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte VIII</h1>
  <h2>La oferta y más allá</h2>
  <section>
    <p>
      Justo cuando creías que podías sentarte y relajarte después de las entrevistas, ahora te enfrentas al estrés posterior: ¿Debe aceptar la oferta? ¿Es la correcta? ¿Cómo se rechaza una oferta? ¿Y los plazos? Aquí trataremos algunas de estas cuestiones y entraremos en más detalles sobre cómo evaluar una oferta y cómo negociarla.
    </p>
  </section>
  <section>
    <h3>► Ofertas y rechazo</h3>
    <p>
      Tanto si acepta una oferta como si la rechaza o responde a un rechazo, lo importante es lo que haga.
    </p>
  </section>
  <section>
    <p><strong>Plazos y prórrogas de las ofertas</strong></p>
    <p>
      Cuando las empresas hacen una oferta, casi siempre tienen un plazo. Normalmente, estos plazos son de una a cuatro semanas. Si todavía está esperando la respuesta de otras empresas, puede pedir una prórroga. En la medida de lo posible, las empresas intentarán complacerle.
    </p>
  </section>
  <section>
    <p><strong>Rechazar una oferta</strong>
    </p>
    <p>
      Aunque ahora no le interese trabajar en esa empresa, puede que le interese hacerlo dentro de unos años. (Te conviene rechazar la oferta en buenos términos y mantener abierta una línea de comunicación.
    </p>
    <p>
      Cuando rechaces una oferta, da una razón que no sea ofensiva e inargumentable. Por ejemplo, si declinas una oferta de una gran empresa por una de una startup, puedes explicar que crees que una startup es la mejor opción para ti en este momento. La gran empresa no puede «convertirse» de repente en una startup, así que no pueden discutir tu razonamiento.
    </p>
  </section>
  <section>
    <p><strong>Manejar el rechazo</strong>
    </p>
    <p>
      Ser rechazado es lamentable, pero no significa que no seas un gran ingeniero. A muchos grandes ingenieros les va mal, bien porque no «dan la talla» ante este tipo de entrevistadores, bien porque simplemente tuvieron un día «flojo».
    </p>
    <p>
      Afortunadamente, la mayoría de las empresas entienden que estas entrevistas no son perfectas y que muchos buenos ingenieros son rechazados. Por este motivo, las empresas suelen estar dispuestas a volver a entrevistar a los candidatos rechazados anteriormente. Algunas empresas incluso se ponen en contacto con antiguos candidatos o aceleran su solicitud debido a su rendimiento anterior.
    </p>
    <p>
      Cuando reciba la desafortunada llamada, aproveche para tender un puente que le permita volver a presentar su candidatura. Agradece a tu reclutador el tiempo que te ha dedicado, explícale que estás decepcionado pero que comprendes su postura y pregúntale cuándo puedes volver a presentar tu candidatura a la empresa.
    </p>
    <p>
      También puedes pedir la opinión del reclutador. En la mayoría de los casos, las grandes empresas tecnológicas no ofrecen feedback, pero hay algunas que sí. No está de más hacer una pregunta del tipo: «¿Hay algo en lo que me sugeriría que trabajara para la próxima vez?».
    </p>
  </section>
  <section>
    <h3>► Evaluación de la oferta</h3>
    <p>
      ¡Enhorabuena! Ha recibido una oferta. Y, si tienes suerte, puede que incluso hayas recibido varias ofertas. El trabajo de tu reclutador consiste ahora en hacer todo lo posible para animarte a aceptarla. ¿Cómo saber si la empresa es la adecuada para ti? Vamos a repasar algunos aspectos que debes tener en cuenta al evaluar una oferta.
    </p>
  </section>
  <section>
    <p><strong>El paquete financiero</strong></p>
    <p>
      Quizá el mayor error que cometen los candidatos al evaluar una oferta es fijarse demasiado en el salario. A menudo, los candidatos se fijan tanto en esta cifra que acaban aceptando la oferta que es peor desde el punto de vista financiero. El salario es sólo una parte de tu compensación económica. También debe fijarse en:
    </p>
  </section>
  <section>
    <p><strong></strong></p>
    <p>
    </p>
    <ul>
      <li><em>La prima de contratación, el traslado y otras ventajas puntuales:</em>
        Muchas empresas ofrecen una prima de contratación y/o traslado. A la hora de comparar ofertas, es aconsejable amortizar este dinero en tres años (o el tiempo que preveas quedarte).
      </li>
      <li><em>Diferencias en el coste de la vida:</em>
        Los impuestos y otras diferencias en el coste de la vida pueden suponer una gran diferencia en tu sueldo neto. Silicon Valley, por ejemplo, es un 30% más caro que Seattle.
      </li>
      <li><em>Primas anuales:</em>
        Las primas anuales en las empresas tecnológicas pueden oscilar entre el 3% y el 30%. Es posible que tu reclutador te revele la bonificación anual media, pero si no es así, consulta con tus amigos de la empresa.
      </li>
      <li><em>Opciones sobre acciones y subvenciones:</em>
        La compensación en acciones puede constituir otra parte importante de tu retribución anual. Al igual que las primas de contratación, la remuneración en acciones puede compararse entre empresas amortizándola en tres años y sumando ese valor al salario.
      </li>
    </ul>
    <p>
      Recuerda, no obstante, que lo que aprendes y el modo en que una empresa hace avanzar tu carrera suelen marcar una diferencia mucho mayor en tus finanzas a largo plazo que el salario. Piense detenidamente en la importancia que quiere dar al dinero en este momento.
    </p>
  </section>
  <section>
    <p><strong>Desarrollo profesional</strong></p>
    <p>
      Por muy ilusionado que estés al recibir esta oferta, lo más probable es que dentro de unos años empieces a pensar de nuevo en hacer entrevistas. Por lo tanto, es importante que pienses ahora mismo en cómo afectaría esta oferta a tu trayectoria profesional. Esto significa plantearse las siguientes preguntas
    </p>
    <ul>
      <li>
        ¿Qué bien queda el nombre de la empresa en mi currículum?
      </li>
      <li>
        ¿Cuánto voy a aprender? ¿Aprenderé cosas relevantes?
      </li>
      <li>
        ¿Cuál es el plan de promoción? ¿Cómo progresan las carreras de los desarrolladores?
      </li>
      <li>
        Si quiero pasar a la gestión, ¿ofrece esta empresa un plan realista?
      </li>
      <li>
        ¿Está creciendo la empresa o el equipo?
      </li>
      <li>
        Si quiero dejar la empresa, ¿está situada cerca de otras empresas que me interesan o tendré que trasladarme?
      </li>
    </ul>
    <p>
      El último punto es extremadamente importante y suele pasarse por alto. Si en tu ciudad sólo puedes elegir entre unas pocas empresas, tus opciones profesionales serán más limitadas. Menos opciones significa que es menos probable que descubras oportunidades realmente buenas.
    </p>
  </section>
  <section>
    <p><strong>Estabilidad de la empresa</strong></p>
    <p>
      En igualdad de condiciones, la estabilidad es algo positivo. Nadie quiere ser despedido.
    </p>
    <p>
      Sin embargo, no todo lo demás es igual. Las empresas más estables también suelen crecer más despacio.
    </p>
    <p>
      La importancia que le des a la estabilidad de la empresa depende de ti y de tus valores. Para algunos candidatos, la estabilidad no debería ser un factor importante. ¿Puede encontrar rápidamente un nuevo trabajo? Si es así, ¿podría ser mejor aceptar la empresa de crecimiento rápido, aunque sea inestable? Si tiene restricciones de visado de trabajo o simplemente no confía en su capacidad para encontrar algo nuevo, la estabilidad podría ser más importante.
    </p>
  </section>
  <section>
    <p><strong>El factor felicidad</strong></p>
    <p>
      Por último, pero no por ello menos importante, debes tener en cuenta lo feliz que serás. Cualquiera de los siguientes factores puede influir en ello:
    </p>
    <ul>
      <li><em>El producto:</em>
        Muchas personas se fijan mucho en el producto que están construyendo y, por supuesto, esto importa un poco. Sin embargo, para la mayoría de los ingenieros, hay factores más importantes, como con quién se trabaja.
      </li>
      <li><em>El jefe y los compañeros de equipo:</em>
        Cuando la gente dice que ama u odia su trabajo, a menudo se debe a sus compañeros de equipo y a su jefe. ¿Los conoces? ¿Te ha gustado hablar con ellos?
      </li>
      <li><em>Cultura de empresa:</em>
        La cultura está ligada a todo, desde cómo se toman las decisiones hasta el ambiente social, pasando por cómo está organizada la empresa. Pregunta a tus futuros compañeros cómo describirían la cultura.
      </li>
      <li><em>Horario:</em>
        Pregunta a tus futuros compañeros cuánto tiempo suelen trabajar y averigua si eso encaja con tu estilo de vida. Recuerda, no obstante, que las horas previas a los plazos importantes suelen ser mucho más largas.
      </li>
    </ul>
    <p>
      Además, ten en cuenta que si tienes la oportunidad de cambiar de equipo con facilidad (como ocurre en Google y Facebook), tendrás la oportunidad de encontrar un equipo y un producto que encajen bien contigo.
    </p>
  </section>
  <section>
    <h3>► Negociación</h3>
    <p>
      Hace años, me apunté a una clase de negociación. El primer día, el instructor nos pidió que imagináramos un escenario en el que queríamos comprar un coche. El concesionario A vende el coche por un precio fijo de 20.000 dólares, sin negociación. El concesionario B nos permite negociar. ¿Cuánto tendría que costar el coche (después de negociar) para que nos fuéramos al concesionario B? (¡Rápido! ¡Responde tú mismo!)
    </p>
    <p>
      Por término medio, la clase dijo que el coche tendría que ser 750 $ más barato. En otras palabras, los alumnos estaban dispuestos a pagar 750 dólares sólo para evitar tener que negociar durante una hora más o menos. No es sorprendente que, en una encuesta realizada en clase, la mayoría de estos estudiantes también dijeran que no negociaron su oferta de trabajo. Se limitaron a aceptar lo que les ofrecía la empresa.
    </p>
    <p>
      Probablemente muchos de nosotros podamos simpatizar con esta postura. Negociar no es divertido para la mayoría de nosotros. Pero aun así, los beneficios económicos de la negociación suelen merecer la pena.
    </p>
    <p>
      Hágase un favor. Negocie. Aquí tienes algunos consejos para empezar.
    </p>
    <ol>
      <li><em>Hágalo. Sí, ya sé que da miedo;</em>
        a (casi) nadie le gusta negociar. Pero merece mucho la pena. Los reclutadores no revocarán una oferta porque hayas negociado, así que tienes poco que perder. Esto es especialmente cierto si la oferta es de una empresa grande. Probablemente no negociarás con tus futuros compañeros.
      </li>
      <li><em>Tenga una alternativa viable.</em>
        Fundamentalmente, los reclutadores negocian contigo porque les preocupa que, de lo contrario, no te incorpores a la empresa. Si tienes opciones alternativas, eso hará que su preocupación sea mucho más real.
      </li>
      <li><em>Haz una «petición» concreta:</em>
        Es más eficaz pedir un salario adicional de 7.000 dólares que limitarse a pedir «más»: al fin y al cabo, si sólo pides más, el reclutador podría añadir otros 1.000 dólares y técnicamente habría satisfecho tus deseos.
      </li>
      <li><em>Excederse:</em>
        En las negociaciones, la gente no suele estar de acuerdo con lo que pides. Es una conversación de ida y vuelta. Pide un poco más de lo que realmente esperas obtener, ya que la empresa probablemente te dará una solución intermedia.
      </li>
      <li><em>Piensa más allá del salario:</em>
        Las empresas suelen estar más dispuestas a negociar los componentes no salariales, ya que aumentar demasiado tu sueldo podría significar que te están pagando más que a tus compañeros. Considera la posibilidad de pedir más capital o una prima de contratación mayor. Otra posibilidad es pedir las prestaciones de traslado en efectivo, en lugar de que la empresa pague directamente los gastos de mudanza. Esta es una vía estupenda para muchos estudiantes universitarios, cuyos gastos reales de mudanza son bastante baratos.
      </li>
      <li><em>Utilice su mejor medio:</em>
        Mucha gente le aconsejará que sólo negocie por teléfono. Hasta cierto punto, tienen razón; es mejor negociar por teléfono. Sin embargo, si no te sientes cómodo en una negociación telefónica, hazlo por correo electrónico. Es más importante que intentes negociar a que lo hagas a través de un medio concreto.
      </li>
    </ol>
    <p>
      Además, si vas a negociar con una gran empresa, debes saber que suelen tener «niveles» para los empleados, en los que todos los empleados de un determinado nivel cobran más o menos lo mismo. Microsoft tiene un sistema especialmente bien definido en este sentido. Puedes negociar dentro del rango salarial de tu nivel, pero para superarlo hay que subir de nivel. Si buscas un aumento importante, tendrás que convencer al reclutador y a tu futuro equipo de que tu experiencia se corresponde con ese nivel superior, algo difícil pero factible.
    </p>
  </section>
  <section>
    <h3>► En el trabajo</h3>
    <p>
      Navegar por tu carrera profesional no termina en la entrevista. De hecho, no ha hecho más que empezar. Una vez que te incorporas a una empresa, tienes que empezar a pensar en tu trayectoria profesional. ¿Adónde quieres llegar y cómo lo harás?
    </p>
  </section>
  <section>
    <p><strong>Establece un calendario</strong>
    </p>
    <p>
      Es una historia común: te incorporas a una empresa y estás entusiasmado. Todo va genial. Cinco años después, sigues allí. Y es entonces cuando te das cuenta de que esos tres últimos años no han aportado gran cosa a tus habilidades ni a tu currículum. ¿Por qué no lo dejaste a los dos años?
    </p>
    <p>
      Cuando disfrutas de tu trabajo, es muy fácil dejarse llevar por él y no darse cuenta de que tu carrera no avanza. Por eso debes trazar tu trayectoria profesional antes de empezar un nuevo trabajo. ¿Dónde quiere estar dentro de diez años? ¿Y cuáles son los pasos necesarios para llegar allí? Además, cada año, piense en lo que le deparará el próximo año de experiencia y en cómo avanzó su carrera o su conjunto de habilidades en el último año.
    </p>
    <p>
      Si trazas tu camino con antelación y lo revisas periódicamente, evitarás caer en la trampa de la autocomplacencia.
    </p>
  </section>
  <section>
    <p><strong>Construye relaciones sólidas</strong>
    </p>
    <p>
      Cuando quieras pasar a algo nuevo, tu red de contactos será fundamental. Al fin y al cabo, presentar una solicitud por Internet es complicado; una recomendación personal es mucho mejor, y tu capacidad para hacerlo depende de tu red de contactos.
    </p>
    <p>
      En el trabajo, establezca relaciones sólidas con su jefe y sus compañeros. Cuando los empleados se marchen, manténgase en contacto con ellos. Una nota amistosa unas semanas después de su marcha ayudará a pasar de ser un conocido del trabajo a un conocido personal.
    </p>
    <p>
      Este mismo enfoque se aplica a su vida personal. Tus amigos, y los amigos de tus amigos, son contactos valiosos. Muéstrate abierto a ayudar a los demás, y ellos estarán más dispuestos a ayudarte a ti.
    </p>
  </section>
  <section>
    <p><strong>Pida lo que quiera</strong>
    </p>
    <p>
      Mientras que algunos jefes intentan hacer crecer tu carrera, otros se muestran más indiferentes. Depende de ti buscar los retos adecuados para tu carrera.
    </p>
    <p>
      Sé (razonablemente) franco sobre tus objetivos con tu jefe. Si quieres asumir más proyectos de codificación back-end, dilo. Si te gustaría explorar más oportunidades de liderazgo, habla de cómo podrías hacerlo.
    </p>
    <p>
      Tienes que ser tu mejor defensor, para que puedas alcanzar tus objetivos de acuerdo con tu calendario.
    </p>
  </section>
  <section>
    <p><strong>Sigue haciendo entrevistas</strong>
    </p>
    <p>
      Fíjate el objetivo de entrevistarte al menos una vez al año, aunque no estés buscando activamente un nuevo trabajo. Así mantendrá actualizadas sus habilidades para las entrevistas y estará al tanto de las oportunidades (y los salarios) que existen.
    </p>
    <p>
      Si te hacen una oferta, no tienes por qué aceptarla. Pero te servirá para establecer una relación con la empresa en caso de que quieras incorporarte más adelante.
    </p>
  </section>
</Layoutcracking>