---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte III</h1>
  <h2>Situaciones especiales</h2>
  <article>
    <p>
      Hay muchos caminos que llevan a alguien a este libro. Quizá tengas más experiencia pero nunca hayas hecho este tipo de entrevista. Tal vez usted es un probador o un PM. O tal vez estés utilizando este libro para enseñarte a ti mismo cómo entrevistar mejor. Aquí tienes algo para todas estas «situaciones especiales»:'
    </p>
  </article>
  <article>
    <h3>► Candidatos con experiencia</h3>
    <p>
      Algunas personas asumen que las preguntas de estilo algorítmico que aparecen en este libro son sólo para recién licenciados. Eso no es del todo cierto.
    </p>
    <p>
      Los ingenieros con más experiencia pueden ver un poco menos de atención en las preguntas de algoritmo, pero sólo un poco menos.
    </p>
    <p>
      Si una empresa hace preguntas sobre algoritmos a candidatos sin experiencia, tiende a hacérselas también a los candidatos con experiencia. Con razón o sin ella, creen que las habilidades demostradas en estas preguntas son importantes para todos los desarrolladores.
    </p>
    <p>
      Algunos entrevistadores pueden considerar que los candidatos con experiencia tienen un nivel de exigencia algo inferior. Después de todo, han pasado años desde que estos candidatos tomaron una clase de algoritmos. No tienen práctica.
    </p>
    <p>
      Otros, sin embargo, ponen un listón más alto a los candidatos con experiencia, argumentando que los años de experiencia permiten al candidato haber visto muchos más tipos de problemas.
    </p>
    <p>
      Por término medio, la balanza se equilibra.
    </p>
    <p>
      La excepción a esta regla son las preguntas sobre diseño y arquitectura de sistemas, así como las preguntas sobre tu currículum. Normalmente, los estudiantes no estudian mucho arquitectura de sistemas, por lo que la experiencia con este tipo de retos sólo la adquirirían profesionalmente. Tu rendimiento en este tipo de preguntas de la entrevista se evaluaría en función de tu nivel de experiencia. Sin embargo, a los estudiantes y recién licenciados se les siguen haciendo estas preguntas y deben estar preparados para resolverlas lo mejor posible.
    </p>
    <p>
      Además, se espera que los candidatos con experiencia den una respuesta más profunda e impresionante a preguntas como «¿Cuál ha sido el fallo más difícil al que se ha enfrentado? »Usted tiene más experiencia, y su respuesta a estas preguntas debe demostrarlo.

    </p>
  </article>
  <article>
    <h3>► Testers y SDETs</h3>
    <p>
      Los SDET (ingenieros de diseño de software en pruebas) escriben código, pero para probar funciones en lugar de crearlas. Como tales, tienen que ser grandes programadores y grandes probadores. Doble trabajo de preparación
    </p>
    <p>
      Si estás solicitando un puesto de SDET, sigue el siguiente enfoque:
    </p>
    <ul>
      <li>
        <em>Prepara los problemas principales de las pruebas:</em>
         Por ejemplo, ¿cómo probarías una bombilla? ¿Un bolígrafo? ¿Una caja registradora? ¿Microsoft Word? En el capítulo Pruebas encontrará más información sobre estos problemas.
      </li>
      <li>
        <em>Practique las preguntas de codificación:</em>
        Lo primero por lo que se rechaza a los SDET es por sus habilidades de codificación. Aunque los estándares de codificación son normalmente más bajos para un SDET que para un desarrollador tradicional, se sigue esperando que los SDET sean muy fuertes en codificación y algoritmos. Asegúrate de practicar la resolución de las mismas preguntas de codificación y algoritmos que recibiría un desarrollador normal.
      </li>
      <li>
        <em>Practica las preguntas de codificación:</em>
        Un formato muy popular para las preguntas SDET es «Escribe código para hacer X», seguido de «Bien, ahora pruébalo». Incluso cuando la pregunta no lo requiera específicamente, deberías preguntarte: «¿Cómo probaría esto?». Recuerde: ¡cualquier problema puede ser un problema SDET!
      </li>
    </ul>
    <p>
      Las habilidades de comunicación también pueden ser muy importantes para los probadores, ya que su trabajo requiere que trabaje con muchas personas diferentes. No descuides la sección de Preguntas de Comportamiento.
    </p>
  </article>
  <article>
    <p><strong>Consejos profesionales</strong></p>
    <p>
      Por último, un consejo profesional: Si, como muchos candidatos, esperas solicitar un puesto de SDET como el camino «fácil» para entrar en una empresa, ten en cuenta que a muchos candidatos les resulta muy difícil pasar de un puesto de SDET a un puesto de desarrollo. Asegúrate de mantener tus habilidades de codificación y algoritmos muy afiladas si esperas dar este paso, e intenta cambiar en uno o dos años. De lo contrario, puede resultar muy difícil que te tomen en serio en una entrevista de desarrollo.
    </p>
    <p>
      Nunca dejes que se atrofien tus conocimientos de programación.
    </p>
  </article>
  <article>
    <h3>► Gestión de productos (y programas)</h3>
    <p>
      Estas funciones de «PM» varían enormemente de una empresa a otra e incluso dentro de una misma empresa. En Microsoft, por ejemplo, algunos PM pueden ser esencialmente evangelistas del cliente, trabajando en un papel de cara al cliente que roza el marketing. En el campus, sin embargo, otros PM pueden pasar gran parte del día codificando. Es probable que a estos últimos se les someta a una prueba de codificación, ya que es una parte importante de su trabajo.
    </p>
    <p>
      En general, los entrevistadores para puestos de PM buscan que los candidatos demuestren habilidades en las siguientes áreas:
    </p>
    <ul>
      <li>
        <em>Manejo de la ambigüedad:</em> Esta no suele ser el área más crítica para una entrevista, pero debe ser consciente de que los entrevistadores buscan habilidades aquí. Los entrevistadores quieren ver que, cuando te enfrentas a una situación ambigua, no te abrumas ni te paralizas. Quieren ver cómo afrontas el problema sin rodeos: buscando nueva información, priorizando las partes más importantes y resolviendo el problema de forma estructurada. Esto no suele evaluarse directamente (aunque puede hacerse), pero puede ser una de las muchas cosas que el entrevistador busca en un problema.
      </li>
      <li>
        <em>Orientación al cliente (actitud):</em>
        Los entrevistadores quieren ver que su actitud está centrada en el cliente. ¿Da por sentado que todo el mundo va a utilizar el producto igual que usted? ¿O es usted el tipo de persona que se pone en el lugar del cliente y trata de entender cómo quiere utilizar el producto? Preguntas como «Diseña un despertador para ciegos» son propicias para examinar este aspecto. Cuando escuches una pregunta de este tipo, asegúrate de hacer muchas preguntas para entender quién es el cliente y cómo utiliza el producto. Las competencias tratadas en la sección Pruebas están estrechamente relacionadas con este aspecto.
      </li>
      <li>
        <em>Orientación al cliente (conocimientos técnicos):</em> Algunos equipos con productos más complejos necesitan asegurarse de que sus PM se incorporan con un sólido conocimiento del producto, ya que sería difícil adquirir este conocimiento en el trabajo. Probablemente no sea necesario un profundo conocimiento técnico de los teléfonos móviles para trabajar en los equipos de Android o Windows Phone (aunque estaría bien tenerlo), mientras que para trabajar en Windows Security podría ser necesario tener conocimientos de seguridad. Es de esperar que no haga una entrevista con un equipo que requiera conocimientos técnicos específicos a menos que al menos afirme poseer los conocimientos necesarios.

      </li>
      <li>
        <em>Comunicación a varios niveles: </em>
        Los directores de proyectos deben ser capaces de comunicarse con personas de todos los niveles de la empresa, en muchos puestos y con distintos niveles de conocimientos técnicos. Su entrevistador querrá comprobar que posee esta flexibilidad en la comunicación. A menudo, esto se examina directamente, mediante una pregunta del tipo: «Explíquele a su abuela qué es el TCP/IP».
      </li>
      <li>
        <em>Pasión por la tecnología:</em>
        Los empleados felices son empleados productivos, por lo que una empresa quiere asegurarse de que disfrutarás del trabajo y te entusiasmará. La pasión por la tecnología -e idealmente, por la empresa o el equipo- debe reflejarse en tus respuestas. Es posible que te hagan una pregunta directa del tipo: «¿Por qué te interesa Microsoft?». Además, tus entrevistadores buscarán entusiasmo en cómo hablas de tu experiencia previa y cómo hablas de los retos del equipo.Quieren ver que estarás ansioso por enfrentarte a los retos del trabajo.
      </li>
      <li>
        <em>Trabajo en equipo/liderazgo:</em>
        Este puede ser el aspecto más importante de la entrevista y, como es lógico, del propio puesto. Todos los entrevistadores buscarán su capacidad para trabajar bien con otras personas. Lo más habitual es que esto se evalúe con preguntas del tipo: «Cuénteme alguna ocasión en la que un compañero de equipo no haya hecho lo que debía». Su entrevistador quiere ver que maneja bien los conflictos, que toma la iniciativa, que entiende a la gente y que a la gente le gusta trabajar con usted.
      </li>
    </ul>
    <p>
      Todas estas áreas son importantes para que los directores de proyectos las dominen y, por lo tanto, son áreas clave de la entrevista. La ponderación de cada una de estas áreas coincidirá aproximadamente con la importancia que el área tiene en el trabajo real.
    </p>
  </article>
  <article>
    <h3>► Jefe de desarrollo y gestores</h3>
    <p>
      Casi siempre se requieren grandes conocimientos de programación para los puestos de desarrollo y, a menudo, también para los de gestión. Si vas a codificar en el trabajo, asegúrate de ser muy hábil con la codificación y los algoritmos, igual que lo sería un desarrollador. Google, en particular, exige mucho a los directivos en lo que respecta a la codificación.
    </p>
    <p>
      Además, prepárate para que te examinen en las siguientes áreas:
    </p>
    <ul>
      <li>
        <em>Trabajo en equipo/liderazgo:</em>
        Cualquiera que desempeñe una función similar a la gestión debe ser capaz tanto de dirigir como de trabajar con personas. Se le examinará implícita y explícitamente en estas áreas. La evaluación explícita consistirá en preguntarle cómo ha gestionado situaciones anteriores, por ejemplo, cuando no estaba de acuerdo con un directivo. La evaluación implícita consiste en que sus entrevistadores observen cómo interactúa con ellos. Si da la impresión de ser demasiado arrogante o demasiado pasivo, su entrevistador puede pensar que no es un buen gestor.
      </li>
      <li>
        <em>Priorizar:</em>
        A menudo, los directivos se enfrentan a cuestiones delicadas, como asegurarse de que un equipo cumple un plazo de entrega exigente, por lo que sus entrevistadores querrán ver que puede priorizar un proyecto adecuadamente, eliminando los aspectos menos importantes. Priorizar significa hacer las preguntas adecuadas para saber qué es fundamental y qué se puede esperar razonablemente de un proyecto.
      </li>
      <li>
        <em>Comunicación:</em>
        Los directivos tienen que comunicarse con las personas que están por encima y por debajo de ellos, y potencialmente con los clientes y otras personas mucho menos técnicas. 
      </li>
      <li>
        <em>"Hacer las cosas":</em>
        Quizá lo más importante que puede hacer un directivo es ser una persona que «hace que las cosas se hagan», lo que significa encontrar el equilibrio adecuado entre la preparación de un proyecto y su ejecución.
      </li>
    </ul>
    <p>
      En última instancia, la mayoría de estos aspectos dependen de tu experiencia previa y tu personalidad. Asegúrate de prepararte a conciencia utilizando el cuadro de preparación para entrevistas.
    </p>
  </article>
  <article>
    <h3>► Startups</h3>
    <p>
      El proceso de solicitud y entrevista para las nuevas empresas es muy variable. No podemos repasar todas las empresas emergentes, pero podemos ofrecer algunos consejos generales. Ten en cuenta, no obstante, que el proceso de una startup concreta puede variar.
    </p>
  </article>
  <article>
    <p><strong>El proceso de solicitud</strong></p>
    <p>
      Muchas startups publican ofertas de empleo, pero en las más prometedoras, la mejor forma de entrar es a través de una recomendación personal. Esta referencia no tiene por qué ser necesariamente un amigo íntimo o un compañero de trabajo. A menudo, con sólo acercarte y expresar tu interés, puedes conseguir que alguien recoja tu currículum para ver si encajas.
    </p>
  </article>
  <article>
    <p><strong>Visados y autorización de trabajo</strong></p>
    <p>
      Por desgracia, muchas pequeñas empresas de nueva creación en EE.UU. no pueden patrocinar visados de trabajo. Odian el sistema tanto como tú, pero de todos modos no podrás convencerles para que te contraten. Si necesitas un visado y deseas trabajar en una startup, lo mejor que puedes hacer es ponerte en contacto con un reclutador profesional que trabaje con muchas startups (y puede tener una mejor idea de qué startups trabajarán con problemas de visado), o centrar tu búsqueda en startups más grandes.
    </p>
  </article>
  <article>
    <p><strong>Factores de selección del currículum</strong></p>
    <p>
      Las startups tienden a buscar ingenieros que no sólo sean inteligentes y sepan programar, sino también personas que trabajen bien en un entorno empresarial. Lo ideal es que tu currículum muestre iniciativa. ¿Qué tipo de proyectos has puesto en marcha?
    </p>
    <p>
      También es muy importante ser capaz de «ponerse manos a la obra»; quieren gente que ya conozca el lenguaje de la empresa.
    </p>
  </article>
  <article>
    <p><strong>El proceso de entrevista</strong></p>
    <p>A diferencia de las grandes empresas, que tienden a fijarse sobre todo en tu aptitud general para el desarrollo de software, las startups suelen fijarse más en tu personalidad, tus habilidades y tu experiencia previa.</p>
    <ul>
      <li>
        <em>Ajuste de personalidad:</em>
        El ajuste de la personalidad se evalúa normalmente por cómo interactúas con tu entrevistador. Establecer una conversación amistosa y atractiva con tus entrevistadores es tu billete a muchas ofertas de trabajo.
      </li>
      <li>
        <em>Conjunto de habilidades:</em>
        Dado que las startups necesitan personas que puedan ponerse manos a la obra, es probable que evalúen tus habilidades con lenguajes de programación específicos. Si conoces un lenguaje con el que trabaja la startup, asegúrate de repasar los detalles.
      </li>
      <li>
        <em>Experiencia:</em>
        Es probable que las startups te hagan muchas preguntas sobre tu experiencia. Presta especial atención a la sección de preguntas de comportamiento.
      </li>
    </ul>
    <p>Además de las áreas anteriores, también son muy comunes las preguntas sobre codificación y algoritmos.</p>
  </article>
  <article>
    <h3>► Adquisiciones y adquisiciones</h3>
    <p>
      Durante el proceso de diligencia debida técnica para muchas adquisiciones, el comprador a menudo entrevistará a la mayoría o a todos los empleados de una startup. Google, Yahoo, Facebook y muchas otras empresas tienen esto como una parte estándar de muchas adquisiciones.
    </p>
  </article>
  <article>
    <p><strong>¿Qué empresas emergentes pasan por esto? ¿Por qué?</strong></p>
    <p>
      Parte del razonamiento es que sus empleados tuvieron que pasar por este proceso para ser contratados. No quieren que las adquisiciones sean una «forma fácil» de entrar en la empresa. Y, puesto que el equipo es uno de los principales motivos de la adquisición, creen que tiene sentido evaluar las aptitudes del equipo.
    </p>
    <p>
      Por supuesto, no todas las adquisiciones son así. Las famosas adquisiciones multimillonarias no suelen pasar por este proceso. Al fin y al cabo, esas adquisiciones suelen tener que ver con la base de usuarios y la comunidad, y no tanto con los empleados o incluso con la tecnología. Evaluar las competencias del equipo es menos esencial.
    </p>
    <p>
      Sin embargo, no es tan sencillo como «las adquisiciones se entrevistan, las adquisiciones tradicionales no»: hay una gran zona gris entre las adquisiciones (es decir, las adquisiciones de talento) y las adquisiciones de productos. Muchas empresas emergentes se adquieren por el equipo y las ideas que hay detrás de la tecnología. Es posible que el comprador abandone el producto, pero haga que el equipo trabaje en algo muy similar.
    </p>
    <p>
      Si tu startup está pasando por este proceso, normalmente puedes esperar que tu equipo tenga entrevistas muy similares a las que experimentaría un candidato normal (y, por lo tanto, muy similares a las que verás en este libro).
    </p>
  </article>
  <article>
    <p><strong>¿Qué importancia tienen estas entrevistas?</strong></p>
    <p>Estas entrevistas pueden tener una importancia enorme. Tienen tres funciones diferentes:</p>
    <ul>
      <li>Pueden hacer o deshacer adquisiciones. A menudo son la razón por la que una empresa no es adquirida.</li>
      <li>Determinan qué empleados reciben ofertas para incorporarse a la empresa adquirente.</li>
      <li>Pueden afectar al precio de adquisición (en parte como consecuencia del número de empleados que se incorporan).</li>
    </ul>
    <p>Estas entrevistas son mucho más que una mera «criba»:</p>
  </article>
  <article>
    <p><strong>¿Qué empleados pasan por las entrevistas?</strong></p>
    <p>
      En el caso de las startups tecnológicas, normalmente todos los ingenieros pasan por el proceso de entrevistas, ya que son uno de los principales motivadores de la adquisición.
    </p>
    <p>
      Además, los responsables de ventas, de atención al cliente, de producto y de cualquier otra función pueden tener que pasar por ella.
    </p>
    <p>
      El CEO suele pasar por una entrevista con el Director de Producto o con el Director de Desarrollo, ya que suele ser lo que más se acerca a las responsabilidades actuales del CEO. Sin embargo, no se trata de una regla absoluta. Depende de cuál sea la función actual del CEO y de lo que le interese. En algunos de mis clientes, el CEO ha optado incluso por no realizar entrevistas y abandonar la empresa en el momento de la adquisición.
    </p>
  </article>
  <article>
    <p><strong>¿Qué ocurre con los empleados que no rinden bien en la entrevista?</strong></p>
    <p>
      Los empleados que rinden por debajo de lo esperado no suelen recibir ofertas para incorporarse a la empresa adquirente. (Si muchos empleados no obtienen buenos resultados, es probable que la adquisición no se lleve a cabo).
    </p>
    <p>
      En algunos casos, los empleados que obtienen malos resultados en las entrevistas consiguen un contrato de «transferencia de conocimientos»: se trata de puestos temporales en los que se espera que el empleado abandone la empresa a la finalización del contrato (a menudo, seis meses), aunque a veces se acaba reteniendo al empleado.
    </p>
    <p>
      En otros casos, el bajo rendimiento se debe a que el empleado ha sido mal colocado. Esto ocurre en dos situaciones comunes:
    </p>
    <ul>
      <li>A veces, una startup etiqueta como ingeniero de software a alguien que no es un ingeniero de software «tradicional». Esto ocurre a menudo con los científicos de datos o los ingenieros de bases de datos. Estas personas pueden rendir por debajo de lo esperado durante las entrevistas para ingenieros de software, ya que su función real implica otras habilidades.</li>
      <li>En otros casos, un director general «vende» a un ingeniero de software junior como más senior de lo que realmente es. Éste rinde por debajo de sus posibilidades porque se le impone un nivel de exigencia injustamente alto.</li>
    </ul>
    <p>
      En ambos casos, a veces se vuelve a entrevistar al empleado para un puesto más apropiado. (Otras veces, sin embargo, el empleado no tiene suerte).
    </p>
    <p>
      En raras ocasiones, un director general puede anular la decisión de un empleado especialmente fuerte cuyo rendimiento en la entrevista no lo reflejaba.
    </p>
  </article>
  <article>
    <p><strong>Sus «mejores» (y peores) empleados pueden sorprenderle.</strong></p>
    <p>
      Las entrevistas de resolución de problemas/algoritmos que se realizan en las principales empresas tecnológicas evalúan habilidades concretas, que pueden no coincidir perfectamente con lo que su director evalúa en sus empleados.
    </p>
    <p>
      He trabajado con muchas empresas que se sorprenden de quiénes son sus empleados más fuertes y más débiles en las entrevistas. Ese ingeniero junior que aún tiene mucho que aprender sobre desarrollo profesional puede resultar ser un gran solucionador de problemas en estas entrevistas.
    </p>
    <p>
      No descarte ni acepte a nadie hasta que lo haya evaluado del mismo modo que lo harán sus entrevistadores.
    </p>
  </article>
  <article>
    <p><strong>¿Se exige a los empleados lo mismo que a los candidatos normales?</strong></p>
    <p>
      Básicamente sí, aunque hay un poco más de margen.
    </p>
    <p>
      Las grandes empresas tienden a ser reacias al riesgo a la hora de contratar. Si alguien está indeciso, a menudo se inclinan por no contratar.
    </p>
    <p>
      En el caso de una adquisición, los empleados «indecisos» pueden salir adelante gracias a los buenos resultados del resto del equipo.
    </p>
  </article>
  <article>
    <p><strong>¿Cómo reaccionan los empleados ante la noticia de una adquisición?</strong></p>
    <p>
      Esta es una gran preocupación para muchos CEO y fundadores de startups. ¿Se disgustarán los empleados con este proceso? O, ¿qué pasa si les damos esperanzas pero no sucede?
    </p>
    <p>
      
      Lo que he visto con mis clientes es que la dirección se preocupa por esto más de lo necesario.
    </p>
    <p>
      Ciertamente, algunos empleados están disgustados por el proceso. Puede que no les entusiasme la idea de incorporarse a una de las grandes empresas por muchas razones.
    </p>
    <p>
      Sin embargo, la mayoría se muestra prudentemente optimista. Esperan que salga adelante, pero saben que la existencia de estas entrevistas significa que puede que no.
    </p>
  </article>
  <article>
    <p><strong>¿Qué ocurre con el equipo después de una adquisición?</strong></p>
    <p>
      Cada situación es diferente. Sin embargo, la mayoría de mis clientes han permanecido juntos como un equipo, o posiblemente
      integrado en un equipo ya existente.
    </p>
  </article>
  <article>
    <p><strong>¿Cómo debe preparar a su equipo para las entrevistas de adquisición?</strong></p>
    <p>
      La preparación para las entrevistas de adquisición es bastante similar a las entrevistas típicas en la empresa adquirente. La diferencia es que su empresa está haciendo esto como un equipo y que cada empleado no fue seleccionado individualmente para la entrevista por sus propios méritos.
    </p>
    <p>
      <em>
        Estáis todos juntos en esto.
      </em>
    </p>
    <p>
      Algunas startups con las que he trabajado ponen su trabajo «real» en espera y hacen que sus equipos pasen las dos o tres semanas siguientes preparando la entrevista.
    </p>
    <p>
      Obviamente, no es una opción que todas las empresas puedan tomar, pero -desde la perspectiva de querer que la adquisición se lleve a cabo- esto aumenta sustancialmente sus resultados.
    </p>
    <p>
      Su equipo debe estudiar individualmente, en equipos de dos o tres personas o haciendo simulacros de entrevistas entre ellos. Si es posible, utilice los tres enfoques.
    </p>
    <p>
      <em>
        Algunas personas pueden estar menos preparadas que otras.
      </em>
    </p>
    <p>
      Es posible que muchos desarrolladores de startups sólo hayan oído hablar vagamente de big O time, árbol de búsqueda binario, búsqueda breadth-first y otros conceptos importantes. Necesitarán más tiempo para prepararse.
    </p>
    <p>
      Las personas sin titulación en informática (o que la obtuvieron hace mucho tiempo) deberían centrarse primero en aprender los conceptos básicos tratados en este libro, especialmente el tiempo big O (que es uno de los más importantes). Un buen primer ejercicio es implementar todas las estructuras de datos y algoritmos básicos desde cero.
    </p>
    <p>
      Si la adquisición es importante para su empresa, dé a estas personas el tiempo que necesiten para prepararse. Lo necesitarán.
    </p>
    <p>
      <em>
        No espere hasta el último minuto.
      </em>
    </p>
    <p>
      Como empresa emergente, es posible que estés acostumbrado a tomar las cosas como vienen sin una tonelada de planificación. A las startups que hacen esto con las entrevistas de adquisición no les suele ir bien.
    </p>
    <p>
      Las entrevistas de adquisición suelen surgir de repente. El CEO de una empresa está hablando con un comprador (o varios compradores) y las conversaciones se vuelven cada vez más serias. El comprador menciona la posibilidad de realizar entrevistas en el futuro. Entonces, de repente, aparece el mensaje «venga a finales de esta semana».
    </p>
    <p>
      Si esperas a que haya una fecha fija para las entrevistas, probablemente no tendrás más que un par de días para prepararte. Puede que no sea tiempo suficiente para que tus ingenieros aprendan conceptos básicos de informática y practiquen las preguntas de la entrevista.
    </p>
  </article>
  <article>
    <h3>► Para los entrevistadores</h3>
    <p>
      Desde que escribí la última edición, me he enterado de que muchos entrevistadores utilizan Cracking the Coding Interview para aprender a hacer entrevistas. Esa no era realmente la intención del libro, pero también podría ofrecer algunas orientaciones para las entrevistas.
    </p>
  </article>
  <article>
    <p><strong>No hagas las preguntas exactas aquí.</strong></p>
    <p>
      En primer lugar, estas preguntas se han seleccionado porque son buenas para preparar una entrevista. Algunas preguntas que son buenas para preparar una entrevista no siempre lo son. Por ejemplo, en este libro hay algunos acertijos porque a veces los entrevistadores hacen este tipo de preguntas. Merece la pena que los candidatos las practiquen si van a entrevistarse en una empresa a la que le gustan, aunque a mí personalmente me parecen malas preguntas.
    </p>
    <p>
      En segundo lugar, sus candidatos también están leyendo este libro. No quieras hacer preguntas que tus candidatos ya hayan resuelto.
    </p>
    <p>
      Puedes hacer preguntas similares a éstas, pero no las saques de aquí. Su objetivo es poner a prueba su capacidad para resolver problemas, no su capacidad de memorización.
    </p>
  </article>
  <article>
    <p><strong>Plantee problemas de dificultad media y alta</strong></p>
    <p>
      El objetivo de estas preguntas es evaluar la capacidad de alguien para resolver problemas. Cuando haces preguntas demasiado fáciles, el rendimiento se agrupa. Problemas menores pueden bajar sustancialmente el rendimiento de alguien. No es un indicador fiable.
    </p>
  </article>
  <article>
    <p><strong>Busca preguntas con múltiples obstáculos.</strong></p>
    <p>
      Algunas preguntas tienen momentos «¡Ajá! Se basan en una idea concreta. Si el candidato no lo consigue, su rendimiento será bajo. Si lo consigue, de repente habrá superado a muchos candidatos.
    </p>
    <p>
      Aunque ese insight sea un indicador de habilidades, sigue siendo sólo un indicador. Lo ideal es una pregunta que contenga una serie de obstáculos, percepciones u optimizaciones. Varios datos son mejores que uno solo.
    </p>
    <p>
      He aquí una prueba: si puedes dar una pista u orientación que marque una diferencia sustancial en el rendimiento de un candidato, probablemente no sea una buena pregunta para la entrevista.
    </p>
  </article>
  <article>
    <p><strong>Utilice preguntas difíciles, no conocimientos difíciles.</strong></p>
    <p>
      Algunos entrevistadores, en un intento de hacer que una pregunta sea difícil, sin darse cuenta hacen que el conocimiento sea difícil. Seguramente, menos candidatos lo hacen bien, por lo que las estadísticas parecen correctas, pero no por razones que indiquen mucho sobre las habilidades de los candidatos.
    </p>
    <p>
      Los conocimientos que esperas que tengan los candidatos deberían ser conocimientos sencillos sobre estructuras de datos y algoritmos. Es razonable esperar que un licenciado en informática entienda los conceptos básicos de big O y árboles. La mayoría no recordará el algoritmo de Dijkstra ni el funcionamiento específico de los árboles AVL.
    </p>
    <p>
      
      Si la pregunta de la entrevista espera conocimientos oscuros, pregúntese: ¿es realmente una habilidad importante? ¿Es tan importante que me gustaría reducir el número de candidatos que contrato o reducir la atención que presto a la resolución de problemas o a otras habilidades?
    </p>
    <p>
      Cada nueva habilidad o atributo que evalúa reduce el número de ofertas, a menos que lo contrarreste relajando los requisitos de otra habilidad. En igualdad de condiciones, es posible que prefiera a alguien que pueda recitar los puntos más sutiles de un libro de texto de algoritmos de cinco centímetros de grosor. Pero no todo lo demás es igual.
    </p>
  </article>
  <article>
    <p><strong>Evite las preguntas «aterradoras».</strong></p>
    <p>
      Algunas preguntas intimidan a los candidatos porque parece que implican conocimientos especializados, aunque en realidad no sea así. Esto incluye a menudo preguntas que implican
    </p>
    <ul>
      <li>Matemáticas o probabilidad.</li>
      <li>Conocimientos de bajo nivel (asignación de memoria, etc.).</li>
      <li>Diseño de sistemas o escalabilidad.</li>
      <li>Sistemas propietarios (Google Maps, etc.).</li>
    </ul>
    <p>
      Por ejemplo, una pregunta que hago a veces es encontrar todas las soluciones enteras positivas menores de 1.000 de a3 + b3 = c3 + d3 (página68).
    </p>
    <p>
      Al principio, muchos candidatos piensan que tienen que hacer algún tipo de factorización extravagante o matemáticas semiavanzadas. No es así. Tienen que entender el concepto de exponentes, sumas e igualdades, y ya está.
    </p>
    <p>
      Cuando hago esta pregunta, digo explícitamente: «Sé que esto parece un problema de matemáticas. No se preocupe. No te preocupes. Si empiezan por el camino de la factorización, les paro y les recuerdo que no es una pregunta de matemáticas.
    </p>
    <p>
      Otras preguntas pueden implicar un poco de probabilidad. Puede tratarse de cosas que un candidato seguramente sabría (por ejemplo, para elegir entre cinco opciones, elige un número al azar entre 1 y 5). Pero el simple hecho de que implique probabilidad intimidará a los candidatos.
    </p>
    <p>
      Tenga cuidado al hacer preguntas que parezcan intimidatorias. Recuerde que ésta ya es una situación realmente intimidante para los candidatos. Añadir una pregunta «aterradora» podría asustar al candidato y hacer que rindiera menos de lo esperado.
    </p>
    <p>
      Si vas a hacer una pregunta que parezca «aterradora», asegúrate de tranquilizar a los candidatos diciéndoles que no requieren los conocimientos que ellos creen.
    </p>
  </article>
  <article>
    <p><strong>Ofrezca un refuerzo positivo.</strong></p>
    <p>
      Algunos entrevistadores se centran tanto en la pregunta «correcta» que se olvidan de pensar en su propio comportamiento.
    </p>
    <p>
      Muchos candidatos se sienten intimidados por las entrevistas y tratan de interpretar cada palabra del entrevistador. Pueden aferrarse a cada cosa que pueda sonar positiva o negativa. Interpretan que ese pequeño comentario de «buena suerte» significa algo, aunque se lo diga a todo el mundo independientemente de su rendimiento.
    </p>
    <p>
      Quiere que los candidatos se sientan bien con la experiencia, con usted y con su rendimiento. Quiere que se sientan cómodos. Un candidato que esté nervioso rendirá mal, y eso no significa que no sea bueno. Además, un buen candidato que tenga una reacción negativa hacia usted o hacia la empresa es menos probable que acepte una oferta, y podría disuadir a sus amigos de entrevistarse o aceptar también.
    </p>
    <p>
      Intente ser cordial y amable con los candidatos. Esto es más fácil para unos que para otros, pero hazlo lo mejor que puedas.
    </p>
    <p>
      Incluso si no le resulta natural ser cordial y amable, puede hacer un esfuerzo concertado por esparcir comentarios positivos a lo largo de la entrevista:
    </p>
    <ul>
      <li>"Exacto."</li>
      <li>"Buena observación."</li>
      <li>"Buen trabajo."</li>
      <li>"Muy bien, es un enfoque muy interesante."</li>
      <li>“Perfecto.”</li>
    </ul>
    <p>
      Por muy mal que lo esté haciendo un candidato, siempre hay algo en lo que ha acertado. Encuentre la manera de infundir algo de positivismo en la entrevista.
    </p>
  </article>
  <article>
    <p><strong>Profundiza en las preguntas de comportamiento.</strong></p>
    <p>
      A muchos candidatos se les da mal articular sus logros específicos.
    </p>
    <p>
      Les preguntas sobre una situación difícil y te cuentan una situación difícil a la que se enfrentó su equipo. Por lo que se ve, el candidato no ha hecho gran cosa.
    </p>
    <p>
      Pero no tan rápido. Es posible que un candidato no se centre en sí mismo porque ha sido entrenado para celebrar los logros de su equipo y no presumir de sí mismo. Esto es especialmente común en los puestos directivos y en las candidaturas femeninas.
    </p>
    <p>
      No des por sentado que un candidato no hizo gran cosa en una situación sólo porque te cueste entender lo que hizo. Explica la situación (¡con amabilidad!). Pregúntales específicamente si pueden decirte cuál fue su papel.
    </p>
    <p>
      Si no le pareció difícil resolver la situación, vuelva a indagar más. Pídele que te explique con más detalle cómo se planteó el problema y los pasos que dio. Pregúntales por qué tomaron determinadas medidas. No describir los detalles de las medidas que tomaron les convierte en candidatos defectuosos, pero no necesariamente en empleados defectuosos.
    </p>
    <p>
      Ser un buen candidato para una entrevista es una habilidad en sí misma (después de todo, esa es parte de la razón de ser de este libro), y probablemente no sea una habilidad que quieras evaluar.
    </p>
  </article>
  <article>
    <p><strong>Entrene a sus candidatos.</strong></p>
    <p>
      Lea las secciones sobre cómo los candidatos pueden desarrollar buenos algoritmos. Muchos de estos consejos son los que puedes ofrecer a los candidatos que tienen dificultades. No estás «enseñando para el examen» cuando haces esto; estás separando las habilidades para la entrevista de las habilidades para el trabajo.
    </p>
    <ul>
      <li>Muchos candidatos no utilizan un ejemplo para resolver una pregunta de la entrevista (o no utilizan un buen ejemplo). Esto dificulta considerablemente el desarrollo de una solución, pero no significa necesariamente que no sean buenos solucionadores de problemas. Si los candidatos no escriben ellos mismos un ejemplo, o si escriben inadvertidamente un caso especial, oriénteles.</li>
      <li>Algunos candidatos tardan mucho en encontrar el fallo porque utilizan un ejemplo enorme. Esto no les convierte en malos probadores o desarrolladores. Sólo significa que no se han dado cuenta de que sería más eficiente analizar primero su código conceptualmente, o que un ejemplo pequeño funcionaría casi igual de bien. Guíales.</li>
      <li>Si se sumergen en el código antes de tener una solución óptima, retíralos y céntralos en el algoritmo (si eso es lo que quieres ver). Es injusto decir que un candidato nunca encontró o implementó la solución óptima si realmente no tuvo tiempo de hacerlo.</li>
      <li>Si se ponen nerviosos y se atascan y no están seguros de adónde ir, sugiérales que recorran la solución de fuerza bruta y busquen áreas que optimizar.</li>
      <li>Si no han dicho nada y hay una fuerza bruta bastante obvia, recuérdales que pueden empezar con una fuerza bruta. Su primera solución no tiene por qué ser perfecta.</li>
    </ul>
    <p>
      Incluso si crees que la habilidad de un candidato en una de estas áreas es un factor importante, no es el único factor. Siempre puedes marcar a alguien por «fallar» en este obstáculo mientras le ayudas a superarlo.
    </p>
    <p>
      Aunque este libro está pensado para orientar a los candidatos en las entrevistas, uno de sus objetivos como entrevistador es eliminar el efecto de la falta de preparación. Al fin y al cabo, algunos candidatos han estudiado para las entrevistas y otros no, y esto probablemente no revele mucho sobre sus aptitudes como ingenieros.
    </p>
    <p>
      Guíe a los candidatos utilizando los consejos de este libro (dentro de lo razonable, por supuesto: no querrá guiar tanto a los candidatos a través de los problemas que ya no esté evaluando sus habilidades de resolución de problemas).
    </p>
    <p>
      Pero tenga cuidado. Si eres una persona que parece intimidar a los candidatos, esta orientación podría empeorar las cosas. Puede dar la impresión de que estás diciendo a los candidatos que están metiendo la pata constantemente creando malos ejemplos, no priorizando las pruebas de la forma correcta, etc. Si quieren silencio, dales silencio.
    </p>
  </article>
  <article>
    <p><strong>Si quieren silencio, dales silencio.</strong></p>
    <p>
      Una de las preguntas más comunes que me hacen los candidatos es cómo lidiar con un entrevistador que insiste en hablar cuando ellos sólo necesitan un momento para pensar en silencio.
    </p>
    <p>
      Si tu candidato lo necesita, dale ese tiempo para pensar. Aprenda a distinguir entre «estoy atascado y no tengo ni idea de qué hacer» y «estoy pensando en silencio».
    </p>
    <p>
      Puede que te ayude a guiar a tu candidato, y puede que ayude a muchos candidatos, pero no necesariamente ayuda a todos los candidatos. Algunos necesitan un momento para pensar. Dales ese tiempo, y ten en cuenta a la hora de evaluarlos que recibieron un poco menos de orientación que otros.
    </p>
  </article>
  <article>
    <p><strong>Conoce tu modo: control de cordura, calidad, especialista y apoderado.</strong></p>
    <p>
      A un nivel muy, muy alto, hay cuatro modos de preguntas:
    </p>
    <ul>
      <li><strong>Comprobación de cordura:</strong>
        Suelen ser preguntas fáciles de resolución de problemas o de diseño. Evalúan un grado mínimo de competencia en la resolución de problemas. No distinguen entre «bien» y «genial», así que no las evalúe como tales. Puede utilizarlas al principio del proceso (para filtrar a los peores candidatos), o cuando sólo necesite un grado mínimo de competencia.
      </li>
      <li><strong>Control de calidad:</strong>
        Son las preguntas más difíciles, a menudo de resolución de problemas o de diseño. Están diseñadas para ser rigurosas y hacer pensar al candidato. Utilícelas cuando las habilidades algorítmicas o de resolución de problemas sean de gran importancia. El mayor error que se comete aquí es hacer preguntas que, de hecho, son malas preguntas de resolución de problemas.
      </li>
      <li><strong>Preguntas especializadas:</strong>
        Estas preguntas evalúan el conocimiento de temas específicos, como Java o el aprendizaje automático. Deben utilizarse cuando se trata de habilidades que un buen ingeniero no podría aprender rápidamente en el trabajo. Estas preguntas deben ser apropiadas para verdaderos especialistas. Desafortunadamente, he visto situaciones en las que una empresa hace preguntas detalladas sobre Java a un candidato que acaba de terminar un curso de codificación de 10 semanas. ¿Qué demuestra esto? Si tiene estos conocimientos, es que los ha adquirido recientemente y, por lo tanto, es probable que sean fáciles de adquirir. Si es fácil de adquirir, no hay razón para contratar a alguien que lo tenga.
      </li>
      <li><strong>Conocimientos indirectos:</strong>
        Se trata de conocimientos que no llegan al nivel de especialista (de hecho, puede que ni siquiera los necesites), pero que esperarías que un candidato de su nivel conociera. Por ejemplo, puede que para usted no sea muy importante que un candidato conozca CSS o HTML. Pero si un candidato ha trabajado en profundidad con estas tecnologías y no puede hablar de por qué las tablas son o no son buenas, eso sugiere un problema. No están asimilando información esencial para su trabajo.
      </li>
    </ul>
    <p>
      Cuando las empresas se meten en problemas es cuando mezclan y combinan todo esto:
    </p>
    <ul>
      <li>Hacen preguntas especializadas a personas que no son especialistas.</li>
      <li>Contratan a especialistas cuando no los necesitan.</li>
      <li>Necesitan especialistas pero sólo evalúan competencias muy básicas.</li>
      <li>Hacen preguntas de control de cordura (fáciles), pero creen que están haciendo preguntas de control de calidad. Por lo tanto, interpretan que existe una gran diferencia entre un rendimiento «aceptable» y uno «excelente», a pesar de que un pequeño detalle podría haberlos separado.</li>
    </ul>
    <p>
      De hecho, después de haber trabajado con una serie de pequeñas y grandes empresas tecnológicas en su proceso de contratación, he encontrado que la mayoría de las empresas están haciendo una de estas cosas mal.
    </p>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="parte-4">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Parte IV</div>
    </a>
  </footer>
</Layoutcracking>