---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte V</h1>
  <h2>Preguntas sobre el Comportamiento</h2>
  <article>
    <p>
      Las preguntas de comportamiento se formulan para conocer su personalidad, comprender mejor su currículum y facilitarle la entrevista. Son preguntas importantes para las que puede prepararse.
      
      
    </p>
  </article>
  <article>
    <h3>
      ►InterviewPreparationGrid
      
    </h3>
    <table class="font-poppins">
      <thead>
        <tr>
          <td>Common Questions</td>
          <td>Project 1</td>
          <td>Project 2</td>
          <td>Project 3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Challenges</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Mistakes/Failures</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Enjoyed</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Conflicts</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>What You'd Do Differently</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>
      Repasa cada uno de los proyectos o componentes de tu currículum y asegúrate de que puedes hablar de ellos en detalle. Rellenar una cuadrícula como ésta puede ayudarte:
    </p>
    <p>
      En la parte superior, a modo de columnas, debes enumerar todos los aspectos principales de tu currículum, incluido cada proyecto, trabajo o actividad. A los lados, en filas, debes enumerar las preguntas habituales sobre comportamiento.
    </p>
    <p>
      Estudia este cuadro antes de la entrevista. Reducir cada historia a sólo un par de palabras clave puede hacer que la cuadrícula sea más fácil de estudiar y recordar. También le resultará más fácil tener este cuadro delante durante la entrevista sin que le distraiga.
    </p>
    <p>
      Además, asegúrese de tener entre uno y tres proyectos de los que pueda hablar en detalle. Debe poder hablar en profundidad de los componentes técnicos. Deben ser proyectos en los que usted haya desempeñado un papel fundamental.
    </p>
  </article>
  <article>
    <p>
      <strong>¿Cuáles son sus puntos débiles?</strong>
    </p>
    <p>
      Cuando te pregunten cuáles son tus puntos débiles, dinos uno de verdad. Respuestas como «Mi mayor debilidad es que trabajo demasiado» indican a tu entrevistador que eres arrogante y/o que no quieres admitir tus defectos. Una buena respuesta transmite una debilidad real y legítima, pero hace hincapié en cómo trabajas para superarla.
    </p>
    <p>
      Por ejemplo:
    </p>
    <p class="ml-4 sm:ml-6 md:ml-8">
      «A veces, no presto mucha atención a los detalles. Aunque eso es bueno porque me permite ejecutar con rapidez, también significa que a veces cometo errores por descuido. Por eso, siempre me aseguro de que otra persona revise mi trabajo».
    </p>
  </article>
  <article>
    <p><strong>¿Qué preguntas debe hacer al entrevistador?</strong>
    </p>
    <p>
      La mayoría de los entrevistadores te darán la oportunidad de hacerles preguntas. La calidad de tus preguntas influirá, consciente o inconscientemente, en sus decisiones. Acuda a la entrevista con algunas preguntas en mente.
    </p>
    <p>
      Puede pensar en tres tipos generales de preguntas.
    </p>
    <p>
      <em>Preguntas genuinas</em>
    </p>
    <p>
      Son las preguntas de las que realmente quieres saber la respuesta. He aquí algunas ideas de preguntas que son valiosas para muchos candidatos:
    </p>
    <ol>
      <li>¿Cuál es la proporción entre probadores, desarrolladores y directores de programa? ¿Cómo es la interacción? ¿Cómo se planifica el proyecto en el equipo?</li>
      <li>¿Qué le trajo a esta empresa? ¿Qué ha sido lo más difícil para usted?</li>
    </ol>
    <p>
      Estas preguntas te darán una buena idea de cómo es el día a día en la empresa.
    </p>
    <p>
      <em>Preguntas perspicaces</em>
    </p>
    <p>
      Estas preguntas demuestran su conocimiento o comprensión de la tecnología.
    </p>
    <ol>
      <li>«Me he dado cuenta de que utilizas la tecnología X. ¿Cómo resuelves el problema Y?».</li>
      <li>«¿Por qué el producto ha optado por utilizar el protocolo X en lugar del protocolo Y? Sé que tiene ventajas como A, B, C, pero muchas empresas deciden no utilizarlo por el problema D.</li>
    </ol>
    <p>
      Este tipo de preguntas suele requerir una investigación previa sobre la empresa.
    </p>
    <p>
      <em>Preguntas de pasión</em>
    </p>
    <p>
      Estas preguntas están diseñadas para demostrar tu pasión por la tecnología. Demuestran que estás interesado en aprender y que serás un gran colaborador para la empresa.
    </p>
    <ol>
      <li>Estoy muy interesado en la escalabilidad y me encantaría aprender más sobre ella. Qué oportunidades hay en esta empresa para aprender sobre esto?.</li>
      <li>«No estoy familiarizado con la tecnología X, pero parece una solución muy interesante. ¿Podría explicarme un poco más cómo funciona?».</li>
    </ol>
  </article>
  <article>
    <h3>
      ► ConoceTusProyectosTécnicos
    </h3>
    <p>
      Como parte de tu preparación, debes centrarte en dos o tres proyectos técnicos que debas dominar en profundidad. Selecciona proyectos que idealmente se ajusten a los siguientes criterios:
    </p>
    <ul>
      <li>El proyecto tenía componentes desafiantes (más allá de «aprender mucho»).</li>
      <li>Has desempeñado un papel central (idealmente en los componentes desafiantes).</li>
      <li>Puedes hablar con profundidad técnica.</li>
    </ul>
    <p>
      En esos proyectos, y en todos los que realices, podrás hablar de los retos, los errores, las decisiones técnicas, las tecnologías elegidas (y sus ventajas y desventajas) y las cosas que harías de otra manera.
    </p>
    <p>
      También puede pensar en preguntas de seguimiento, como por ejemplo cómo ampliaría la aplicación.
    </p>
  </article>
  <article>
    <h3>► Responder a preguntas de comportamiento
    </h3>
    <p>
      Las preguntas de comportamiento permiten a tu entrevistador conocerte mejor a ti y a tu experiencia previa. Recuerda los siguientes consejos cuando respondas a las preguntas.
    </p>
  </article>
  <article>
    <p><strong>Sea concreto, no arrogante</strong>
    </p>
    <p>
      La arrogancia es una señal de alarma, pero aun así querrás parecer impresionante. Entonces, ¿cómo hacer que suene bien sin ser arrogante? Siendo concreto.
    </p>
    <p>
      Concretar significa dar sólo los hechos y dejar que el entrevistador los interprete. Por ejemplo, en lugar de decir que «hiciste todas las partes difíciles», puedes describir las partes concretas que supusieron un reto.
    </p>
  </article>
  <article>
    <p><strong>Limita los detalles</strong>
    </p>
    <p>
      Cuando un candidato parlotea sobre un problema, es difícil que lo entienda un entrevistador que no conozca bien el tema o el proyecto.
    </p>
    <p>
      Limite los detalles y limítese a exponer los puntos clave. Cuando sea posible, intenta traducirlo o al menos explicar el impacto. Siempre puedes ofrecer al entrevistador la oportunidad de profundizar más.
    </p>
    <p class="ml-4 sm:ml-6 md:ml-8">
      «Examinando el comportamiento más común de los usuarios y aplicando el algoritmo Rabin-Karp, diseñé un nuevo algoritmo para reducir la búsqueda de O(n) a 0(log n) en el 90% de los casos. Puedo entrar en más detalles si lo desea:'
    </p>
    <p>
      Esto demuestra los puntos clave al tiempo que permite a tu entrevistador pedir más detalles si lo desea.
    </p>
  </article>
  <article>
    <p><strong>Céntrese en sí mismo, no en su equipo</strong>
    <p>
      Las entrevistas son fundamentalmente una evaluación individual. Desgraciadamente, cuando se escucha a muchos candidatos (especialmente a los que ocupan puestos de liderazgo), sus respuestas hablan de «nosotros», «nos» y «el equipo»: el entrevistador se va sin tener ni idea de cuál ha sido el impacto real del candidato y puede llegar a la conclusión de que ha hecho poco.
    </p>
    <p>
      Preste atención a sus respuestas. Preste atención a cuánto dice «nosotros» frente a «T' Asuma que todas las preguntas se refieren a su función, y hable de ello.
    </p>
  </article>
  <article>
    <p><strong>Respuestas estructuradas</strong>
    <p>
      Hay dos formas comunes de estructurar las respuestas a una pregunta de comportamiento: primero la pepita y S.A.R. Estas técnicas pueden utilizarse por separado o juntas.
    </p>
    <p><em>Primero la pepita</em>
    </p>
    <p>
      Nugget First significa empezar la respuesta con una «pepita» que describa sucintamente de qué tratará la respuesta.
    </p>
    <p>
      Por ejemplo
    </p>
    <ul>
      <li>
        Entrevistador: «Hábleme de una ocasión en la que tuvo que convencer a un grupo de personas para que hicieran un gran cambio:
      </li>
      <li>
        Candidato: «Claro, le contaré la vez que convencí a mi facultad para que permitiera a los estudiantes universitarios impartir sus propios cursos. Al principio, mi facultad tenía una norma...:'
      </li>
    </ul>
    <p>
      Esta técnica capta la atención de tu entrevistador y deja muy claro de qué va a tratar tu historia. También te ayuda a centrarte más en tu comunicación, ya que has dejado muy claro cuál es la esencia de tu respuesta.
    </p>
    <p>
      <em>S.A.R. (Situación, Acción, Resultado)</em>
    </p>
    <p>
      El enfoque S.A.R. significa que empiezas describiendo la situación, luego explicas las acciones que has llevado a cabo y, por último, describes el resultado.
    </p>
    <p>
      <em>Ejemplo: «Háblame de una interacción difícil con un compañero de equipo».</em>
    </p>
    <ul>
      <li><strong>Situación:</strong>
        En mi proyecto de sistemas operativos, me asignaron trabajar con otras tres personas. Mientras que dos eran estupendas, el tercer miembro del equipo no aportaba mucho. Se quedaba callado durante las reuniones, rara vez participaba en las discusiones por correo electrónico y le costaba completar sus componentes. Esto era un problema no sólo porque nos hacía cargar con más trabajo, sino también porque no sabíamos si podíamos contar con él.
      </li>
      <li><strong>Acción:</strong>
        No quería descartarle por completo, así que intenté resolver la situación. Hice tres cosas.
        <p>
          En primer lugar, quise entender por qué actuaba así. ¿Era pereza? ¿Estaba ocupado con otra cosa? Entablé una conversación con él y le hice preguntas abiertas sobre cómo se sentía. Curiosamente, de la nada, me dijo que quería encargarse de la redacción, que es una de las partes que requieren más tiempo. Esto me demostró que no era pereza, sino que no se sentía lo bastante bueno como para escribir código.
        </p>
        <p>
          En segundo lugar, ahora que entiendo la causa, intenté dejarle claro que no debe temer meter la pata. Le conté algunos de los errores más importantes que cometí y admití que yo tampoco tenía claras muchas partes del proyecto.
        </p>
        <p>
          En tercer y último lugar, le pedí que me ayudara a desglosar algunos de los componentes del proyecto. Nos sentamos juntos y diseñamos una especificación exhaustiva para uno de los grandes componentes, con mucho más detalle que antes. Una vez que pudo ver todas las piezas, se dio cuenta de que el proyecto no era tan aterrador como pensaba.
        </p>
      </li>
      <li><strong>Resultado:</strong>
        Aumentó su confianza y se ofreció a encargarse de las tareas de codificación más pequeñas y, finalmente, de las más grandes. Terminó todo su trabajo a tiempo y contribuyó más en las discusiones. Estábamos encantados de trabajar con él en un futuro proyecto.
      </li>
    </ul>
    <p>
      La situación y el resultado deben ser sucintos. Por lo general, el entrevistador no necesita muchos detalles para entender lo ocurrido y, de hecho, puede sentirse confundido por ellos.
    </p>
    <p>
      Si utilizas el modelo S.A.R. con situaciones, acciones y resultados claros, el entrevistador podrá identificar fácilmente cómo causaste impacto y por qué fue importante.
    </p>
    <p>
      Considera la posibilidad de colocar tus historias en la siguiente cuadrícula:
    </p>
  </article>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>Nugget</td>
        <td>Situation</td>
        <td>Action(s)</td>
        <td>Result</td>
        <td>What It Says</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Story 1</td>
        <td></td>
        <td></td>
        <td><p>1. ...</p><p>2. ...</p><p>3. ...</p></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Story 2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <article>
    <p><strong>Explore la acción</strong></p>
    <p>
      En casi todos los casos, la «acción» es la parte más importante de la historia. Por desgracia, hay demasiada gente que no para de hablar de la situación y se limita a pasar de largo por la acción.
    </p>
    <p>
      En lugar de eso, sumérjase en la acción. Cuando sea posible, divida la acción en varias partes. Por ejemplo: «Hice tres cosas. Primero... «Esto fomentará la profundidad.
    </p>
  </article>
  <article>
    <p><strong>Piense en lo que dice</strong></p>
    <p>
      Vuelva a leer la historia de la página 35. ¿Qué atributos de personalidad ha demostrado el candidato?
    </p>
    <ul>
      <li><strong>Iniciativa/Liderazgo:</strong>
        El candidato intentó resolver la situación abordándola de frente. 
      </li>
      <li><strong>Empatía:</strong>
        El candidato intentó comprender lo que le ocurría a la persona. El candidato también mostró empatía al saber qué resolvería la inseguridad del compañero.
      </li>
      <li><strong>Compasión:</strong>
        Aunque el compañero estaba perjudicando al equipo, el candidato no se enfadó con él. Su empatía le llevó a la compasión.
      </li>
      <li><strong>Humildad:</strong>
        El candidato fue capaz de admitir sus propios defectos (no sólo ante el compañero de equipo, sino también ante el entrevistador).
      </li>
      <li><strong>Trabajo en equipo:</strong>
        El candidato trabajó con su compañero de equipo para dividir el proyecto en partes manejables.
      </li>
    </ul>
    <p>
      Deberías pensar en tus historias desde esta perspectiva. Analiza las acciones que realizaste y cómo reaccionaste. ¿Qué atributos de personalidad demuestra tu reacción?
    </p>
    <p>
      En muchos casos, la respuesta es «ninguna». Eso suele significar que hay que modificar la forma de comunicar la historia para que el atributo quede más claro. No hay que decir explícitamente: «Hice X porque tengo empatía», pero se puede dar un paso más. Por ejemplo:
    </p>
    <ul>
      <li><strong>Atributo menos claro:</strong>
        «Llamé al cliente y le conté lo que había pasado».
      </li>
      <li><strong>Atributo más claro (empatía y valor):</strong>
        «Me aseguré de llamar yo mismo al cliente, porque sabía que apreciaría oírlo directamente de mí».
      </li>
    </ul>
    <p>
      Si sigues sin conseguir que los atributos de personalidad queden claros, quizá tengas que inventar una historia completamente nueva.
    </p>
  </article>
  <article>
    <h3>► Hábleme de usted...</h3>
    <p>
      Muchos entrevistadores empiezan la sesión pidiéndote que les hables un poco de ti o que repases tu currículum. Es la primera impresión que se lleva el entrevistador de ti, así que asegúrate de dar en el clavo.
    </p>
  </article>
  <article>
    <p><strong>Estructura</strong></p>
    <p>
      Una estructura típica que funciona bien para muchas personas es esencialmente cronológica, con la frase inicial describiendo su trabajo actual y la conclusión hablando de sus aficiones relevantes e interesantes fuera del trabajo (si las tiene).
    </p>
    <ol>
      <li><strong>Puesto actual [sólo encabezado]:</strong>
        «Soy ingeniero de software en Microworks, donde dirijo el equipo de Android desde hace cinco años:».
      </li>
      <li><strong>Universidad: </strong>
        Mi formación es en informática. Me licencié en Berkeley y pasé algunos veranos trabajando en empresas emergentes, incluida una en la que intenté lanzar mi propio negocio.
      </li>
      <li><strong>Después de la universidad:</strong>
        Después de la universidad, quería conocer empresas más grandes, así que me incorporé a Amazon como desarrollador. Fue una gran experiencia. Aprendí mucho sobre el diseño de grandes sistemas y tuve la oportunidad de impulsar el lanzamiento de una parte clave de AWS, lo que me demostró que realmente quería estar en un entorno más emprendedor.
      </li>
      <li><strong>Puesto actual [Detalles]:</strong>
        Una de mis antiguas jefas de Amazon me reclutó para unirme a su nueva empresa, lo que me llevó a Microworks. Aquí, hice la arquitectura inicial del sistema, que se ha escalado bastante bien con nuestro rápido crecimiento. Luego aproveché la oportunidad de dirigir el equipo de Android. Dirijo un equipo de tres personas, pero mi función es principalmente de liderazgo técnico: arquitectura, codificación, etc.
      </li>
      <li><strong>Fuera del trabajo:</strong>
        Fuera del trabajo, he estado participando en algunos hackathons -principalmente haciendo desarrollo iOS allí como una forma de aprenderlo más profundamente. También soy activo como moderador en foros online en torno al desarrollo Android.
      </li>
      <li><strong>Conclusión:</strong>
        Ahora estoy buscando algo nuevo, y su empresa me llamó la atención. Siempre me ha gustado la conexión con el usuario, y realmente quiero volver a un entorno más pequeño también.
      </li>
    </ol>
    <p>
      Esta estructura funciona bien para aproximadamente el 95% de los candidatos. Para los candidatos con más experiencia, podrías condensar parte de ella. Dentro de diez años, las declaraciones iniciales del candidato podrían ser sólo: «Después de licenciarme en Ciencias de la Computación en Berkeley, pasé unos años en Amazon y luego me incorporé a una startup en la que dirigí el equipo de Android».
    </p>
  </article>
  <article>
    <p><strong>Pasatiempos</strong></p>
    <p>
      Piensa detenidamente en tus aficiones. Puede que quieras o no hablar de ellas.
    </p>
    <p>
      A menudo son pura palabrería. Si tus aficiones son actividades genéricas, como esquiar o jugar con tu perro, probablemente puedas omitirlas.
    </p>
    <p>
      A veces, sin embargo, las aficiones pueden ser útiles. Esto suele ocurrir cuando
    </p>
    <ul>
      <li>El hobby es extremadamente única (por ejemplo, respirar fuego). Puede suscitar un poco de conversación y hacer que la entrevista comience con un tono más amistoso.</li>
      <li>El hobby es técnica. No sólo refuerza tus conocimientos, sino que también demuestra tu pasión por la tecnología.</li>
      <li>El hobby demuestra un atributo positivo de la personalidad. Una afición como «remodelar uno mismo su casa» demuestra ganas de aprender cosas nuevas, asumir riesgos y ensuciarse las manos (literal y figuradamente).</li>
    </ul>
    <p>
      Rara vez viene mal mencionar las aficiones, así que, en caso de duda, mejor.
    </p>
    <p>
      No obstante, piense en la mejor manera de enmarcar su afición. ¿Tienes algún éxito o trabajo específico que mostrar (por ejemplo, conseguir un papel en una obra de teatro)? ¿Este hobby demuestra algún atributo de tu personalidad?
    </p>
  </article>
  <article>
    <p><strong>Añade muestras de tus éxitos</strong></p>
    <p>
      En el discurso anterior, el candidato ha dejado caer casualmente algunos aspectos destacados de su trayectoria.
    </p>
    <ul>
      <li>
          En concreto, menciona que su antiguo jefe le contrató en Microworks, lo que demuestra que tuvo éxito en Amazon.
      </li>
      <li>También menciona que le gustaría estar en un entorno más pequeño, lo que muestra algún elemento de encaje cultural (suponiendo que se trate de una startup a la que se presenta).</li>
      <li>
        Menciona algunos éxitos que ha tenido, como el lanzamiento de una parte clave de AWS y la arquitectura de un sistema escalable.
      </li>
      <li>Menciona sus aficiones, ambas demuestran su afán por aprender.</li>
    </ul>
    <p>
      Cuando pienses en tu discurso, piensa en qué dicen de ti los distintos aspectos de tu trayectoria. ¿Puedes dejar caer muestras de éxitos (premios, ascensos, haber sido contratado por alguien con quien trabajaste, lanzamientos, etc.)? ¿Qué quieres comunicar sobre ti?
    </p>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="parte-6">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Parte VI</div>
    </a>
  </footer>
</Layoutcracking>