---
import Layoutcracking from "../../layouts/Layoutcracking.astro"
---
<Layoutcracking title="Como superar una entrevista de codificación">
  <h1>Parte II</h1>
  <h2>Entre bastidores</h2>
  <article>
    <p>
      La mayoría de las empresas realizan sus entrevistas de forma muy similar. Le ofreceremos una visión general de cómo entrevistan las empresas y qué es lo que buscan. Esta información debería orientar su preparación para la entrevista y sus reacciones durante y después de la misma.
    </p>
    <p>
      Cuando le seleccionan para una entrevista, suele pasar por una entrevista de preselección. Suele realizarse por teléfono. Los candidatos universitarios que asisten a las mejores escuelas pueden tener estas entrevistas en persona.
    </p>
    <p>
      No se deje engañar por el nombre: la entrevista de "preselección" suele incluir preguntas sobre codificación y algoritmos, y el listón puede estar tan alto como en las entrevistas en persona. Si no está seguro de si la entrevista será técnica o no, pregunte a su coordinador de contratación qué puesto ocupa su entrevistador (o qué podría cubrir la entrevista). Por lo general, un ingeniero realizará una entrevista técnica.
    </p>
    <p>
      Muchas empresas han aprovechado los editores de documentos sincronizados en línea, pero otras esperarán que escriba código en papel y se lo lea por teléfono. Algunos entrevistadores pueden incluso darte "trabajo para casa" para que lo resuelvas después de colgar el teléfono o simplemente pedirte que les envíes por correo electrónico el código que has escrito.
    </p>
    <p>
      Lo normal es hacer una o dos entrevistas de preselección antes de que te lleven al lugar de trabajo.
    </p>
    <p>
      En una ronda de entrevistas presenciales suele haber entre 3 y 6 entrevistas en persona. Una de ellas suele ser durante el almuerzo. La entrevista durante el almuerzo no suele ser técnica y es posible que el entrevistador ni siquiera envíe comentarios. Es una buena persona con la que hablar de sus intereses y preguntarle sobre la cultura de la empresa. Las demás entrevistas serán principalmente técnicas e incluirán una combinación de preguntas sobre codificación, algoritmos, diseño/arquitectura y comportamiento/experiencia.
    </p>
    <p>
      La distribución de las preguntas entre los temas anteriores varía de una empresa a otra, e incluso de un equipo a otro, debido a las prioridades de la empresa, su tamaño o simplemente al azar. Los entrevistadores suelen tener mucha libertad a la hora de formular las preguntas.
    </p>
    <p>
      Después de la entrevista, los entrevistadores te darán su opinión de alguna forma. En algunas empresas, los entrevistadores se reúnen para hablar de tu rendimiento y tomar una decisión. En otras empresas, los entrevistadores envían una recomendación al director de contratación o al comité de contratación para que tomen la decisión final. En algunas empresas, los entrevistadores ni siquiera toman la decisión; sus comentarios pasan a un comité de contratación para que tome una decisión.
    </p>
    <p>
      La mayoría de las empresas responden al cabo de una semana con los siguientes pasos (oferta, rechazo, más entrevistas o simplemente una actualización del proceso). Algunas empresas responden mucho antes (a veces el mismo día) y otras tardan mucho más.
    </p>
    <p>
      Si has esperado más de una semana, deberías ponerte en contacto con tu reclutador. Si tu reclutador no responde, no significa que te hayan rechazado (al menos no en ninguna gran empresa tecnológica, y en casi ninguna otra empresa). Repito una vez más: no responder no indica nada sobre tu situación. La intención es que todos los reclutadores se lo comuniquen a los candidatos una vez tomada la decisión final.
    </p>
    <p>
      Puede haber retrasos, y de hecho los hay. Ponte en contacto con tu reclutador si esperas un retraso, pero sé respetuoso cuando lo hagas. Los reclutadores son como tú. También están ocupados y son olvidadizos.
    </p>
  </article>
  <article>
    <h3>► La entrevista de Microsoft</h3>
    <p>
      Microsoft quiere gente inteligente. Frikis. Personas apasionadas por la tecnología. Probablemente no te examinarán sobre los entresijos de C++ APls, pero se espera que escribas código en la pizarra.
    </p>
    <p>
      En una entrevista típica, te presentarás en Microsoft en algún momento de la mañana y rellenarás el papeleo inicial. Tendrás una breve entrevista con un reclutador que te dará un ejemplo de pregunta. Por lo general, el encargado de la contratación está allí para prepararte, no para interrogarte sobre cuestiones técnicas. Si te hacen algunas preguntas técnicas básicas, puede ser porque el encargado de la contratación quiere facilitarte la entrevista para que estés menos nervioso cuando empiece la entrevista «de verdad».
    </p>
    <p>
      Sé amable con tu reclutador. Tu reclutador puede ser tu mayor defensor, incluso presionando para que te vuelvan a entrevistar si tropezaste en la primera entrevista. Puede luchar para que te contraten, ¡o no!
    </p>
    <p>
      Durante el día, harás cuatro o cinco entrevistas, a menudo con dos equipos diferentes. A diferencia de muchas empresas, donde te reúnes con tus entrevistadores en una sala de conferencias, en Microsoft te reunirás con ellos en su oficina. Es un buen momento para echar un vistazo y hacerse una idea de la cultura del equipo.
    </p>
    <p>
      Dependiendo del equipo, los entrevistadores pueden o no compartir sus comentarios sobre ti con el resto del grupo de entrevistadores.
    </p>
    <p>
      Cuando termines tus entrevistas con un equipo, es posible que hables con un responsable de contratación (a menudo llamado «as app'; abreviatura de “as appropriate”). Si es así, ¡es una gran señal! Probablemente significa que has superado las entrevistas con un equipo concreto. Ahora depende de la decisión del responsable de contratación.
    </p>
    <p>
      Puede que la decisión llegue ese mismo día, o puede que tarde una semana. Después de una semana sin noticias de RR.HH., envía un correo electrónico amistoso solicitando una actualización de la situación.
    </p>
    <p>
      Si el responsable de contratación no responde, es porque está ocupado, no porque te estén rechazando en silencio.
    </p>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      «¿Por qué quiere trabajar para Microsoft?»
    </p>
    <p>
      En esta pregunta, Microsoft quiere ver que te apasiona la tecnología. Una buena respuesta podría ser: «Llevo utilizando software de Microsoft desde que tengo uso de razón, y me impresiona mucho cómo Microsoft consigue crear un producto que es universalmente excelente. Por ejemplo, recientemente he estado utilizando Visual Studio para aprender a programar juegos, y sus APls son excelentes:» ¡Nota cómo esto demuestra pasión por la tecnología!
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      Sólo llegarás al responsable de contratación si lo has hecho bien, así que si lo haces, ¡es una gran señal!
    </p>
    <p>
      Además, Microsoft tiende a dar a los equipos más control individual, y el conjunto de productos es diverso. Las experiencias pueden variar sustancialmente en Microsoft, ya que los distintos equipos buscan cosas diferentes.
    </p>
  </article>
  <article>
    <h3>► La entrevista de Amazon</h3>
    <p>
      El proceso de contratación de Amazon suele comenzar con una entrevista telefónica en la que el candidato se entrevista con un equipo específico. Una pequeña parte de las veces, un candidato puede tener dos o más entrevistas, lo que puede indicar que uno de sus entrevistadores no estaba convencido o que se le está considerando para un equipo o perfil diferente. En casos más inusuales, como cuando un candidato es de la zona o se ha entrevistado recientemente para un puesto diferente, es posible que un candidato sólo haga una criba telefónica.
    </p>
    <p>
      El ingeniero que le entreviste normalmente le pedirá que escriba código sencillo a través de un editor de documentos compartido. También suelen hacer un amplio conjunto de preguntas para explorar con qué áreas de la tecnología estás familiarizado.
    </p>
    <p>
      A continuación, vuelas a Seattle (o a la oficina para la que te entrevisten) para cuatro o cinco entrevistas con uno o dos equipos que te han seleccionado basándose en tu currículum y en las entrevistas telefónicas. Tendrás que codificar en una pizarra y algunos entrevistadores harán hincapié en otras habilidades. A cada entrevistador se le asigna un área específica para sondear y pueden parecer muy diferentes entre sí. No pueden ver los comentarios de los demás hasta que hayan enviado los suyos, y se les disuade de comentarlos hasta la reunión de contratación.
    </p>
    <p>
      El entrevistador «elevador del listón» es el encargado de mantener alto el listón de la entrevista. Asiste a una formación especial y entrevista a candidatos que no pertenecen a su grupo para equilibrarlo. Si una entrevista parece significativamente más difícil y diferente, lo más probable es que se trate de la persona que sube el listón. Esta persona tiene una gran experiencia en entrevistas y poder de veto en la decisión de contratación. No obstante, recuerda que el hecho de que parezcas tener más dificultades en esta entrevista no significa que lo estés haciendo peor. Tu rendimiento se juzga en relación con el de otros candidatos; no se evalúa sobre la base de un simple «porcentaje de aciertos».
    </p>
    <p>
      Una vez que tus entrevistadores hayan introducido sus comentarios, se reunirán para discutirlos. Serán ellos quienes tomen la decisión de contratación.
    </p>
    <p>
      Aunque los reclutadores de Amazon suelen ser excelentes en el seguimiento de los candidatos, a veces se producen retrasos. Si no ha recibido noticias de Amazon en el plazo de una semana, le recomendamos que envíe un correo electrónico amistoso.
    </p>
  </article>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      Amazon se preocupa mucho por la escalabilidad. Asegúrate de prepararte para las preguntas sobre escalabilidad. No necesitas tener experiencia en sistemas distribuidos para responder a estas preguntas. Consulta nuestras recomendaciones en el capítulo Diseño de sistemas y escalabilidad.
    </p>
    <p>
      Además, Amazon tiende a hacer muchas preguntas sobre diseño orientado a objetos. Consulta el capítulo Diseño orientado a objetos para ver ejemplos de preguntas y sugerencias.
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      El Bar Raiser es traído de un equipo diferente para mantener el listón alto. Tienes que impresionar tanto a esta persona como al director de contratación.
    </p>
    <p>
      Amazon tiende a experimentar más con su proceso de contratación que otras empresas. El proceso descrito aquí es la experiencia típica, pero debido a la experimentación de Amazon, no es necesariamente universal.
    </p>
  </article>
  <article>
    <h3>► La entrevista de Google</h3>
    <p>
      Hay muchos rumores aterradores sobre las entrevistas de Google, pero en su mayoría son sólo eso: rumores. La entrevista no es muy diferente de la de Microsoft o Amazon.
    </p>
    <p>
      Un ingeniero de Google realiza la primera pantalla telefónica, así que espere preguntas técnicas difíciles. Estas preguntas pueden implicar la codificación, a veces a través de un documento compartido. Por lo general, a los candidatos se les exige el mismo nivel de exigencia y se les formulan preguntas similares en las entrevistas telefónicas que en las entrevistas presenciales.
    </p>
    <p>
      En la entrevista presencial, se entrevistará con entre cuatro y seis personas, una de las cuales será un entrevistador durante el almuerzo. Los comentarios del entrevistador se mantienen en secreto respecto a los demás entrevistadores, por lo que puede estar seguro de que entra en cada entrevista con la pizarra en blanco. El entrevistador no envía comentarios, por lo que es una gran oportunidad para hacer preguntas sinceras.
    </p>
    <p>
      Por lo general, los entrevistadores no se centran en temas específicos, y no hay una «estructura» o «sistema» en cuanto a lo que se le pregunta y cuándo. Cada entrevistadora puede realizar la entrevista como quiera.
    </p>
    <p>
      Los comentarios por escrito se envían a un comité de contratación (HC) formado por ingenieros y directivos para que recomienden la contratación o no contratación. Los comentarios suelen desglosarse en cuatro categorías (capacidad analítica, codificación, experiencia y comunicación) y el candidato recibe una puntuación global de 1,0 a 4,0. El comité de contratación no suele incluir a ninguno de los entrevistadores. La HC no suele incluir a ninguno de tus entrevistadores. Si lo hace, es pura casualidad.
    </p>
    <p>
      Para extender una oferta, el HC quiere ver al menos un entrevistador que sea un «avalador entusiasta:' En otras palabras, un paquete con puntuaciones de 3,6, 3,1, 3,1 y 2,6 es mejor que todos los 3,1.
    </p>
    <p>
      No es necesario que destaques en todas las entrevistas, y tu rendimiento en la prueba telefónica no suele ser un factor determinante en la decisión final.
    </p>
    <p>
      Si el comité de contratación recomienda una oferta, el expediente pasará al comité de retribuciones y, a continuación, al comité de dirección ejecutiva. La decisión puede tardar varias semanas porque hay muchas etapas y comités.
    </p>
  </article>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      Como empresa basada en la web, Google se preocupa por cómo diseñar un sistema escalable. Por lo tanto, asegúrate de prepararte para las preguntas de Diseño del sistema y Escalabilidad.
    </p>
    <p>
      Google pone un gran énfasis en las habilidades analíticas (algoritmo), independientemente de la experiencia. Debes estar muy bien preparado para estas preguntas, aunque creas que tu experiencia previa debería contar más.
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      Los entrevistadores no toman la decisión de contratación. En su lugar, introducen comentarios que se transmiten a un comité de contratación. El comité de contratación recomienda una decisión que puede ser rechazada por los ejecutivos de Google, aunque rara vez lo es.
    </p>
  </article>
  </article>
  <article>
    <h3>► La entrevista de Apple</h3>
    <p>
      Al igual que la propia empresa, el proceso de entrevistas de Apple tiene una burocracia mínima. Los entrevistadores buscarán excelentes conocimientos técnicos, pero la pasión por el puesto y la empresa también es muy importante. Aunque no es un requisito imprescindible ser usuario de Mac, al menos deberías estar familiarizado con el sistema.
    </p>
    <p>
      El proceso de entrevistas suele comenzar con una entrevista telefónica con el responsable de contratación para hacerse una idea básica de tus aptitudes, seguida de una serie de entrevistas técnicas con miembros del equipo.
    </p>
    <p>
      Cuando te inviten al campus, el responsable de contratación te dará la bienvenida y te explicará en qué consiste el proceso. A continuación tendrá entre 6 y 8 entrevistas con miembros del equipo con el que se entrevista, así como con personas clave con las que trabaja su equipo.
    </p>
    <p>
      Puede esperar una mezcla de entrevistas individuales y dobles. Prepárate para codificar en una pizarra y asegúrate de que todas tus ideas se comunican con claridad. El almuerzo es con tu posible futuro jefe y parece más informal, pero sigue siendo una entrevista. Cada entrevistador suele centrarse en un área diferente y no se le anima a que comparta sus comentarios con los demás entrevistadores, a menos que haya algo en lo que desee que profundicen los entrevistadores siguientes.
    </p>
    <p>
      Hacia el final del día, tus entrevistadores compararán notas. Si todos siguen pensando que eres un candidato viable, tendrás una entrevista con el director y el vicepresidente de la organización a la que te presentas. Aunque esta decisión es más bien informal, es una muy buena señal si lo consigues. Esta decisión también se toma entre bastidores y, si no la superas, simplemente te acompañarán fuera del edificio sin que te hayas enterado de nada (hasta ahora).
    </p>
    <p>
      Si consigues pasar a las entrevistas con el director y el vicepresidente, todos tus entrevistadores se reunirán en una sala de conferencias para darte oficialmente el visto bueno o el no. El vicepresidente no suele estar presente, pero puede vetar la contratación si no le ha impresionado. Por lo general, tu reclutador hará un seguimiento unos días más tarde, pero no dudes en llamarle para que te informe.
    </p>
  </article>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      Si sabes con qué equipo te vas a entrevistar, asegúrate de leer sobre ese producto. ¿Qué te gusta de él? ¿Qué mejorarías? Ofrecer recomendaciones específicas puede demostrar tu pasión por el trabajo.
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      Apple suele hacer entrevistas a dos, pero no te agobies por ello: es lo mismo que una entrevista individual.
    </p>
    <p>
      Además, los empleados de Apple son grandes fans de la marca. Deberías mostrar la misma pasión en tu entrevista.
    </p>
  </article>
  <article>
    <h3>► La entrevista en Facebook</h3>
    <p>
      Una vez seleccionados para la entrevista, los candidatos suelen realizar una o dos pruebas telefónicas. Las pruebas telefónicas serán técnicas e incluirán programación, normalmente con un editor de documentos en línea.
    </p>
    <p>
      Después de las entrevistas telefónicas, es posible que te pidan que hagas una tarea que incluirá una mezcla de codificación y algoritmos. Presta atención a tu estilo de codificación. Si nunca has trabajado en un entorno con revisiones exhaustivas del código, puede ser una buena idea que alguien revise tu código.
    </p>
    <p>
      Durante su entrevista in situ, se entrevistará principalmente con otros ingenieros de software, pero los responsables de contratación también participan siempre que estén disponibles. Todos los entrevistadores han recibido una formación exhaustiva y la persona con la que se entreviste no influirá en sus posibilidades de obtener una oferta.
    </p>
    <p>
      A cada entrevistador se le asigna un «papel» durante las entrevistas in situ, lo que ayuda a garantizar que no haya preguntas repetitivas y que se obtenga una imagen global del candidato. Estos roles son:
    </p>
    <ul>
      <li>
        Conductual («Jedi»): Esta entrevista evalúa tu capacidad para tener éxito en el entorno de Facebook. ¿Encajarías bien en la cultura y los valores? ¿Qué te entusiasma? ¿Cómo afrontas los retos? Prepárate también para hablar de tu interés por Facebook. Facebook quiere gente apasionada. Es posible que en esta entrevista también te hagan algunas preguntas sobre programación.
      </li>
      <li>
        Codificación y Algoritmos («Ninja»); Estas son las preguntas estándar de codificación y algoritmos, muy parecidas a las que encontrarás en este libro. Estas preguntas están diseñadas para ser desafiantes. Puedes utilizar cualquier lenguaje de programación que desees.
      </li>
      <li>
        Diseño/Arquitectura («Pirata»): Para un ingeniero de software back-end, es posible que te hagan preguntas de diseño de sistemas. A los de front-end u otras especialidades se les harán preguntas de diseño relacionadas con esa disciplina. Deberás debatir abiertamente sobre las distintas soluciones y sus ventajas y desventajas.
      </li>
    </ul>
    <p>
      Normalmente se realizan dos entrevistas «ninja» y una «jedi». Los candidatos con experiencia también suelen tener una entrevista «pirata».
    </p>
    <p>
      Después de la entrevista, los entrevistadores envían sus comentarios por escrito, antes de comentar su actuación entre ellos. De este modo se garantiza que su actuación en una entrevista no influya en la opinión de otro entrevistador.
    </p>
    <p>
      Una vez que todos los entrevistadores han enviado sus comentarios, el equipo de entrevistadores y el responsable de contratación se reúnen para tomar una decisión final. Llegan a una decisión consensuada y presentan una recomendación final de contratación al comité de contratación.
    </p>
  </article>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      Facebook, la más joven de las empresas tecnológicas de élite, busca desarrolladores con espíritu emprendedor. En tus entrevistas, debes demostrar que te encanta crear cosas rápidamente.
    </p>
    <p>
      Quieren saber si puedes crear una solución elegante y escalable utilizando el lenguaje que prefieras. Saber PHP no es especialmente importante, sobre todo teniendo en cuenta que Facebook también hace mucho trabajo de backend en C++, Python, Erlang y otros lenguajes.
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      Facebook entrevista a desarrolladores para la empresa «en general», no para un equipo específico. Si te contratan, pasarás por un «bootcamp» de seis semanas que te ayudará a ponerte al día en la enorme base de código. Recibirás asesoramiento de desarrolladores senior, aprenderás las mejores prácticas y, en última instancia, tendrás más flexibilidad para elegir un proyecto que si se te asignara uno en la entrevista.
    </p>
  </article>
  <article>
    <h3>► La entrevista de Palantir</h3>
    <p>
      A diferencia de algunas empresas que hacen entrevistas «conjuntas» (en las que se entrevista con la empresa en su conjunto, no con un equipo específico), Palantir entrevista a un equipo específico. Ocasionalmente, su solicitud puede ser redirigida a otro equipo en el que encaje mejor.
    </p>
    <p>
      El proceso de entrevistas de Palantir suele comenzar con dos entrevistas telefónicas. Estas entrevistas duran entre 30 y 45 minutos y son principalmente técnicas. En ellas se le preguntará sobre su experiencia previa y se hará hincapié en las cuestiones relacionadas con los algoritmos.
    </p>
    <p>
      También es posible que te envíen una evaluación de codificación de HackerRank, que evaluará tu capacidad para escribir algoritmos óptimos y código correcto. Los candidatos con menos experiencia, como los que están en la universidad, son especialmente propensos a someterse a una prueba de este tipo.
    </p>
    <p>
      Después, se invita a los candidatos seleccionados al campus y se les entrevista con un máximo de cinco personas. En las entrevistas in situ se analizan la experiencia previa, los conocimientos de dominio pertinentes, las estructuras de datos y algoritmos y el diseño.
    </p>
    <p>
      También es probable que le hagan una demostración de los productos de Palantir. Haga buenas preguntas y demuestre su pasión por la empresa.
    </p>
    <p>
      Después de la entrevista, los entrevistadores se reúnen para hablar de su opinión con el director de contratación.
    </p>
  </article>
  <article>
    <p><strong>Definitivamente, prepárate:</strong></p>
    <p>
      Palantir valora la contratación de ingenieros brillantes. Muchos candidatos afirman que las preguntas de Palantir son más difíciles que las de Google y otras empresas importantes. Esto no significa necesariamente que sea más difícil conseguir una oferta (aunque ciertamente puede serlo); sólo significa que los entrevistadores prefieren preguntas más difíciles. Si te vas a entrevistar con Palantir, deberías aprenderte las estructuras de datos y los algoritmos básicos por dentro y por fuera. Después, céntrate en prepararte con las preguntas más difíciles sobre algoritmos.
    </p>
    <p>
      Cepillo en el diseño del sistema también si usted está entrevistando para un papel backend. Esta es una parte importante del proceso.
    </p>
  </article>
  <article>
    <p><strong>Lo que es único:</strong></p>
    <p>
      Un reto de codificación es una parte común del proceso de Palantir. Aunque estarás delante de tu ordenador y podrás buscar el material que necesites, no vayas sin preparación. Las preguntas pueden ser extremadamente difíciles y se evaluará la eficacia de tu algoritmo. Una preparación exhaustiva de la entrevista te será de gran ayuda. También puedes practicar retos de codificación en línea en HackerRank.com.
    </p>
  </article>
  <footer class="flex justify-end">
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="parte-3">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3">Parte III</div>
    </a>
  </footer>
</Layoutcracking>