---
import Layoutcarrera from "../../layouts/Layoutcarrera.astro"
---
<Layoutcarrera title="JavaScript: La guia definitiva">

  <h1>Descifra la carrera tecnológica</h1>
  <p>Consejos de expertos para conseguir un trabajo en Google, Microsoft, Apple o cualquier empresa tecnológica de primer nivel</p>
  
</Layoutcarrera>


