---
import Layoutbook from "../../layouts/Layoutbook.astro"
---
<Layoutbook title="JavaScript: La guia definitiva">

  <h1 class="font-khand font-bold text-3xl py-4 sm:text-4xl md:text-5xl text-sky-700"> <span class="text-8xl">1 |</span> La vida en las mayores empresas tecnológicas del mundo</h1>
  <main class="flex gap-12 mb-8 sm:mb-12 md:mb-16 lg:mb-20">
    <section><p class="max-w-screen-2xl text-xl leading-6 text-red-400 font-medium sm:text-2xl md:text-3xl">Domine el lenguaje de programación más utilizado del mundo</p>
      <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">JavaScript es el lenguaje de programación de la web y es utilizado por más desarrolladores de software hoy en día que cualquier otro lenguaje de programación. Durante casi 25 años, este best seller ha sido la guía de referencia para los programadores de JavaScript, y esta nueva edición se ha actualizado completamente para cubrir la versión 2020 de JavaScript. Encontrará ejemplos de código interesantes y esclarecedores, así como nuevos capítulos sobre clases, módulos, iteradores, generadores, promesas y async/await.</p>
      <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">Este libro está dirigido a programadores que deseen aprender JavaScript y a desarrolladores web dispuestos a llevar su comprensión y dominio del lenguaje al siguiente nivel.</p>
      <ul class="max-w-screen-2xl text-lg leading-6 py-4 font-medium list-disc sm:text-xl md:text-2xl">
        <p class="my-2">Los temas incluyen:</p>
        <li class="my-2 ml-4">Tipos, variables, operadores, sentencias, objetos y matrices</li>
        <li class="my-2 ml-4">Funciones, clases, módulos, iteradores, generadores, promesas,
          y async/await</li>
        <li class="my-2 ml-4">Biblioteca estándar de JavaScript: estructuras de datos, expresiones regulares, JSON, internacionalización y URL</li>
        <li class="my-2 ml-4">La plataforma web: documentos, componentes, gráficos, redes, almacenamiento e hilos.</li>
        <li class="my-2 ml-4">Node.js: buffers, ficheros, streams, threads, procesos hijo, clientes web y servidores web</li>
        <li class="my-2 ml-4">Herramientas y extensiones del lenguaje en las que confían los desarrolladores profesionales de JavaScript</li>
      </ul>
      <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">David Flanagan lleva programando y escribiendo sobre JavaScript desde 1995. Es licenciado en Informática e Ingeniería por el Instituto Tecnológico de Massachusetts y trabaja como ingeniero de software en VMware.</p></section>
    <section class="hidden md:block font-poppins max-w-64 lg:max-w-80 text-xl bg-slate-300 py-12 px-8 self-start font-light rounded-tr-[64px]" >
      <p>"Este libro es todo lo que nunca supo que quería saber sobre JavaScript. Lleve la calidad y productividad de su código
        JavaScript al siguiente nivel. El conocimiento de David sobre el lenguaje, sus complejidades y sus trucos es asombroso.
        y brilla en esta guía verdaderamente definitiva del lenguaje JavaScript".</p>
      <p class="text-base font-bold text-right">-Schalk Neethling</p>
    </section>
  </main>
  <hr class="border-gray-300 border-2" />
  <section class="mb-8 sm:mb-12 md:mb-16 lg:mb-20" >
    <h2 class="font-khand font-bold text-3xl px-0 sm:px-8 py-4 sm:py-10 sm:text-4xl md:text-5xl text-right">Prefacio</h2>
    <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">Este libro cubre el lenguaje JavaScript y las API de JavaScript implementadas por los navegadores web y por Node. Lo escribí para lectores con alguna experiencia previa en programación que quieren aprender JavaScript y también para programadores que ya usan JavaScript pero quieren llevar su comprensión a un nuevo nivel y dominar realmente el lenguaje. Mi objetivo con este libro es documentar el lenguaje JavaScript de forma exhaustiva y definitiva y proporcionar una introducción en profundidad a las API más importantes del lado del cliente y del lado del servidor disponibles para los programas JavaScript. Por ello, se trata de un libro largo y detallado. Mi esperanza, sin embargo, es que recompense un estudio cuidadoso y que el tiempo que dedique a leerlo se recupere fácilmente en forma de una mayor productividad en la programación.</p>
    <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">
      Las ediciones anteriores de este libro incluían una amplia sección de referencias. Ya no creo que tenga sentido incluir ese material en forma impresa cuando es tan rápido y fácil encontrar material de referencia actualizado en línea. Si necesitas buscar algo relacionado con el núcleo o el lado del cliente de JavaScript, te recomiendo que visites el <a class="no-underline text-orange-500" href="https://developer.mozilla.org/" target="_blank" rel="noopener noreferrer">sitio web MDN</a>. Y para las API de Node del lado del servidor, te recomiendo que vayas directamente a la fuente y consultes la <a class="no-underline text-orange-500" href="https://nodejs.org/api" target="_blank" rel="noopener noreferrer">documentación de referencia de Node.js</a>.</p>
  </section>
  <hr class="border-gray-300 border-2" />
  <section class="flex justify-end">
    <a href=""></a>
    <a class="font-khand font-bold text-3xl py-4 sm:py-8 md:py-12 sm:text-4xl md:text-5xl" href="javascript-la-guia-definitiva/capitulo-1">
      <div class="transition-all text-nowrap relative ease-linear duration-500 w-28 sm:w-40 md:w-52
      hover:w-36 sm:hover:w-48 md:hover:w-56  hover:text-sky-500
      after:content-['↦'] after:text-red-500 after:transition-all after:ease-linear after:duration-500 after:opacity-0 after:relative after:-left-3 
      hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Capitulo 1</div></a>
  </section>
</Layoutbook>

# 1 La vida en las mayores empresas tecnológicas del mundo

Todo lo que has oído es cierto. Casi.

Las empresas tecnológicas son conocidas por sus paredes de colores brillantes, sus piscinas de bolas en la oficina, su comida gratis (orgánica y sin gluten, por supuesto) y sus lanzaderas que te llevan y te traen del trabajo. Están inmersas en un juego constante de individualismo: la última y mejor empresa toma lo que hace su predecesora y lo transforma en algo aún mejor.

Con un enfoque obvio en la tecnología, se supone que sus divisiones de ingeniería están llenas de empollones que comen, duermen y respiran código. Algunos empezaron a programar muy pronto y otros mucho más tarde, pero a casi todos les apasiona la tecnología. Para ellos no es sólo un trabajo, es algo que les encanta.

Fuera de la ingeniería -y, de hecho, la mayoría de los empleados de las empresas tecnológicas no son programadores-, la inteligencia se sigue valorando. Algunas empresas valoran las instituciones de élite, mientras que otras reconocen que muchas de las personas más brillantes nunca terminaron la universidad. Al fin y al cabo, los fundadores de muchas de estas empresas abandonaron la universidad.

Conseguir un puesto en estas empresas puede ser difícil para algunas personas, pero es absolutamente factible.

Los solicitantes de empleo que han estudiado en universidades potentes son bastante técnicos (aunque no quieran ser programadores), tienen aptitudes sólidas y demostrables en la profesión que han elegido, se comunican bien, tienen una sólida experiencia laboral, cuentan con una red de contactos sólida y pueden reunir todo esto en un buen currículum: probablemente no les resulte terriblemente difícil conseguir un trabajo en una empresa prestigiosa. Puede que su primera opción le rechace, pero tendrá otras opciones.

Ese es el candidato ideal, pero la mayoría de los candidatos de éxito no lo son. Es probable que te falten varios de esos atributos. No te des por descartado: todavía hay un camino para entrar en estas empresas de moda.

La vida en Infinite Loop y Microsoft Way

Incluso sus direcciones sugieren estereotipos empresariales. Microsoft, en One Microsoft Way, grita grande y descomunal. La dirección de Google, 1600 Amphitheatre Parkway, es discreta, como sus interfaces de usuario. Apple, por supuesto, se atreve a «pensar diferente» con One Infinite Loop, un juego de palabras que podría volverse en contra de una empresa menos querida.

Juvenil

A pesar de las pequeñas excentricidades de cada empresa, estas compañías son mucho más parecidas que diferentes. Las empresas de software son jóvenes de corazón, aunque no en la realidad. Desdeñan el ambiente estirado de traje y corbata de sus predecesores y optan por vestir sólo vaqueros y camiseta. De hecho, esta actitud informal es tan potente que ha impregnado incluso las escenas sociales de los centros tecnológicos; sólo un puñado de restaurantes en Seattle y San Francisco pediría algo más que vaqueros.

Ventajas

Desesperadas por atraer y retener a los mejores y más brillantes, las empresas tecnológicas colman a sus empleados de prebendas. Microsoft ofrece bebidas gratis, un abono con grandes descuentos a un gimnasio de lujo y multitud de equipos deportivos extracurriculares. Google iguala y supera a Microsoft en casi todos estos aspectos. ¿Refrescos gratis? Prueba con desayuno, comida y cena gratis. ¿Suscripción gratuita al gimnasio? Utiliza el gimnasio y la piscina. Facebook clonó muchas de las ventajas de Google y añadió algunas propias, como un banco.

Los cínicos sostienen que hay otra cara de la moneda. Sostienen que las ventajas sólo están ahí para garantizar que te quedes más tiempo en la oficina e infantilizar a los empleados hasta el punto de que ya no se sientan autosuficientes y capaces de renunciar.

Puede que sea una mala interpretación, pero hay algo de verdad en ello. Cuando haces la comida y los recados diarios en el campus, pasas menos tiempo fuera de él y más tiempo trabajando.

Equilibrio vida/trabajo

A pesar de los rumores en contra, las grandes empresas tecnológicas suelen ofrecer un equilibrio bastante razonable entre trabajo y vida privada. No es un trabajo de 9 a 5 -de hecho, la oficina está relativamente tranquila a las 9 de la mañana-, pero pocas personas trabajan más de 45 a 50 horas semanales de forma regular. Muchas personas trabajan alrededor de 40 y se consideran empleados fuertes.

El horario también es flexible. No importa si se llega pronto o tarde, siempre que se haga el trabajo y se esté presente en las reuniones.

En gran medida, la flexibilidad y el equilibrio entre trabajo y vida personal son una reacción a las dificultades que tienen estas empresas para encontrar ingenieros con talento. Hay escasez de grandes ingenieros en Estados Unidos. Si una empresa tecnológica los sobrecargara de trabajo, la empresa tendría aún más problemas para contratar ingenieros.

La excepción, como en la mayoría de los trabajos, son los periodos de crisis. Los lanzamientos de software son estresantes para cualquier equipo.

Ascendiendo: Colaboradores individuales

Aunque otros sectores empujan a los empleados de alto rendimiento a puestos directivos, las empresas tecnológicas tienden a estar más abiertas al papel de colaborador individual. Muchas empresas tienen vías de promoción que ofrecen un gran salario y más responsabilidad individual sin convertirse en directivo. Después de todo, los grandes ingenieros no son necesariamente los mejores directivos.

Un empleado, sobre todo en ingeniería, puede seguir obteniendo ascensos y mayores responsabilidades técnicas sin convertirse en gestor de personas. Con el tiempo, este empleado puede llegar a ser arquitecto o ingeniero distinguido, ganándose uno de los puestos más respetados dentro de la empresa. Quizá no sea tan glamuroso como ser vicepresidente, pero para algunas personas, esto es justo lo que necesitan.

Las diferencias

Las diferencias culturales entre las empresas a menudo se remontan a sus raíces.

Muchos dirían que Amazon es más una empresa minorista que una empresa de software. Tuvo que hacer frente a tiempos muy difíciles durante la crisis de las puntocom y sigue luchando por unos márgenes de beneficio muy inferiores a los de una empresa de software. En consecuencia, Amazon es extremadamente frugal y se abstiene de ofrecer los lujosos beneficios que podrían ofrecer otras empresas de software. Además, algunos empleados han sugerido que la empresa no valora la innovación técnica por sí misma, sino que busca una relación inmediata y causal con los beneficios. Pero no deje que eso le disuada demasiado; de hecho, Amazon es líder en múltiples sectores (comercio minorista, computación en la nube, etc.) en gran medida gracias a su innovación técnica. La empresa se mueve a un ritmo vertiginoso y los plazos pendientes a menudo implican trasnochar.

Apple es tan reservada por dentro como por fuera. No es de extrañar que la innovación de una empresa dependa tanto de su aspecto y su cuota de mercado de un bombo publicitario perfectamente orquestado. La empresa no puede permitirse que se le escapen sus secretos. Los empleados son fans acérrimos, como era de esperar, pero rara vez saben en qué trabajan sus compañeros de otros equipos.

Microsoft ha incursionado en las búsquedas y la web, pero gran parte de sus ingresos proceden de Windows y Office. Los parches para estos productos son caros, por lo que la empresa tiende a trabajar con calendarios de lanzamiento más largos y plurianuales. Esto significa ir más despacio, asumir menos riesgos y asegurarse de hacerlo todo bien a la primera. El lado positivo es que la empresa tiende a tener un buen equilibrio entre trabajo y vida privada, ya que las fechas de lanzamiento son relativamente poco frecuentes. Muchos antiguos empleados dicen que, aunque les encantaba la empresa, su gigantesco tamaño podía ahogar la innovación y la asunción de riesgos. Sin embargo, la cultura de cada equipo es muy diversa, y algunos pueden ser más innovadores que otros.

Google es lo más friki de lo friki. Fundada por dos antiguos doctores de Stanford, la empresa sigue valorando más a los ingenieros que a los no ingenieros. La empresa se mueve con rapidez, lanzando productos semanalmente, y puede valorar la innovación técnica hasta la saciedad. Como empresa basada en la web, puede permitirse asumir algunos riesgos en los productos; después de todo, enviar una nueva aplicación a la web es mucho más fácil que empaquetar y enviar por correo un software. Google valora su jerarquía plana, pero también tiene su lado negativo. Es posible que tu jefe tenga demasiada gente a sus órdenes como para preocuparse por el progreso de tu carrera, y ascender puede ser todo un reto.

Facebook ha aprendido del ejemplo de Google y ha modelado gran parte de su cultura de acuerdo con él, con algunas diferencias. Mientras que Google tiende a ser más científico y académico, Facebook da prioridad a hacer las cosas. Su mantra original - «muévete rápido y rompe cosas»- dice mucho de la actitud de la empresa. No quiere dejar pasar una oportunidad por ir demasiado despacio o por miedo a asumir riesgos. Busca este tipo de actitud en sus empleados. A medida que la empresa ha crecido, ha visto el valor de hacer más cosas bien a la primera, pero sigue conservando la cultura hacker.

Aunque estas generalizaciones son bastante coherentes, algunas empresas tienen una gran variación entre los equipos. Por ejemplo, Microsoft y Amazon tienden a basarse bastante en los equipos y, por tanto, sus culturas son menos coherentes. Investiga siempre tanto la cultura de tu empresa como la de tu equipo.

Grande o pequeño: ¿Es una start-up adecuada para ti?

Vaya a casi cualquier escuela de negocios y verá que hay aproximadamente tres veces más personas que afirman estar interesadas en las start-ups que personas que realmente acaban siguiendo esta trayectoria profesional. ¿Por qué? Porque las start-ups son sexys.

Los periódicos difunden historias de empresas que han triunfado o que han fracasado, y siempre pensamos que nosotros podemos hacerlo mejor. Las start-ups son un juego de alto riesgo en el que te juegas tanto tu tiempo como tu dinero.

Sin embargo, para la persona adecuada con la oportunidad adecuada, el entorno de una start-up puede ser fantástico.

Lo bueno

Muchos dicen que para los verdaderos emprendedores, esta carrera de alto riesgo está en su naturaleza. Les pica el gusanillo de emprender, ya sea en la universidad o en alguna gran empresa, y saben que necesitan estar en un lugar mucho, mucho más pequeño. Y su nueva trayectoria profesional les ofrece mucho valor a cambio:

Diversidad de habilidades. Mientras que las grandes empresas cuentan con personal especializado en marketing y finanzas, las start-ups nunca tienen personal suficiente para desempeñar todas las funciones. Y cuanto más pequeña es la empresa, más sombreros hay que ponerse. A menos que estés muy centrado en un solo campo (en cuyo caso deberías evitar las start-ups), esto puede ser muy positivo. Desarrollarás un conjunto de habilidades más diverso, lo que te ayudará en tu futura búsqueda de empleo.

Oportunidades de liderazgo. Cuando -o si- tu start-up crezca, estarás en una buena posición para dirigir tu propio equipo. Muchas personas se incorporan a una empresa y, al cabo de unos meses, se encuentran con que deben dirigir a varios empleados recién contratados. Tendrías que llevar años en una empresa más grande para tener esa oportunidad.

Control e influencia. ¿Preferirías tener una influencia mínima en la herramienta de informes de errores de Microsoft o dirigir un giro importante para una oscura empresa emergente? Ambas respuestas son válidas, pero algunos se inclinan por la segunda. Prefieren tener cosas grandes y sustanciosas que mostrar por su trabajo, incluso si su empleador es desconocido. En una start-up, no sólo estás dando forma a la empresa en la forma en que desempeñas tus responsabilidades inmediatas, sino que también estás ofreciendo tu opinión sobre todos los aspectos del negocio. ¿Crees que el boletín debería incluir contenidos sobre herramientas y plug-ins relacionados? Es su trabajo hablar, y todo el mundo le escuchará. Siempre conoces a los responsables de la toma de decisiones en cualquier departamento.

Resultados rápidos. No tendrás que esperar años para ver tu trabajo en el mundo real; ocurrirá en cuestión de meses. Lo mismo ocurre con cualquier decisión que tomes. Para bien o para mal, el resultado es visible en cuestión de meses, lo que le permite aprender de sus errores (y aciertos) mucho más rápido.

Alta recompensa. No asumimos todo este riesgo en vano. Las start-ups pueden hacerte muy, muy rico si tienes mucha suerte. Por supuesto, también puede no aportarte absolutamente nada desde el punto de vista financiero, y suele ser el caso.

A algunas personas les encantan las start-ups. La velocidad. La innovación. El riesgo. El aprendizaje sobre la marcha. El impacto. Pero por mucho que se glorifique a las start-ups, también es razonable decidir que no son para ti, o al menos tener sentimientos encontrados.

Lo malo

El agotamiento es algo muy real. Puede que te apasione tu nueva empresa de social-location-group-buying-thingy-dot-com, pero las cosas cambian y las pasiones mueren. Las siguientes tensiones son las que más suelen desgastar a la gente.

Muchas horas de trabajo. Con la cantidad de dinero y carreras que dependen del éxito de una start-up, las largas horas son críticas. Los que hacen lo mínimo no duran mucho, y las start-ups no tienen el miedo a despedir a los que no rinden como las grandes empresas.

Descripción poco clara del puesto. Te contrataron para hacer pruebas y ahora estás ayudando a buscar oficinas. Bueno, mal asunto. Alguien tiene que hacerlo. Las start-ups no tienen tiempo ni dinero para contratar a un especialista para cada tarea, así que se espera que los empleados colaboren en proyectos que están fuera de sus funciones. Eso puede significar que pases menos tiempo haciendo lo que te gusta y más tiempo haciendo lo que la empresa quiere que hagas.

Sueldos más bajos. Con muy pocas excepciones, las empresas de nueva creación suelen pagar salarios inferiores a los del sector y compensan la diferencia con opciones sobre acciones. Si la empresa fracasa (como suele ocurrir), tus opciones sobre acciones no valen nada. Por desgracia, es difícil comprender el valor de las opciones sobre acciones.

Credibilidad limitada. Los primeros empleados de Google y FaceBook tienen mucha credibilidad, pero seamos realistas: ¿cuáles son las probabilidades? Puede que te unas a una start-up, sólo para que fracase en seis meses. Y de repente vuelves al mercado laboral con una empresa sin nombre en tu currículum.

Menos tutoría. Las grandes empresas han invertido tiempo y dinero en saber cómo formar a los nuevos empleados; las start-ups carecen de ambas cosas. Es probable que no inviertan en convertirte en un gran líder en tres años, porque tendrán suerte si consiguen llegar tan lejos. Las grandes empresas pueden enseñarte una forma estructurada de resolver problemas, bajo la dirección de profesionales con más experiencia, mientras que los de las start-ups aprenden sobre la marcha. Y si tus compañeros nunca han pasado tiempo en una gran empresa, es posible que nunca les hayan enseñado cómo hacen las cosas las empresas «de verdad».

Inestabilidad. Las start-ups son intrínsecamente inestables; viene con el riesgo. Si te resulta fácil encontrar trabajo, es posible que no te preocupe demasiado la estabilidad laboral. Pero, ¿qué ocurre cuando pasas por cuatro trabajos en cinco años? Llegará un momento en que querrá sentar la cabeza.

Curiosamente, muchos ex empleados de grandes empresas consideran que la falta de credibilidad fue lo que más les costó superar. Pasaron años en los que el nombre de su empresa significaba algo para cualquier persona de la calle. Ahora, están en el mismo grupo que todos los demás que luchan por la credibilidad y la reputación.

Lo feo

En los cuatro años que Ryan pasó en Amazon, trabajó para cuatro empresas diferentes. Dejó una empresa debido a un desajuste de personalidad entre él y el director general. Se intercambiaron palabras.

No fue agradable. La siguiente empresa quebró. La tercera empezó a torcerse y decidió salir antes de que fuera demasiado tarde. La cuarta es una empresa que él mismo fundó.

Cuando te unes a una start-up, te la juegas. Las cosas tienden a complicarse.

Promesas rotas. «En cuanto consigamos la siguiente ronda de financiación», promete el CEO de una start-up, “te ascenderán”. Es una historia familiar. Es probable que el CEO tenga buenas intenciones. Quizá sea demasiado optimista, pero probablemente no mienta. Pero, muy a menudo, el ascenso -o el asistente, o el equipo, o el proyecto- nunca se hace realidad.

Mala gestión. Muchos directores generales y gerentes de start-ups son primerizos. A veces acaban de salir de la universidad y apenas tienen experiencia laboral. Van a meter la pata, y mucho.

Trabajar para niños. ¿Estás preparado para tener como jefe a un joven de 25 años? Es poco probable en una empresa más grande, pero podría ocurrir en una start-up de rápido crecimiento. Esto puede ser un problema no sólo en términos de los problemas de gestión antes mencionados, sino que también puede ser un golpe para el ego de alguien que le dirija alguien mucho más joven.

Trabajo perdido. Los proyectos que se cancelan antes o después del lanzamiento forman parte de la industria tecnológica. También ocurre en las grandes empresas, pero es especialmente común en las start-ups. Una start-up puede tener que hacer un cambio rápido de dirección y cortar todo aquello en lo que has invertido tu tiempo y esfuerzo. De hecho, no es raro conocer a alguien con 20 años de experiencia y cero proyectos «supervivientes». Lo normal es que no te despidan si sólo se trata de un cambio de proyecto. La mayor preocupación es el efecto sobre la moral de la empresa.

Va a ser un viaje lleno de baches. Las personas que se incorporan a start-ups deben estar mentalmente preparadas para este cambio constante.

El puesto de trabajo: ¿Qué quieres ser de mayor?

La pregunta que se hace a todos los niños una y otra vez: «¿Qué quieres ser de mayor?». De niños respondemos definitivamente, pero a medida que crecemos, muchos empiezan a pensar «realmente no lo sé».

Pocas personas, sobre todo fuera del ámbito de la ingeniería, se centran en sus objetivos profesionales a largo plazo. No pasa nada. Habla con la gente, busca puestos y empieza a averiguar qué es importante para ti. Hazte las siguientes preguntas para empezar a entender qué carrera profesional tiene sentido.

¿Qué necesitas?

Nuestra sociedad se contradice cada día. Por un lado, nos dicen una y otra vez: «El dinero no compra la felicidad», y tenemos las desastrosas vidas de los famosos para inculcárnoslo. Por otro lado, también nos dicen que realmente necesitamos esa chaqueta nueva. Olvídate de lo que crees que debería importarte y sé sincero contigo mismo. ¿Cuánto te importan las siguientes cosas?

El dinero. Puede que el dinero no compre la felicidad, pero sí la matrícula universitaria de tus hijos. Y una casa en un buen barrio. O tal vez una buena botella de vino después de una semana dura. ¿Eso le importa? Cuidado con fijarse demasiado en el dinero. Aunque puedes estar bastante seguro de que tu sueño de ser profesor nunca te reportará mucho dinero, no puedes estar tan seguro de muchas otras profesiones. Las personas apasionadas y motivadas pueden ganarse bien la vida de formas inesperadas.

Reconocimiento y respeto. Muchas personas que huyen de los focos siguen anhelando desesperadamente la admiración de sus semejantes. ¿Cuánto te importa lo que los demás piensen de ti? ¿Te parecería bien que la gente sólo te dedicara una sonrisa de cortesía cuando compartes tu profesión?

Equilibrio entre trabajo y vida privada. No hay nada malo en querer un trabajo agradable, estable, de 9 a 5 (o en el mundo de la tecnología, de 10 a 6). Quieres poder disfrutar de un buen día en el barco durante el verano, y eso está bien. No tienes por qué decidir priorizar tu carrera por encima de todo lo demás.

Si encuentras que tus respuestas se inclinan hacia un trabajo por alguna razón, pregúntate por qué. ¿Hay algo que necesites de ese trabajo que no conseguirías?

¿Te gusta trabajar?

Los solicitantes de empleo piensan mucho en su proyecto, sus responsabilidades, la empresa y otros factores. Sin embargo, pocos piensan en el estilo de trabajo en sí. ¿Te gusta trabajar?

Trabajo en equipo frente a trabajo independiente. A todo el mundo le encanta decir: «¡El trabajo en equipo es lo mejor!», pero en el fondo ves los problemas. Compañeros de trabajo que te decepcionan o simplemente te estorban. Necesidad de consenso para tomar una decisión. Gestionar las emociones y expectativas de todos. ¿Es algo que realmente te gusta?

Crear frente a mantener. Mientras que el desarrollo de software consiste en crear un nuevo producto, las pruebas consisten en mantenerlo. No hay resultados tangibles de tu trabajo; es más como desenchufar un fregadero mientras el agua sigue corriendo. Seguirá saliendo y saliendo. ¿Hasta qué punto es importante sentir que has construido algo? Recuerda que incluso los trabajos de «mantenimiento» (como ser cirujano) pueden tener enormes repercusiones en el mundo.

Liderar frente a unirse. Liderar está muy bien, pero los que se unen son los que se ensucian las manos. ¿Quieres liderar, con todas las alegrías y responsabilidades que ello conlleva? ¿O prefieres relajarte un poco más y unirte a otra persona para llevar a cabo una tarea?

¿En qué eres bueno?

Aunque no sepas en qué campo quieres trabajar, probablemente tengas una idea de cuáles son tus habilidades. ¿Cuáles son tus puntos fuertes?

Los números. Los números son más fáciles para unos que para otros. ¿Eres de los que entienden los problemas de palabras del mundo real e improvisan una hoja de cálculo para demostrarlo?

Escritura y comunicación. No te preocupes por la prosa y la poesía; rara vez son relevantes en el mundo profesional. Es más importante ser capaz de comunicarse eficazmente, tanto oralmente como por escrito.

Creatividad. La creatividad va más allá de las habilidades artísticas; también tiene que ver con la forma de resolver problemas. Cuando te enfrentas al problema de lanzar un producto de software en China, ¿puedes pensar en otras fuentes de ingresos para evitar el índice de piratería de casi el 100 por cien?

Don de gentes. Tener don de gentes es algo más que ser simpático (aunque sin duda forma parte de ello). También consiste en saber leer a las personas, saber animarlas y saber cuándo se las está presionando demasiado. Las personas con un don de gentes especial pueden ser idóneas para puestos directivos.

Las carreras universitarias de la mayoría de las personas tienen poco que ver con su futuro profesional, así que no te sientas limitado por tu especialidad. Tus habilidades son mucho más que tus conocimientos básicos. Analiza tus éxitos y fracasos. Piensa en proyectos o trabajos reales en los que te hayas sentido especialmente feliz o infeliz. ¿Qué fue lo que marcó la diferencia? Las respuestas a estas preguntas le ayudarán a orientarse en la dirección correcta.

No es para todos

Para muchas personas, la tecnología es el mejor campo al que podrían dedicarse. Les encanta la cultura, el impacto mundial, los problemas difíciles y el ritmo acelerado.

Pero la tecnología no es universalmente la mejor y no es para todo el mundo.

Algunas personas deciden aceptar su trabajo, recoger su casa de San Francisco y alejarse por completo de la industria tecnológica, literal y figuradamente. Estaban hartos de lo que consideraban una mentalidad universitaria. Les frustraba trabajar constantemente con chicos de 25 años. Les desanimaba la idea de que el mundo giraba en torno a esas empresas tecnológicas. O quizá simplemente ya no querían vivir en Silicon Valley, donde están la mayoría de las grandes empresas tecnológicas.

La tecnología es un lugar maravilloso para el tipo de persona adecuado. Si crees que eres tú, sigue leyendo. . .


2 Posicionamiento y preparación avanzados

Conseguir un trabajo en una empresa tecnológica puede empezar con una entrevista, pero para conseguirlo hay que pensar con meses o años de antelación. Levantarse una mañana y decir: «¿Sabes qué? Me gustaría trabajar para Google», no funciona, no si no has hecho ya las cosas bien.

En este caso, hacer lo correcto significa establecer, idealmente, las cuatro partes de un marco:

1. Habilidades relevantes
2. Prestigio/credibilidad
3. Una conexión técnica 5. Algo especial

Hablemos de cada una de ellas y de cómo obtenerlas.

Un marco de posicionamiento

El candidato excepcional cubre las cuatro áreas: habilidades, credibilidad, conexión técnica y algo especial. Sin embargo, un candidato de éxito típico sólo tiene dos o tres de ellas, pero es de esperar que sea excepcional en una de ellas. Puede compensar los puntos débiles en una de ellas con los puntos fuertes en las otras.

Habilidades relevantes

Si quiere ser desarrollador de software, necesita conocimientos de desarrollo de software. Si quiere ser comercial, necesita conocimientos de marketing. Estas habilidades pueden provenir de tu trabajo en la universidad, del voluntariado, del lanzamiento de tu propio negocio o proyecto paralelo, o de tu vida profesional.

Estas competencias pueden ser las siguientes

Habilidades específicas. Te posicionarás mejor para estas empresas si desarrollas una habilidad específica y tangible. Si quieres dedicarte al marketing, aprende sobre marketing. Si quieres dedicarte a las ventas, ayuda a una organización local a recaudar fondos. Sin una habilidad tangible, lo más probable es que te mezcles con los demás, con todos los que esperan en la puerta a que te dejen entrar.

Habilidades numéricas/cuantitativas. Las habilidades cuantitativas pueden ser importantes por sí mismas, pero también porque la gente piensa que ser bueno con los números equivale a ser inteligente. Puedes aprovechar esta suposición. Toma algunas clases, ya sea en tu centro de estudios o en línea, que requieran matemáticas: ingeniería, cálculo, estadística, economía, etc.

Habilidades de comunicación. La comunicación, ya sea oral o escrita, es de vital importancia para tu éxito profesional. Si no te sientes cómodo hablando en público, practica. Si te cuesta escribir, haz un curso de escritura o abre un blog para practicar. No hace falta que seas capaz de hacer lecturas dramáticas ni de escribir una prosa elegante, pero sí de escribir de forma limpia y profesional.

Iniciativa. La iniciativa se demuestra empezando cosas, así que empieza algo. Puede ser un nuevo club en la escuela, organizar una reunión sobre SEO (optimización de motores de búsqueda) o lanzar un nuevo proyecto en tu trabajo actual.

Logros. Desarrolle un historial de logros. Los reclutadores quieren ver que tienes un patrón de fijación de objetivos ambiciosos y su consecución. Tus éxitos pueden ser académicos, en proyectos, como voluntario, en el trabajo o en el deporte.

Liderazgo. No hace falta que seas el presidente de un club o el director de tu equipo (aunque eso está bien, por supuesto), pero busca algo que puedas liderar. Kevin, ahora empleado de Google, dirigió el proceso de recaudación de fondos de un club local de emprendedores. Su equipo de tres personas recaudó un 17% más de dinero que el año anterior.

Piensa bien qué habilidades y atributos hacen que alguien sea bueno en este puesto y busca actividades que se ajusten a ellos.

Pero no te extiendas demasiado; la profundidad es más importante que la amplitud. No hace falta que practiques deporte, cantes, seas voluntario o des clases. Elige algo y dedícate a ello. Tendrás mucho más que mostrar de una actividad cuando tengas tiempo para dedicarte de verdad a ella.

Prestigio/Credibilidad

No es necesario haber estudiado en una universidad de la Ivy League. De hecho, la mayoría de los solicitantes no asistieron a una universidad excepcional. Sin embargo, seguro que ayuda.

Encontrar una forma de asociarte con algo prestigioso puede ofrecerte credibilidad.

Asistir a una gran universidad

Trabajar para una empresa conocida

Trabajar para una start-up financiada por una empresa de capital riesgo conocida

Trabajar para una empresa con clientes prestigiosos

Ganar un premio

Crear un proyecto paralelo de éxito

A veces, los candidatos tienen prestigio, pero no lo demuestran. ¿Mencionaste lo selectivo que era el premio que ganaste? ¿Especificó que gestionó la cuenta de ventas de las tres principales compañías financieras?

El prestigio suele ser lo más difícil de demostrar para los candidatos. No es estrictamente necesario -la mayoría de los candidatos no tienen prestigio-, pero ayuda enormemente a sus posibilidades. Hazlo lo mejor que puedas.

Conexión técnica

Los conocimientos de marketing están muy bien (para los profesionales del marketing), pero si todo tu currículum trata de marketing sanitario, no estarás en la mejor posición. Tu currículum se mezclará con todos los demás que no parecen encajar.

Es importante establecer cierta relevancia con la tecnología. Si esto no es inmediatamente obvio por tu experiencia, puedes empezar a establecer una conexión:

Asiste a fines de semana de start-ups.

Toma clases en línea.

Construye un proyecto paralelo (subcontrata si es necesario).

Crea un blog o un sitio web sobre tecnología.

Aprende a programar.

Tu objetivo es que alguien te vea como una persona que vive y respira tecnología. Quieres mostrar pasión, conocimiento y curiosidad por la tecnología.


Si no sabes mucho de tecnología, ahora es un buen momento para empezar a leer sitios web como TechCrunch y CNET, así como blogs específicos de empresas. Piensa cuáles son los temas principales -redes sociales, aplicaciones móviles, computación en nube- y pregúntate quiénes son los líderes en este campo y por qué. ¿De qué manera están cambiando estos campos la tecnología y, por tanto, el mundo?

Algo especial

Ah, la parte de «algo especial».

Encontrar una forma de ser único puede ser valioso, sobre todo cuando las habilidades que se establecen son menos cuantificables. En otras palabras, ser único como desarrollador de software es menos importante; hay formas claras y establecidas de demostrar tus habilidades de desarrollo de software (y hay una grave escasez de desarrolladores de software cualificados). Sin embargo, si tu especialidad es el marketing, demostrar tus habilidades puede ser más complejo. Aquí es donde entra en juego tener algo especial en tu currículum.

Lo ideal es que ese «algo especial» esté relacionado con una habilidad, aunque sea de forma indirecta.

«Completé 60 millas de un maratón de 100 millas, después de lesionarme en la milla 30». Demuestra una persistencia extrema y ganas de afrontar retos difíciles.

«Fundador y vocalista de un grupo de rock. Escribió todas las canciones y actuó en 20 conciertos anuales». Demuestra carisma, iniciativa, liderazgo, creatividad y oratoria.

«Imparte clases en línea sobre marketing y ha publicado cinco artículos en sitios web de los principales medios de comunicación (Forbes, CNBC y AOL)». Demuestra habilidades de marketing, comunicación escrita e iniciativa.

Demasiados candidatos pasan por alto esa actividad «extracurricular», asumiendo que es irrelevante. Si hay algo que haces que a tus amigos les parece genial, es muy probable que a un empleador también le guste, si lo expresas de la forma adecuada.

Si no tienes ese «algo especial», encuéntralo. A veces es tan fácil como decir sí a la oportunidad adecuada.

Universidad

El mundo académico es sólo una forma de distinguirse, pero hay muchas otras. Así que si tu nota media o tu centro no destacan, busca otras vías. Además, tendrás que destacar en múltiples áreas para que seleccionen tu currículum.

Escuelas de élite: ¿Qué hay detrás de un nombre?

Un título de una universidad de élite no te abre las puertas del mundo laboral, pero facilita que se fijen en ti. Si estudias en una universidad más pequeña o menos conocida, aún tienes muchas posibilidades.

Ben, estudiante de una pequeña escuela de artes liberales de Indiana, fue recomendado por su profesor para unas prácticas en Microsoft. Una vez que entró por la puerta, el nombre de su universidad dejó de importar y todo se redujo a su entrevista y a sus prácticas. «Cuando terminé mis prácticas, se esforzaron por contratarme para un puesto a tiempo completo», dice Ben. A sus compañeros de trabajo les importaba un bledo el nombre de la universidad que figuraba en su diploma.

Si tu universidad no tiene el prestigio nacional de Harvard o el MIT, acércate a tus profesores o a la red de antiguos alumnos para establecer contactos. También puedes intentar crearlas tú mismo buscando mentores o consejos de gente del sector.

Especializaciones

Aunque algunas personas bienintencionadas te aconsejarán que elijas la carrera que más te guste, ese no es el mejor consejo.

Si quieres trabajar en una empresa tecnológica, algunas especializaciones te facilitarán el acceso. Cuanto más directamente aplicable sea tu carrera, mejor. A los licenciados en informática, marketing, finanzas y contabilidad les resultará mucho más fácil que se fijen en su currículum que, por ejemplo, a un licenciado en historia. Al fin y al cabo, tienen experiencia académica, y posiblemente otra experiencia laboral, que se presta a un puesto específico.

Incluso las carreras que no son necesariamente de aplicación directa (como Matemáticas, en la mayoría de los casos) pueden mostrar rigor.

Pero hay de todo. Paul consiguió unas prácticas en Microsoft estudiando música en el Berkelee College of Music. No era un licenciado en informática y música, sino un simple licenciado en música. E incluso él tenía una función directamente aplicable: hacer efectos de sonido para Xbox. Se pasaba el día utilizando objetos domésticos corrientes para imitar sonidos como el de una pelota de golf golpeando la hierba.

Asignaturas secundarias

Si decides especializarte en algo menos pertinente, como Historia, tu asignatura secundaria es una oportunidad para añadir una habilidad pertinente a tu currículum. Busca una especialización relevante que complemente tu carrera, ya sea finanzas, marketing, informática o cualquier otra.

Una especialización también es un buen lugar para demostrar que eres cuantitativo. Una especialización en matemáticas o ingeniería lo hará, pero también lo hará una especialización en economía, finanzas o contabilidad. Sea justo o no, muchos técnicos asocian la capacidad de trabajar con números como un signo de inteligencia (además de una importante habilidad laboral), y una especialización es tu oportunidad de demostrarlo.

Aprender a programar

Aprender a programar es, por supuesto, esencial para los puestos de desarrollo de software, pero es valioso para mucho más que eso. Al fin y al cabo, esto es lo que hacen las empresas de software: escribir software.

Aprender a programar tiene una serie de ventajas para los no programadores:

Demuestra que puedes comunicarte con los desarrolladores.

Demuestra que entiendes de tecnología, incluyendo lo que es difícil y lo que es fácil.

Demuestra rigor y persistencia, e incluso inteligencia, para algunas personas.

Demuestra pasión por la tecnología.

Puedes aprender a programar a través de una especialización en informática, pero no es la única vía. Hay un montón de herramientas en línea que te permitirán empezar a escribir tus primeras líneas de código en cuestión de minutos.

Obtén experiencia en proyectos

Los cursos intensivos en proyectos son una forma excelente de añadir logros tangibles a tu currículum, incluso antes de tener las credenciales para conseguir experiencia laboral real. Mientras otros estudiantes intentan esquivar estos cursos rigurosos, tú deberías buscarlos. Deberías apreciarlos por todas las noches agotadoras llenas de pizza y café que te traen.

Peter Bailey, ingeniero de software de Denver, aconseja:

Recuerda los proyectos en los que trabajas. Compréndelos. Deconstrúyelos. Guarda ejemplos de problemas especialmente difíciles que hayas resuelto. Mejóralos, aunque sólo sea en tu propia máquina y en tu tiempo libre. Porque en el futuro, los entrevistadores te harán muchísimas preguntas sobre los proyectos en los que has trabajado. No quieren saber que eres inteligente. No quieren saber que puedes averiguar cualquier cosa con 30 segundos de Google. Quieren saber que puedes resolver problemas y producir resultados, antes de Cristo. Y esto es válido tanto si acabas de salir de la universidad como si eres un veterano de la informática con 20 años de experiencia.

Promedio de calificaciones: ¿Importa y qué puedes hacer?

De todas las empresas, Google es quizá la más conocida por su esnobismo con respecto a la nota media. La histeria rodea el proceso de contratación, gritando que Google sólo acepta candidatos con un mínimo de 3,7. Como la mayoría de los mitos, tiene algo de verdad, pero en su mayor parte es pura palabrería.

Las grandes empresas buscan a los mejores candidatos: personas con un historial de éxito. Tu nota media es uno de los puntos de ese gráfico. Pero también hay otros puntos, y puedes recuperarte de cualquier punto bajo, ya sea tu nota media, tu titulación universitaria (o la falta de ella) o incluso tu experiencia laboral.

He aquí cómo dos candidatos con una nota media inusualmente baja consiguieron ofertas de las mejores empresas:

John

John se presentó a Microsoft con una nota media de sólo 2,55/4,0, lo que le situaba en el percentil 9 de su promoción en Dartmouth. Aunque brillante, nunca le interesaron demasiado sus clases. Eran áridas y demasiado alejadas de lo práctico; a él le gustaba ensuciarse las manos.

En su penúltimo año, John descubrió que el equipo de robótica encajaba perfectamente con su lado empollón pero práctico. Dirigió el Club de Robótica al año siguiente y quedó segundo en una competición de robótica. Demostró que, de hecho, era una persona de alto rendimiento, aunque los deberes y los exámenes no fueran lo suyo.

A sus entrevistadores les pareció el típico friki que ha encontrado por fin su pasión en construir cosas, o en desmontarlas. Sus proyectos de robótica y de otro tipo le daban mucho de qué hablar en las entrevistas, y conocía los entresijos de casi cualquier artilugio.

Aunque fue rechazado por otras empresas de consultoría más tradicionales, Microsoft estuvo encantada de ofrecerle un puesto como director de programa.

Beth

Beth empezó con buen pie en el programa de informática de Berkeley, sacando sobresalientes o notables en todas las asignaturas, hasta que problemas familiares la desbarataron. Sus notas bajaron, pero antes de que eso ocurriera, consiguió un puesto como profesora asistente (TA) en uno de los cursos de informática más difíciles.

Su nota media-baja se vio compensada por otros éxitos: presidenta de su hermandad, licenciatura y máster en sólo cuatro años, proyectos serios más allá de los cursos obligatorios y varios puestos de asistente. Además, amigos que se graduaron antes que ella la recomendaron personalmente para trabajar en Google, Amazon y Microsoft.

Entre las referencias y sus otras experiencias, Beth no tuvo problemas para conseguir una entrevista telefónica y luego una ronda completa de entrevistas in situ. Sus entrevistadores le hicieron las preguntas habituales sobre ingeniería de software y nunca se fijaron en su nota media. Google, Microsoft y Amazon estaban prácticamente rogándole que se uniera a ellos.

Aunque sus razones para tener un GPA bajo pueden diferir, así como sus estrategias de compensación, Beth y John descubrieron que su GPA realmente sólo importaba en el proceso de selección del currículum. Ambos pudieron compensar su bajo rendimiento académico destacando en otras áreas. A las empresas les importa lo que realmente sabes hacer, y tus resultados en las entrevistas suelen considerarse una mejor indicación de ello que una cifra tonta.

¿Doctor Who? Conocer a los profesores

Conocer a los profesores puede ayudarte de muchas maneras. Pueden ayudarte a desenvolverte en la burocracia de la universidad y a saltarte las normas. Pueden aconsejarte sobre las mejores clases y los mejores profesores. Pueden ofrecerte oportunidades de investigación, a veces incluso con publicaciones. Y a menudo tienen cientos de antiguos alumnos con los que pueden ponerte en contacto cuando lo necesites.

A pesar de lo que muchos estudiantes suponen, unas notas excelentes no son necesarias ni suficientes para establecer una relación estrecha con un profesor. La verdad es que, por mucho que los profesores hagan hincapié en el estudio, son pocos los que se dejan impresionar sólo por los resultados académicos. Para conocer a un profesor, hay que ir más allá.

Participa en sus investigaciones. Los profesores suelen agradecer la ayuda en sus proyectos de investigación. Para los estudiantes de primer y segundo año, los puestos de investigación pueden ser una buena forma de adquirir experiencia antes de que los grandes como Facebook y Google te abran sus puertas.

Pídeles ayuda. Si estás haciendo algo, ya sea crear una aplicación de software o investigar un nuevo mercado, es posible que la investigación de tus profesores se cruce con tu proyecto. Si les pides ayuda, todos salimos ganando: tú obtienes el consejo de un experto y ellos se divierten con una novedosa aplicación de su tema favorito.



Conviértete en profesor ayudante. No sólo te pagarán (normalmente) por ello, sino que tu profesor te verá en acción. De este modo, si más adelante necesitas una carta de recomendación, ésta será mucho más sólida.

Aprovecha los almuerzos, cafés u horas de oficina. Muchas universidades ofrecen algún tipo de programa para llevar a comer al profesor. Si la tuya no lo ofrece, puedes pedirle sugerencias sobre cursos u orientación profesional tomando un café o durante las horas de oficina.

Tu relación con los profesores puede ser inmensamente valiosa. Si es posible, elige un profesor cada semestre con el que tratar de conectar. Algunos se desvanecerán de forma natural, pero al graduarte deberías tener dos o tres relaciones sólidas. Mantenlas.

Estudios de posgrado

Muchos de nosotros soñamos con volver a la universidad, ya sea porque añoramos los días del beer pong o por la estimulación intelectual (potencialmente menos memorable). El agotador horario de tres horas de clase cuatro o cinco días a la semana ya no parece tan malo después de años de semanas laborales de 40 o 50 horas. Lo que es más difícil de digerir, sin embargo, es el coste: 40.000 dólares de matrícula en una universidad privada típica, más otros 100.000 dólares o más quizá en salario perdido.

Aun así, nos tienta. Quizá podamos cambiar de carrera. Quizá podamos ascender en nuestra carrera actual. Quizá nos dé la credibilidad que necesitamos. Tal vez, tal vez, tal vez.

La elección es compleja porque nunca sabemos exactamente qué ganaremos o a qué renunciaremos al volver a estudiar.

El verdadero coste de los estudios de posgrado

Los costes de los estudios de posgrado varían mucho, pero lo importante es recordar que la matrícula es sólo una parte del coste real. Los costes totales incluyen:

Matrícula. La matrícula varía en función de si la universidad es pública o privada; si es pública, de si se encuentra dentro o fuera del estado; y de cuál sea el campo de estudio. La matrícula puede oscilar entre 10.000 y 60.000 dólares al año.

Salario perdido. Cada año que pasas en la escuela de posgrado es un salario que podrías estar recibiendo pero no lo haces. Dependiendo de tu trabajo anterior y de la duración de tu programa de posgrado, eso puede suponer 200.000 dólares o más. Este suele ser el mayor factor de los costes.

Ascensos perdidos. Además de la pérdida de salario mientras realizabas el máster, también has perdido dos años de experiencia. Son dos años de ascensos y aumentos perdidos.

Según estos cálculos, un máster típico de dos años puede costar 300.000 dólares (100.000 en matrícula y 200.000 en salario perdido).

Un máster supone un pequeño aumento de sueldo, pero suele ser inferior a 10.000 dólares. Por lo general, un máster sólo merece la pena si te abre una opción profesional que no podrías haber obtenido con dos años de experiencia laboral.

Postgrados profesionales

Los programas de postgrado profesional, como los de estadística o marketing, le ofrecen la posibilidad de cambiar a un nuevo campo u obtener una especialidad en su campo actual. Suelen ser programas intensamente académicos, en los que se espera que los estudiantes hagan malabarismos con múltiples cursos de posgrado mientras realizan investigaciones adicionales.

Por muy rigurosos que sean, estos programas pueden ofrecerte una ventaja sobre tus (futuros) compañeros de trabajo. Ya no eres un empleado principiante cualquiera; tienes una especialidad. Tienes unos conocimientos únicos que puedes ofrecer y con los que relativamente poca gente puede competir. Esos conocimientos pueden ofrecerte la posibilidad de contribuir de un modo que otras personas no pueden y, por tanto, de avanzar más rápido.

La otra cara de la moneda es que puede que ya no quieras esa especialidad una vez que hayas invertido dos o más años estudiando en ella. De hecho, esto es exactamente lo que descubren muchos doctores; después de cinco años investigando un aspecto minúsculo de su campo, lo último que quieren es trabajar en ese único y estrecho aspecto.

Antes de matricularte en un programa de máster o doctorado, pregúntate lo siguiente:

¿Quieres trabajar en este campo después? Si no piensas utilizar directamente los conocimientos de tus estudios de posgrado, puede que no merezca la pena.

¿Merece la pena el sueldo? Busca los empleos que te interesan después de la universidad. ¿Cuánto pagan? ¿Compensa el coste de los estudios de posgrado el salario que esperas obtener?

¿Hay otras formas de adquirir esa experiencia? Si lo único que quieres son conocimientos adicionales en un campo, puede que haya formas más asequibles y eficientes de conseguirlos. Podría, por ejemplo, acceder a un nivel inferior y esperar ascender.

Prepararse ahora

Posicionarte para ser aceptado varía en función del programa de posgrado en el que te matricules y de tu formación. Si te inscribes en un programa de informática con un título de ingeniero eléctrico, es posible que tengas que reorientar tu trabajo profesional hacia la codificación o matricularte en cursos adicionales. Otras personas pueden tener ya la formación adecuada y ser aceptadas siempre que presenten su solicitud. En cualquier caso, analiza las cuatro áreas siguientes:

Académicos. Si todavía estás en la universidad, céntrate en mantener tus notas altas. Si ya te has graduado pero tus notas son bajas, puedes plantearte tomar algunas clases a tiempo parcial en tu universidad local y centrarte de verdad en sacar buenas notas. Así demostrarás que puedes rendir bien académicamente.

Profesional. Cuanto más se acerque tu experiencia profesional a tu campo de estudio, mejor te irá. Busca estudiantes de posgrado en tu campo y habla con ellos sobre lo que hicieron antes.

Actividades extracurriculares. Las actividades extracurriculares pueden ser una buena manera de diferenciarte y demostrar que eres excepcional. Algunas actividades tendrán más peso que otras, así que consulta con estudiantes y profesores qué puede aumentar tus posibilidades.

Graduate Record Examinations (GRE). Puede que una buena nota en el GRE no te garantice la admisión, pero una mala nota puede dificultar mucho las cosas. Consigue libros, toma clases de preparación, lo que necesites para asegurarte de que estás en el rango esperado para las universidades a las que quieres ir.

Cuanto antes hagas esta preparación, mejor.

El MBA

La comunidad tecnológica, y en particular Silicon Valley, tiene una relación de amor/odio con el MBA. Por un lado, las grandes empresas y algunas pequeñas contratan activamente a MBA, sobre todo de las mejores escuelas. Por otro lado, muchos jefes de contratación se quejan de que los aspirantes a un MBA son inútiles, arrogantes y otras muchas generalizaciones.

¿Cuánto vale un MBA?

Ni siquiera los MBA de Harvard y Stanford están «asegurados» para los puestos tecnológicos. Es cierto que tienen más posibilidades que los MBA de escuelas menos prestigiosas y que sus MBA les aportan valor, pero a un coste significativo.

Ventajas:

Prestigio y credibilidad. Si asiste a un programa de MBA sólido, se asociará con un buen nombre. Muchos -pero no todos- dan por sentado que los MBA de las grandes escuelas son inteligentes y relativamente competentes.

Amplitud educativa. Un MBA le ofrece una amplia exposición a muchos de los aspectos fundamentales de la empresa, como la contabilidad, las finanzas y el marketing. Probablemente no le enseñará lo suficiente para desempeñar estos trabajos (sin una formación adicional en el puesto de trabajo), pero le enseñará lo suficiente para que sepa lo que no sabe. Te hará un poco más polifacético.

Red de contactos. También se puede construir una buena red en el mundo real, pero la red de un MBA es diferente. Una red construida a lo largo de tu vida profesional está llena de gente como tú, en tu puesto de trabajo, en puestos afines y en tu empresa. Eso es muy valioso. Sin embargo, cuando necesitas contactar con personas ajenas a estos focos, puedes quedarte atascado. Tu red de MBA es mucho más diversa: muchos países (en muchas escuelas, hasta el 40% de las personas de los mejores programas de MBA de EE.UU. son internacionales), muchas industrias y muchas funciones. Además, la red no sólo incluye a tus conocidos, sino también a antiguos y futuros graduados.

Experiencia. Los estudiantes de MBA organizan clubes, juegan en equipos deportivos, se reúnen con líderes empresariales de renombre y se exponen a un montón de situaciones interesantes y educativas. Esto no sólo es divertido, sino también educativo. De hecho, muchos estudiantes de MBA afirman que aprenden más de sus compañeros que de sus clases.

Contratación y cambio de carrera. Un programa de MBA atrae a empleadores de todo el país para que contraten a sus estudiantes, ofreciéndoles más expo- siciones de las que podrían conseguir de otro modo. Esto es especialmente cierto para los estudiantes de entornos no tradicionales.

Costes:

Coste de oportunidad. Como en la mayoría de los programas de postgrado a tiempo completo, se renuncia a dos años de tiempo. Esto significa dos años de salario, dos años de experiencia laboral y dos años de ascensos.

Estigma. Muchos graduados de MBA afirman que se enfrentan a un estigma debido a su título, hasta el punto de que esencialmente ocultan el hecho de que lo recibieron.

Los beneficios de un MBA aumentan con la calidad del programa. Tu red de contactos será más sólida, tendrás más oportunidades de contratación, etc. Sin embargo, los costes se mantienen relativamente fijos. Los costes, sin embargo, permanecen relativamente fijos.

¿Debería cursar un MBA?

Si ha leído las ventajas y los costes de un MBA y sigue pensando que quiere seguir adelante, proceda con cautela. En concreto, debe tener en cuenta lo siguiente:

No aprenderás a dirigir personas. La mejor manera de aprender a dirigir personas es hacerlo de verdad, y esa experiencia no se adquiere en un MBA. Puede que recibas una o dos clases sobre la teoría de la gestión, pero podrás replicarla a través de tu propia investigación.

No es un lugar para averiguar lo que quieres hacer. Dos años pueden parecer mucho tiempo, pero no lo son. Los estudiantes empiezan a solicitar prácticas a los tres meses de empezar el primer año, lo que significa que tienen que empezar a pensar dónde solicitarlas incluso antes. Para sacar provecho de tu MBA, necesitas saber lo que quieres hacer desde el principio.

Asegúrate de que es un paso superior, no sólo un paso. Si obtienes un MBA, hazlo porque entraste en el mejor programa para ti, no en cualquier programa. Algunas personas obtienen un MBA de su universidad local porque está cerca, cuando podrían haber entrado en un programa mucho mejor. Cuando los costes de un MBA son tan elevados, a menudo no merece la pena ir a un programa que no sea el mejor para ti.

No vayas por la educación. Es cierto que recibirás una buena formación sobre un montón de temas diferentes, pero hay muchas formas de aprender. Puedes leer libros, estudiar por tu cuenta, escuchar charlas de líderes empresariales, etcétera. Si estás concentrado y motivado, puedes reproducir gran parte de la educación del MBA por tu cuenta. Un MBA es demasiado caro para justificarlo exclusiva o principalmente por motivos de educación.

Dicho esto, mucha gente saca mucho provecho de su MBA.

Prepárese ahora

Los programas de MBA buscan personas que sean líderes y tengan un impacto en el mundo. Tienes que haber demostrado que ya eres un líder, ya sea creando tu propia empresa o dirigiendo proyectos en el trabajo. Quieren personas que hayan demostrado tener éxito en las siguientes áreas:

Formación académica. Tus calificaciones en la universidad son un indicador de tus calificaciones en la universidad, así como tu ética de trabajo y tu inteligencia. No es necesario que saques sobresalientes, pero sin duda te ayudará. Unas notas extremadamente bajas pueden ser un factor decisivo si no hay algo importante que lo compense. Si tus notas son bajas, tendrás que prestar especial atención a tus resultados en el Graduate Management Admission Test (GMAT).

Profesional. Busca formas de demostrar tu liderazgo y tus logros empresariales en tu trabajo profesional. Si eres ingeniero informático, a los programas de MBA no les interesará el algoritmo que escribiste, pero sí los proyectos que dirigiste y los retos a los que te enfrentaste. Trabajar para una empresa de renombre también ayuda mucho.

Actividades extracurriculares. A menos que tengas un trabajo extremadamente exigente, los mejores programas de MBA esperarán que te hayas involucrado fuera del trabajo, y preferiblemente a un nivel de liderazgo. Repartir sopa en un comedor social no cuenta mucho, pero ser el presidente de un importante grupo de ayuda a los sin techo, sí.

GMAT. El examen estandarizado de la escuela de negocios, llamado GMAT, es una prueba de tu capacidad gramatical, analítica y matemática. No es necesario que saques un 800 perfecto en el examen, ni siquiera para ser admitido en Harvard, pero una puntuación inferior a 650 puede perjudicarte. Las escuelas publican su horquilla del 25 al 75 por ciento, así que asegúrate de no quedarte por debajo.

Cuanto antes planifiques tu MBA, mejor. Muchos candidatos empiezan a planificar sus solicitudes de ingreso en escuelas de negocios con dos años de antelación.

Tu «historia

Además de demostrar tu valía en múltiples áreas, tus experiencias deben encajar en una historia coherente sobre por qué quieres un MBA, qué sacarás de él y cuáles son tus objetivos a corto y largo plazo.

He aquí un ejemplo:

Me apasiona la tecnología y espero convertirme en vicepresidente o director general de una gran empresa tecnológica en el ámbito de los productos de consumo. Anteriormente he trabajado como gestor de programas en Microsoft, donde he tenido la oportunidad de dirigir el desarrollo de varias funciones. Mantengo un blog sobre los gadgets más novedosos, lo que me ha ofrecido la posibilidad de compartir mis ideas y recibir comentarios al respecto. Espero hacer una doble especialización en marketing y estrategia en su programa de MBA, lo que me ayudará a comprender mejor la dirección de una empresa. Después de graduarme, planeo incorporarme a Bain, BCG o McKinsey como consultor, donde podré ver una gran variedad de problemas empresariales en poco tiempo. Luego me incorporaré a una empresa tecnológica de tamaño medio y trabajaré hasta llegar a vicepresidente o director general.

Muchos estudiantes de MBA admiten que sus objetivos a corto y largo plazo (expresados en su solicitud) pueden no haber sido del todo precisos. Los programas de MBA quieren saber que sabes exactamente lo que quieres hacer en la vida, y eso ha animado a algunas personas a mentir un poco con sus objetivos. Sin embargo, las mejores historias suelen ser las más veraces.

Programas de postgrado a tiempo parcial

La idea de cursar programas de postgrado a tiempo parcial resulta atractiva para muchos. En lugar de escatimar para salir adelante durante dos años pagando la matrícula y renunciando a un salario, puedes mantener tu salario actual y asistir a algunas clases extra. Es una gran opción para muchos, pero debes asegurarte de que sabes en qué te estás metiendo.

Es muy, muy difícil. ¿Sabes lo mucho que te estresa el trabajo? Duplícalo. A tus profesores no les importará que tengas que entregar un proyecto importante en el trabajo; no es asunto suyo. Del mismo modo, a tu jefe no le importa que tengas que entregar una redacción importante. Ambos te evaluarán en función de lo que les estés aportando, y eso puede hacer que tiren de ti en distintas direcciones.

Adiós a tu vida social. Muchas personas se dan cuenta de que, después de hacer malabarismos con el trabajo y los estudios, les queda poco tiempo y energía para los amigos. Quizá puedas salir los fines de semana, pero cenar con amigos cualquier noche de la semana probablemente sea imposible.

Puede que le saques menos partido. Las oportunidades de establecer contactos y reclutar personal son un valor clave de muchos programas de posgrado (especialmente los de MBA). Si trabajas a tiempo completo, es menos probable que conozcas a tus compañeros. Además, los programas de postgrado a tiempo parcial suelen tener menos oportunidades de reclutamiento, ya que muchos estudiantes están obligados a permanecer en su empresa actual durante un tiempo. Incluso si no estás obligado, menos empresas contratarán en tu escuela si muchos de tus compañeros lo están.

Limitas considerablemente tus opciones. Si estudias a tiempo parcial, lo más probable es que no te desplaces. Eso significa que estás limitado a los centros de tu zona que admiten estudiantes a tiempo parcial. En lugar de asistir a la mejor escuela a la que puedas acceder, te estás limitando a un pequeño grupo de escuelas.

Es mucho más largo. En lugar de acabar los estudios de posgrado de un plumazo, lo más probable es que los prolongues durante cuatro o más años. ¿Estás preparado para afrontar el tiempo, el estrés y el coste de un programa de posgrado durante tanto tiempo? También es posible que te resulte difícil cambiar de profesión mientras estudias, lo que podría implicar tomar peores decisiones profesionales.

El lado positivo es que tendrás un sueldo con el que vivir y puede que tu empresa incluso te ayude a pagar la matrícula.

Experiencia laboral

Aunque esperemos que nuestros jefes sean nuestros mejores defensores, debemos afrontar los hechos: nuestros jefes tienen su propia agenda. Por supuesto, esto es muy negativo. Muchos jefes serán desinteresados y te ayudarán a ascender en la empresa o a conseguir un puesto mejor. Al fin y al cabo, la gran mayoría de los MBA tienen jefes que les escribieron excelentes cartas de recomendación que, en última instancia, les llevaron a abandonar la empresa.

No obstante, aunque normalmente puedes confiar en que tu jefe tiene las mejores intenciones, esto tiene sus límites. Tú eres tu mejor defensor, y tú -no tu jefe- debes trazar tu carrera desde el primer día.

Causa impacto

Un buen empleado hace todo lo que se le asigna; un gran empleado pide más. Quizá lo mejor que puedes hacer para conseguir un próximo gran trabajo sea hacer un gran trabajo en el actual:

Piense en términos generales. Si trabajas como ingeniero en una empresa basada en Internet, ¿hay información adicional de depuración que puedas registrar? Probablemente (o con suerte) trabajes con probadores; ¿cómo puedes hacerles la vida más fácil? Cuantas más personas se vean afectadas, mejores serán tus evaluaciones y más te valorará la empresa.

Solicita feedback de forma proactiva. No espere hasta la revisión de mitad de año para solicitar opiniones. En ese momento, es posible que tu jefe esté tan abrumado que, en el mejor de los casos, redacte tus comentarios apresuradamente. Pedir opiniones pronto y con frecuencia demostrará madurez, a la vez que le permitirá corregir rápidamente cualquier problema.

Infórmate sobre otros equipos. Comprender el contexto más amplio de las funciones de la empresa te será útil cuando quieras un puesto de mayor responsabilidad; por ejemplo, si eres desarrollador, infórmate sobre lo que hacen los gestores de programas. Si trabajas en ventas, infórmate sobre marketing. Incluso un poco de exposición te ayudará mucho. Te enseñará qué hacen los demás y cómo encajan.

Por supuesto, también es importante ser muy bueno en lo que haces. Esto no significa que tengas que duplicar tu tiempo de trabajo. Quizá sólo sea cuestión de dejar de lado otras distracciones o de encontrar formas de emular a los líderes de tu organización.

Conviértase en [medio] generalista

Los mejores jefes de producto, los mejores vendedores y los mejores desarrolladores tienen algo en común: entienden las funciones de los demás. Los vendedores se las ingenian para posicionar y poner precio a un producto, mientras que el jefe de producto diseña las especificaciones del usuario y las transmite al desarrollador. Todo está interconectado en el gran círculo del desarrollo de productos.

Empiece por su función y siga hacia fuera: ¿Con quién (fuera de tu puesto) te relacionas habitualmente? Intenta almorzar con ellos para conocer sus funciones. ¿Cómo toman las decisiones? ¿Qué hacen en el día a día (ya sabes, cuando no están contigo)? Entender las funciones que te rodean te permitirá rendir mejor en tu propio trabajo al ofrecerte un contexto más amplio y, al mismo tiempo, habilidades transferibles.

El tamaño importa: Cuantifica tu impacto

Por muy feliz que estés en tu trabajo actual, con un poco de suerte, este puesto acabará siendo un trampolín hacia un nuevo puesto o una nueva empresa. De repente, todos tus años de trabajo se ven aplastados en un pequeño recuadro de cinco balas en tu currículum y te imaginas con una camiseta que dice: «Trabajé como un esclavo durante cinco años y todo lo que conseguí fueron estas míseras balas».

Tu caja de cinco balas debe planificarse mientras trabajas, no después de irte. Busca logros mensurables y tangibles. Construye algo, crea algo, lidera algo. Si has abordado un problema importante para tu empresa, ¿puedes cuantificar su impacto en términos de dinero, horas o reducción de llamadas de ventas? Busca esta información cuando se produzca para asegurarte de que puedes obtener los datos más precisos y exactos.

Trabajos a tiempo parcial y prácticas

Algunos estudiantes levantan cajas en la oficina de correos de la universidad durante el año y recogen mesas durante el verano; otros hacen algo un poco más interesante. Si es posible, busca la manera de hacer un trabajo interesante.

Si puedes encontrar algo relacionado con la profesión que deseas, es ideal. Por ejemplo, si quieres trabajar en el sector de las ventas, podrías conseguir un trabajo a tiempo parcial recaudando fondos para la escuela.

Si no puedes encontrar algo directamente relacionado, busca un puesto profesional, algo lo más cercano posible a los negocios. Hay muchos trabajos interesantes: remunerados, no remunerados y, bueno, mal pagados. Tanto si buscas un puesto a tiempo parcial durante el curso escolar como un trabajo de verano, puedes conseguir un puesto interesante que te ayude a mejorar tu currículum de la siguiente manera:

Ayuda a un profesor con la investigación. Muchos estudiantes de primer año y de segundo pueden conseguir puestos de ayudante de investigación con profesores, en los que puedes codificar (si te especializas en informática) o realizar otras tareas específicas de tu campo.

Contacta con una start-up. No hay nada que guste más a una empresa joven que un poco de trabajo gratis. Una empresa con la que hablé tenía 30 becarios y sólo 12 empleados. Ofrecerte gratis para ayudar a una start-up puede darte una experiencia fantástica. Si realmente necesitas el dinero, siempre puedes dividir tu tiempo entre una start-up y un trabajo remunerado pero aburrido, como servir mesas.

Hazte voluntario en una organización sin ánimo de lucro. Al igual que las start-ups, las organizaciones sin ánimo de lucro suelen tener problemas de liquidez y necesitan ayuda desesperadamente. A ver si puedes ayudarles en algo, ya sea codificación, recaudación de fondos o publicidad. No sólo aprenderás habilidades comercializables, sino que conocerás a otros voluntarios que pueden tener trabajos a tiempo completo en empresas que, algún día, podrían contratarte.

Cuanto antes lo hagas, mejor, ya que la experiencia te diferencia de tus compañeros. Cuando tienes un trabajo profesional en tu primer año de universidad, estás en una posición mucho mejor que tus compañeros. Esto puede llevarte a ser el primero en ser elegido para las entrevistas del año siguiente. El camino para conseguir las prácticas de tus sueños en el primer año de carrera empieza en el primer año, o incluso antes.

Actividades extraescolares

No todas las actividades extraescolares son iguales. Algunas demuestran más inteligencia, otras más creatividad y otras más liderazgo. Lo mejor para ti depende de tu formación y, por supuesto, de lo que te guste hacer. Esta sección se centrará únicamente en los aspectos de las actividades extraescolares que contribuyen a mejorar tu currículum; depende de ti combinarlos con tu felicidad y otras preferencias.

Voluntariado

Al igual que no voy a hablar de la selección de actividades en función de la diversión (que debería ser un factor a tener en cuenta), tampoco voy a hablar de la selección de actividades de voluntariado en función del valor añadido que aportan al mundo. Si eliges ser voluntario, la forma en que la organización sin ánimo de lucro o la actividad de voluntariado contribuyen al mundo es sin duda importante. Puedes tomar tu propia decisión al respecto.

Con este enorme descargo de responsabilidad en mente, permíteme ofrecerte este consejo específico para tu currículum: no sirvas sopa en un comedor social. No clasifiques ropa para indigentes. Y no recojas la basura de la carretera. Aunque sean actividades estupendas por otros motivos, ningún empleador mirará tu currículum y dirá: «¿Cuántos cucharones de sopa dijiste que podías hacer por hora? Hace tiempo que necesitamos un cucharón de sopa y creo que tú eres la persona adecuada».

Sin duda, estas actividades te ayudarán de alguna manera. Demostrarán que estás dispuesto a ayudar y que puedes hacer malabarismos con múltiples responsabilidades. Te ayudarán a cubrir vacantes y ampliarán tu red de contactos. Sin embargo, no son suficientes.

Para sacar el máximo partido a tus horas de servicio comunitario, céntrate en actividades que te ayuden a desarrollar tus habilidades, te permitan explorar vías profesionales u obtengas experiencia inicial en un campo.

Puestos de ventas. Considera la posibilidad de ayudar a recaudar fondos para un albergue de personas sin hogar a través de llamadas en frío y otras conexiones.

Puestos de marketing. Ayuda a un grupo local de empresarios de minorías a encontrar la forma de orientar sus materiales de publicidad y promoción.

Ingeniería/diseño de software. ¿Has visto alguna vez la página web de una organización sin ánimo de lucro? Probablemente les vendría bien tu ayuda. ¿O qué te parece participar en un proyecto de código abierto?

Prácticamente cualquier función que desees desempeñar en una empresa tecnológica probablemente también tenga lugar en una organización sin ánimo de lucro, así que seguro que encuentras algo que añada un poco de dinamismo a tu currículum.

Empezar algo

Ser voluntario está muy bien, pero lanzar una nueva iniciativa es aún mejor. Es una de las mejores cosas que puedes hacer para aumentar tus posibilidades.

David, gestor de programas de Microsoft, puso en marcha una empresa de consultoría entre cuyos clientes se encontraban empresas de la lista Fortune 500. Trabajó noches y fines de semana para ellas, lo que impulsó su currículum y refrescó sus conocimientos. Trabajó noches y fines de semana para ellas, lo que mejoró su currículum y refrescó sus conocimientos de programación. Aunque los gestores de programas suelen tener problemas para ser considerados para puestos de ingeniería de software, David consiguió entrevistas tanto con Amazon como con Google. A Amazon le encantó su pasión y compromiso, y le ofreció un puesto como ingeniero de software.

Siempre que tengas la dedicación y el tiempo para seguir adelante, empezar algo puede ser una forma estupenda de dar un salto en tu currículum. Demuestra iniciativa, creatividad y el compromiso de ir más allá. Y si no tienes experiencia en determinadas áreas, como el liderazgo, la programación o el marketing, crear una empresa o un sitio web puede ser una buena forma de llenar ese vacío.

If you’ve got some time to spare, consider pursuing the following paths:

Launch a business. Lots of us have ideas floating around in our heads—why not pursue one of them? If you’re a coder, this is a great way to learn something beyond the relatively narrow field of your work experience. If you’re not, this can be a great way to boost your tech or field background. You can hire developers or other skilled workers to implement your project from websites like Odesk.com and Elance.com.

Write a blog. Writing a blog is a great way to show that you have great writing skills, to increase your net presence (making it easier for recruiters to find you), and demonstrate your interest in a field such as technology, media, or gaming. Your blog should be updated at least every week or two, so be sure that you have the diligence to post regularly. This can prove much harder than many people expect.

Start a club or organization. You don’t want to form clubs just for the sake of forming clubs, but if there’s a genuine gap in your area, you may want to create an organization to fill it. Doing so can build your leadership experience, expand your network, and show a proven interest in a new field.

But, be warned: If you don’t follow through on your project, it can demonstrate flakiness and potentially burn bridges. Make sure that you are excited and committed to your plans.

Questions and Answers

Well, There Go the College Hires

I’m a senior in college and as such, you can find pictures on my Facebook profile dating all the way back to my junior prom. This means plenty of pictures of illegal underage drinking, keg stands, toga parties, and so on.

My parents, of course, are mortified and insist that I take down these irresponsible pictures. Better safe than sorry, they say. And then they tell me all sorts of stories about their friend’s son or daughter who didn’t get a job because of one picture (“Just one! And you have so many!”). I’m going to get rejected by Microsoft! The world will end! Aaah!

I think this is all crazy talk. Times have changed, right?

Yes and no. But mostly yes.

Your Facebook profile is a pretty good reflection of who you are, and employers want to learn about you. Drunken party pictures tell them that you drink. Will that be an issue for your employer? Most likely, no. Tech companies are fairly open- minded and are unlikely to care that you drink, even if you were underage at the time. After all, they’d have a very difficult time hiring college students if they did care about this.

De hecho (y los padres de todo el mundo me odiarán por decir esto), podría incluso ayudarte. Lo ideal es que las empresas tecnológicas busquen personas con buenas habilidades interpersonales y mucha gente asume que no beber es un indicio de poca sociabilidad.

Debo matizar un poco mis afirmaciones. Existe la posibilidad de que tu perfil de Facebook te perjudique, por ejemplo, si

Haces algo ofensivo. Las declaraciones abiertamente racistas o sexistas son una excelente razón para que una empresa te rechace.

Haces algo ilegal, peligroso o totalmente estúpido. Es decir, algo realmente ilegal, no algo relativamente común como beber siendo menor de edad. Si te inyectas heroína o le das una paliza a alguien, eso les dará un motivo real y legítimo para preocuparse.

Tus entrevistadores piensan como tus padres. Tus padres piensan que las fotos borracho son poco profesionales. Hay otras personas que piensan como tus padres. Por lo tanto, tu entrevistador puede pensar que las fotos de borrachos no son profesionales. Oye, cosas más raras se han visto. Pero, por otra parte, es probable que esos entrevistadores no vayan por ahí acosando a la gente en Facebook y, si lo hicieran, se darían cuenta de que lo que estás haciendo es completamente normal.

That said, it’s still good practice to play it safe and keep your profile picture relatively nonembarrassing and then secure your settings to only show to your friends.

If there is truly offensive content—which I sincerely hope there isn’t—considering removing it entirely. It’s a liability.

Will Code for Food

I’m a freshman in college and I know I need some real work experience. The problem is that I also need money to pay for basic expenses. Is there any chance of getting a paying, career-building job for the summer?

It can be tricky to do this, but it’s well worth the effort. If you can do something career building now, it will help you tremendously in the future. Find a way!

First, assess your skills and resources. What can you contrib- ute? Do you have any connections? Use everything you have. You’ll need to be aggressive here. Anything that is more career than job will go a long way, even if it’s not really related to your ultimate goal.

En segundo lugar, si es posible, intenta encontrar una salida a la zona de San Francisco o (menos ideal) a otro centro tecnológico. Sé que esto es difícil para la mayoría de la gente, pero allí hay muchas más opciones.

En tercer lugar, si no puedes conseguir un trabajo local, intenta subcontratarte en un sitio como Odesk.com. Externalizar no significa únicamente enviar proyectos a la India o Filipinas. La gente también subcontrata en su propio país. Aumenta tu reputación profesional encargándote de tareas de redacción o investigación, o de cualquier otra cosa relacionada. Incluso te pagarán por ello.

En cuarto lugar, si no consigues que te paguen lo suficiente por este trabajo, puede que tengas que aceptar un trabajo de verano más aburrido y luego hacer un proyecto aparte. ¿Tal vez podrías pasar el verano aprendiendo a programar? Es una gran habilidad si quieres trabajar en una empresa tecnológica.

Recuerda que la primera prioridad es reunir algo de experiencia empresarial, aunque no esté directamente relacionada.

El no directivo

Actualmente trabajo en una gran empresa de software del sur de California. Las cosas no van muy bien en la empresa (despidos, etc.), así que no parece que vaya a haber un puesto directivo a corto plazo. Pero no pasa nada, más o menos. Es probable que dentro de un año deje la empresa y me traslade al norte de California, donde hay más oportunidades profesionales.

Aunque cambie de empresa, ¿podré conseguir un puesto directivo sin experiencia previa?

Depende. ¿A qué llamas experiencia previa?

Desde luego, es mucho más fácil conseguir un nuevo puesto cuando ya has ocupado ese cargo. De lo contrario, tendrá que demostrar no sólo su valor para la empresa, sino también su capacidad para hacer algo nuevo.

Sin embargo, puede que consigas gran parte de la experiencia que necesitas, aunque no consigas el título. Pida a su actual jefe más responsabilidades de liderazgo. Incluso puedes aprovecharte de la mala situación: explícale que reconoces que la empresa y el equipo están sometidos a cierta tensión y que te gustaría ayudar dirigiendo un subequipo para hacer X. No conseguirás el título por ello, pero adquirirás experiencia. Y, en última instancia, eso es lo más importante.

A la hora de solicitar un nuevo empleo, no puedes mentir sobre tu título, pero puedes retocar las cosas para mostrar lo que realmente has hecho. Tu carta de presentación es un buen lugar para hacer hincapié en las responsabilidades de tipo directivo que asumiste, mientras que las viñetas debajo del puesto deberían centrarse en tus logros relacionados con el liderazgo.

Entrar por la puerta grande

¿Cree que empresas como Microsoft, Amazon, Facebook y Google reciben montones de buenos candidatos? Piénselo otra vez. «En Amazon, los responsables de contratación dedican tanto tiempo a la contratación que apenas tienen tiempo para, bueno, gestionar», me dijo un director de programas técnicos de Amazon. Empleados de otras grandes empresas se hicieron eco de preocupaciones similares:

«No hay suficientes ingenieros buenos en Estados Unidos. Y punto. Somos como buitres peleándose por lo poco que hay para comer». (Empleado de Apple)

«Siempre estamos contratando grandes talentos. Siempre». (Empleado de Google)

«No es que no consigamos suficientes candidatos buenos. Es que no sabemos quiénes son». (Empleado de Facebook)

Es cierto. Mientras tú aporreas su puerta para entrar, los reclutadores corren de un lado a otro tratando de encontrarte.

Quizá puedas quedarte quieto, enviando obedientemente tu currículum por Internet. Con un poco de suerte y un currículum excepcional, puede que se topen contigo y te llamen. Sin embargo, la mayoría de los candidatos tienen que ser un poco más creativos.

El agujero negro: Presentación de ofertas de empleo en línea

Los candidatos lo llaman agujero negro por una razón. Dejas tu currículum en él y desaparece para siempre. Normalmente.

Pero sucede. Kari, analista financiera en Amazon, presentó su candidatura a través del sitio web de la empresa y enseguida recibió uno de esos correos electrónicos: «Bla, bla, bla . . . guardaremos tu currículum en el archivo». Y así lo hicieron, y más tarde le ofrecieron un trabajo. Philip consiguió su trabajo en Bloomberg LP a través de Monster.com. Yo conseguí mis prácticas en Apple solicitándolas por Internet.

Las empresas contratan a través de sus solicitudes de empleo en Internet, pero hay tantos candidatos que es difícil destacar entre la multitud. Esto es cierto incluso si eres un buen candidato.

Por muy aleatorio que sea el proceso, puedes hacer algo para poner las probabilidades un poco más a tu favor.

Aprovechar el agujero negro

Para aumentar tus posibilidades de recibir una llamada, asegúrate de seguir todas las instrucciones. Aguja, pajar: eche cuentas. Con tantos candidatos entre los que vadear, los responsables de selección y contratación pueden buscar cualquier excusa para desechar tu currículum. Si quieren tu expediente académico, preséntalo. Si quieren tus tres principales equipos deseados, responde a su pregunta. Los pequeños errores pueden ser fatales.

En segundo lugar, si la oferta de empleo es reciente, preséntese rápidamente. Esperar tres días para pensárselo sólo aumenta el tamaño del pajar. Las empresas pueden incluso dejar de buscar a partir de cierto momento para poder tomar decisiones sobre los más madrugadores.

En tercer lugar, póngase en el lugar del responsable de contratación. Si realiza una búsqueda a través del sistema de seguimiento de candidatos, ¿qué palabras clave utilizará? Asegúrese de incluirlas en su currículum. Por ejemplo, si el puesto requiere un MBA, asegúrese de que en su currículum figura «MBA» en lugar de «Master en Administración de Empresas». Es posible que desee indicar su formación como «Máster en Administración de Empresas (MBA), 2010» para asegurarse de que su currículum aparece en ambas búsquedas.

En cuarto lugar, recuerda que el hecho de que descubras la vacante a través de un sitio web de empleo no significa que tengas que presentar tu candidatura a través de él. «Si la solicitud menciona el nombre del reclutador o del director de contratación, es posible que puedas localizar su nombre para enviarle una nota personalizada», aconseja Barry Kwok, antiguo reclutador de Google.

Conseguir una recomendación personal

Claro, Kari, Philip y yo salimos del agujero negro, pero ¿todos nuestros otros trabajos? Referencias. Lo mismo ocurre con casi todas las personas que conozco (con la notable excepción de los que llegaron a través de la contratación universitaria).

Las referencias personales son, sin lugar a dudas, la mejor manera de conseguir un trabajo. No sólo es más probable que una empresa tenga en cuenta a alguien que ha sido recomendado, sino que también es más probable que encuentres un puesto que se ajuste a tus habilidades e intereses. Todos salimos ganando.

Las siguientes técnicas pueden ayudarte a conseguir esa recomendación interna:

Utiliza a los amigos de tus amigos. Tienes muchos más amigos de amigos que amigos. Éstas son las personas a las que quiere llegar. Sé abierto y específico con tus amigos sobre el tipo de persona con la que quieres hablar y pídeles ayuda para ponerte en contacto con ella.

Establezca contactos con desconocidos. Si no conoce personalmente a nadie que trabaje en la empresa que desea, seguro que puede encontrar a alguien en Internet. Establece una relación con algunos empleados respondiendo a sus tweets en Twitter, comentando en su blog o interactuando con ellos a través de otro medio. Sé útil y positivo. Tu objetivo es que conozcan tu nombre y que les caigas bien. Los empleados superfamosos serán más difíciles de conocer; dirígete, en cambio, a las personas menos conocidas.

Facilíteles el trabajo. Cuando te pongas en contacto con ellos por correo electrónico, mira la situación a través de sus ojos. Facilíteles al máximo la obtención de su currículum. Busque una oferta de empleo concreta y facilíteles el enlace. Adjunta tu currículum en el correo electrónico inicial (no preguntes: «¿Puedo enviarte mi currículum?»). Escríbeles tu primera carta como si fuera una carta de presentación, con razones concretas por las que encajas bien. Reducir la fricción por su parte aumentará drásticamente tus posibilidades de que te recomienden.

Hacer estas cosas también te ayudará a crear una red de contactos, que será muy valiosa a lo largo de tu vida.

La entrevista informativa

La entrevista informativa es una conversación informal con una empresa que se lleva a cabo incluso antes de que comience el proceso de selección. Normalmente, te diriges a un empleado de una posible empresa y le pides consejo sobre el puesto o la empresa. Aunque se llame entrevista informativa, no mencione la palabra entrevista cuando hable con el empleado.

Parte del valor de la entrevista informativa es que no ejerce presión. Un empleado puede reunirse contigo y ofrecerte consejo, independientemente de que la empresa esté contratando o no. Ella puede investigarte un poco y tú puedes evaluarla a ella y a su empresa.

Estas entrevistas informativas son muy comunes en las empresas tecnológicas, tanto para solicitantes externos como para candidatos internos que desean cambiar de equipo.

Asegúrate de ir con preguntas buenas y bien formuladas. La persona no evaluará exhaustivamente tus aptitudes, pero sí tu personalidad, comunicación e interés. Asegúrate de escribir una nota agradeciéndole su tiempo.

Tras esta conversación, es posible que la persona te invite a solicitar un empleo en su empresa e incluso se ofrezca a recomendarte. Si no es así, puedes hacer un seguimiento después de la entrevista y preguntarle cuál es la mejor manera de presentar una solicitud o de ponerte en contacto con un reclutador. Si no responde ofreciéndose a ayudarte, probablemente no se sienta cómoda haciéndolo por el motivo que sea. Simplemente tendrás que utilizar vías alternativas para solicitar el puesto.

Póngase en contacto con los reclutadores

No es difícil encontrar direcciones de correo electrónico de reclutadores. Al fin y al cabo, su trabajo consiste en ponerse en contacto con los candidatos.

Una rápida búsqueda en Internet con una consulta como &#60reclutador *@adobe.com> hará que aparezcan reclutadores de prácticamente todas las grandes empresas. ¿Con qué reclutador te gustaría hablar? ¿Con Microsoft? ¿Google? ¿Amazon? Lo que quieras, lo tienes.

Pero no envíes todavía tu currículum por correo electrónico: es sólo el primer paso. «Los reclutadores saben si les están enviando spam», nos recuerda Kwok. «Se trata de calidad, no de cantidad. Una carta sincera, bien documentada y adaptada a nuestra empresa llegará mucho más lejos que una genérica.»

