---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Home">
	<h1 class="text-center mt-2 px-6 text-3xl font-oswald xs:text-4xl xs:mt-4 sm:mt-6 sm:text-5xl min-w-52">Aprende JavaScript</h1>
	<main class="my-12 mx-auto px-4 xs:px-6 sm:px-12 grid [grid-template-columns:repeat(auto-fit,_minmax(180px,_1fr))] xs:[grid-template-columns:repeat(auto-fit,_minmax(220px,_1fr))] sm:[grid-template-columns:repeat(auto-fit,_minmax(240px,_1fr))] max-w-[1050px] gap-8">
		<a href="javascript-la-guia-definitiva">
			<img class="w-full mx-auto max-w-72 [box-shadow:8px_8px_5px_0px_#451303] cursor-pointer" src="guiadefinitiva.webp" alt="cover libro" />
		</a>
		<a href="como-superar-una-entrevista">
			<img class="w-full mx-auto max-w-72 [box-shadow:8px_8px_5px_0px_#451303] cursor-pointer" src="comosuperarunaentrevista.webp" alt="cover libro" />
		</a>
		<a href="descifra-la-carrera-tecnologica">
			<img class="w-full mx-auto max-w-72 [box-shadow:8px_8px_5px_0px_#451303] cursor-pointer" src="descifralacarreratech.webp" alt="cover libro" />
		</a>
		
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
	@tailwind base;
  @tailwind components;
  @tailwind utilities;
	/* @font-face {
		font-family: "Oswald", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
	} */
</style>