---
import Layoutbook from "../../layouts/Layoutbook.astro"
---
<Layoutbook title="JavaScript: La guia definitiva">

  <h1 class="font-khand font-bold text-3xl py-4 sm:text-4xl md:text-5xl">Prólogo</h1>
  <p>Estimado lector,</p>
  <p>
    Quitemos las presentaciones de en medio.
  </p>
  <p>
    No soy reclutador. Soy ingeniero de software. Y como tal, sé lo que es que te pidan que inventes algoritmos brillantes sobre la marcha y que escribas un código impecable en una pizarra. Lo sé porque me han pedido que haga lo mismo en entrevistas en Google, Microsoft, Apple y Amazon, entre otras empresas.
  </p>
  <p>
    También lo sé porque he estado al otro lado de la mesa, pidiendo a los candidatos que lo hicieran. He revisado montones de currículos para encontrar a los ingenieros que creía que podrían superar estas entrevistas. Los he evaluado mientras resolvían -o intentaban resolver- preguntas difíciles. Y he debatido en el Comité de Contratación de Google si un candidato lo había hecho lo suficientemente bien como para merecer una oferta. Entiendo el círculo completo de la contratación porque he pasado por todo ello, repetidamente.
  </p>
  <p>
    Y tú, lector, probablemente te estés preparando para una entrevista, quizá mañana, la semana que viene o el año que viene. Estoy aquí para ayudarte a consolidar tu comprensión de los fundamentos de la informática y, a continuación, aprender a aplicar esos fundamentos para superar la entrevista de codificación.
  </p>
  <p>
    La 6ª edición de Cracking the Coding Interview actualiza la 5ª edición con un 70% más de contenido: preguntas adicionales, soluciones revisadas, nuevas introducciones a los capítulos, más estrategias de algoritmos, pistas para todos los problemas y otros contenidos. No dejes de visitar nuestro sitio web, CrackingTheCodinglnterview.com, para ponerte en contacto con otros candidatos y descubrir nuevos recursos.
  </p>
  <p>
    Estoy entusiasmado por ti y por las habilidades que vas a desarrollar. Una preparación minuciosa te proporcionará una amplia gama de habilidades técnicas y de comunicación. Merecerá la pena, ¡no importa adónde te lleve el esfuerzo!
  </p>
  <p>
    Le animo a que lea detenidamente estos capítulos introductorios. Contienen información importante que puede marcar la diferencia entre "contratar" y "no contratar".
  </p>
  <p>
    Y recuerde: ¡las entrevistas son difíciles! En mis años de entrevistas en Google, vi cómo algunos entrevistadores hacían preguntas "fáciles", mientras que otros hacían preguntas más difíciles. Pero, ¿sabe una cosa? Conseguir las preguntas fáciles no hace que sea más fácil conseguir la oferta. Recibir una oferta no consiste en resolver las preguntas de forma impecable (¡muy pocos candidatos lo hacen!). Se trata más bien de responder a las preguntas mejor que los demás candidatos. Así que no te estreses cuando te hagan una pregunta complicada: probablemente todos los demás también pensaron que era difícil. No pasa nada por no tener menos defectos.
  </p>
  <p>
    Estudia mucho, practica y ¡buena suerte!
  </p>
  <p>
    Gayle L. McDowell
  </p>
  <p>
    Founder/CEO, CareerCup.com
  </p>
  <p>
    Author of Cracking the PM Interview and Cracking the Tech Career
  </p>
</Layoutbook>