---
import Sidebar from "../components/Sidebar.astro";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/javascript/favicon.png" />
		<link rel="stylesheet" href="/src/layouts/prism.css">
		<title>{title}</title>
	</head>
	<body class="max-w-5xl mx-auto p-2 xs:px-3 sm:px-6 sm:py-8 md:px-10 font-khand text-amber-900">
		<!-- <Sidebar /> -->
    <slot />
		<script src="./prism.js"></script>
	</body>
</html>
<style is:global>
	@tailwind base;
  @tailwind components;
  @tailwind utilities;
	html {
		background-color: #FFF8E8;
		border-color: #78350f;
	}
  @layer base{
		@font-face {
			font-family: 'Khand-Regular';
			font-display: swap;
			src: url(/font/code/Khand-Light.ttf);
			font-weight: 300;
		}
		@font-face {
			font-family: 'Khand-Regular';
			font-display: swap;
			src: url(/font/code/Khand-Regular.ttf);
			font-weight: 600;
		}
		@font-face {
			font-family: 'Bench Nine Bold';
			font-display: swap;
			src: url(/font/code/BenchNine-Bold.ttf);
		}
		@font-face {
			font-family: 'Victor Mono';
			font-display: swap;
			src: url(/font/code/VictorMono-Variable.ttf);
		}
		@font-face {
			font-family: 'Victor Mono Italic';
			font-style: italic;
			font-display: swap;
			src: url(/font/code/VictorMono-Variable-Italic.ttf);
		}
    h1 {
      @apply font-bold text-3xl sm:text-4xl md:text-5xl
    }
    h2 {
      @apply font-semibold leading-6 text-amber-900  text-2xl sm:text-3xl md:text-4xl
    }
    h3 {
      @apply font-semibold leading-6 text-amber-900  text-xl sm:text-[1.7rem] md:text-[2rem]
    }
		p {
			@apply  text-lg leading-6 sm:text-xl md:text-2xl
		}
		a {
			@apply no-underline text-[#F05454]
		}
		section {
			@apply flex flex-col gap-4 xs:gap-5 sm:gap-6
		}
		article {
			@apply flex flex-col gap-4 xs:gap-5 sm:gap-6 border-2 border-amber-900 p-4 xs:p-5 sm:p-6 md:p-7 my-4
		}
		nota{
			@apply bg-[#f6e4c5] p-2 xs:p-3 sm:p-4 md:p-5 rounded-lg flex gap-2 xs:gap-3 sm:gap-4 md:gap-5 items-center
		}
		figcaption {
			@apply italic text-center pt-1 text-sm xs:text-base sm:text-lg md:text-xl
		}
		table {
			@apply text-base leading-6 sm:text-lg md:text-xl border-b-2 border-amber-900
		}
		sup {
			@apply bg-blue-300 cursor-default p-0 px-2 rounded-full mx-1 aspect-square
		}
		info {
			@apply absolute opacity-0 bg-[#f6e4c5] h-8 border-[1px] -top-8 text-nowrap px-2 rounded-full -translate-x-1/2 leading-8 shadow-lg border-amber-900
		}
		strong {
			@apply font-medium
		}
		codeinline {
			@apply font-victor text-amber-700 px-2 rounded-sm bg-[#f6e4c5] text-xs xs:text-sm sm:text-base md:text-lg inline-block -translate-y-[2px] selection:text-[#f6e4c5] selection:bg-amber-700
		}
		pre {
			@apply font-victor rounded-sm !leading-3 xs:!leading-4 sm:!leading-4 md:!leading-5 py-6 !text-xs xs:!text-sm sm:!text-base md:!text-lg
		}
		tecla {
			@apply bg-white font-mono border-[1px] drop-shadow-sm shadow-[0_0_0_2px_#ffffff,0_0_0_3px_#78350f] border-amber-900 p-[2px] mx-1 text-xs xs:text-sm sm:text-base md:text-lg
		}
		ul {
			@apply text-lg leading-6 font-medium list-disc sm:text-xl md:text-2xl
		}
		ul > p {
			@apply pb-4 xs:pb-5 sm:pb-6
		}
		li {
			@apply list-disc list-inside
		}
		em {
			@apply italic
		}
	}
	@layer components {
		.title-article {
			@apply text-xl sm:text-2xl md:text-3xl font-semibold text-center
		}
	}

	.fadeIn {
		animation: fadeIn 350ms ease-in both
	}

	sup:hover > info {
		animation: aparece 250ms ease-in both
	}


	@keyframes fadeIn {
		from { opacity: 0; transform: translateY(-18px); }
		to { opacity: 1; transform: translateY(0);}
	}
	@keyframes aparece {
		from { display: none; opacity: 0;}
		to { display: block; opacity: 1;}
	}
	
</style>