---
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body class="relative font-khand text-xl text-gray-800 p-4 sm:p-5 md:p-8 lg:px-20 max-w-screen-xl mx-auto">
    <div class="bg-[url('patterns.jpg')] bg-[size:360px] bg-orange-200 fixed top-0 bottom-0 right-0 left-0 -z-10 opacity-40"></div>
    <h1 class="font-khand font-bold text-3xl py-4 sm:text-4xl md:text-5xl">JavaScript: La guía definitiva</h1>
    <main class="flex gap-12 mb-20">
      <section><p class="max-w-screen-2xl text-xl leading-6 text-red-400 font-medium sm:text-2xl md:text-3xl">Domine el lenguaje de programación más utilizado del mundo</p>
        <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">JavaScript es el lenguaje de programación de la web y es utilizado por más desarrolladores de software hoy en día que cualquier otro lenguaje de programación. Durante casi 25 años, este best seller ha sido la guía de referencia para los programadores de JavaScript, y esta nueva edición se ha actualizado completamente para cubrir la versión 2020 de JavaScript. Encontrará ejemplos de código interesantes y esclarecedores, así como nuevos capítulos sobre clases, módulos, iteradores, generadores, promesas y async/await.</p>
        <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">Este libro está dirigido a programadores que deseen aprender JavaScript y a desarrolladores web dispuestos a llevar su comprensión y dominio del lenguaje al siguiente nivel.</p>
        <ul class="max-w-screen-2xl text-lg leading-6 py-4 font-medium list-disc sm:text-xl md:text-2xl">
          <p class="my-2">Los temas incluyen:</p>
          <li class="my-2 ml-4">Tipos, variables, operadores, sentencias, objetos y matrices</li>
          <li class="my-2 ml-4">Funciones, clases, módulos, iteradores, generadores, promesas,
            y async/await</li>
          <li class="my-2 ml-4">Biblioteca estándar de JavaScript: estructuras de datos, expresiones regulares, JSON, internacionalización y URL</li>
          <li class="my-2 ml-4">La plataforma web: documentos, componentes, gráficos, redes, almacenamiento e hilos.</li>
          <li class="my-2 ml-4">Node.js: buffers, ficheros, streams, threads, procesos hijo, clientes web y servidores web</li>
          <li class="my-2 ml-4">Herramientas y extensiones del lenguaje en las que confían los desarrolladores profesionales de JavaScript</li>
        </ul>
        <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">David Flanagan lleva programando y escribiendo sobre JavaScript desde 1995. Es licenciado en Informática e Ingeniería por el Instituto Tecnológico de Massachusetts y trabaja como ingeniero de software en VMware.</p></section>
      <section class="hidden md:block font-poppins max-w-64 lg:max-w-80 text-xl bg-slate-300 py-12 px-8 self-start font-light rounded-tr-[64px]" >
        <p>"Este libro es todo lo que nunca supo que quería saber sobre JavaScript. Lleve la calidad y productividad de su código
          JavaScript al siguiente nivel. El conocimiento de David sobre el lenguaje, sus complejidades y sus trucos es asombroso.
          y brilla en esta guía verdaderamente definitiva del lenguaje JavaScript".</p>
        <p class="text-base font-bold text-right">-Schalk Neethling</p>
      </section>
    </main>
    <hr class="border-gray-300 border-2" />
    <section class="mb-20" >
      <h2 class="font-khand font-bold text-3xl py-4 sm:text-4xl md:text-5xl text-right">Prefacio</h2>
      <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">Este libro cubre el lenguaje JavaScript y las API de JavaScript implementadas por los navegadores web y por Node. Lo escribí para lectores con alguna experiencia previa en programación que quieren aprender JavaScript y también para programadores que ya usan JavaScript pero quieren llevar su comprensión a un nuevo nivel y dominar realmente el lenguaje. Mi objetivo con este libro es documentar el lenguaje JavaScript de forma exhaustiva y definitiva y proporcionar una introducción en profundidad a las API más importantes del lado del cliente y del lado del servidor disponibles para los programas JavaScript. Por ello, se trata de un libro largo y detallado. Mi esperanza, sin embargo, es que recompense un estudio cuidadoso y que el tiempo que dedique a leerlo se recupere fácilmente en forma de una mayor productividad en la programación.</p>
      <p class="max-w-screen-2xl text-lg leading-6 py-4 sm:text-xl md:text-2xl">
        Las ediciones anteriores de este libro incluían una amplia sección de referencias. Ya no creo que tenga sentido incluir ese material en forma impresa cuando es tan rápido y fácil encontrar material de referencia actualizado en línea. Si necesitas buscar algo relacionado con el núcleo o el lado del cliente de JavaScript, te recomiendo que visites el <a class="no-underline text-orange-500" href="https://developer.mozilla.org/" target="_blank" rel="noopener noreferrer">sitio web MDN</a>. Y para las API de Node del lado del servidor, te recomiendo que vayas directamente a la fuente y consultes la <a class="no-underline text-orange-500" href="https://nodejs.org/api" target="_blank" rel="noopener noreferrer">documentación de referencia de Node.js</a>.</p>
    </section>
    <hr class="border-gray-300 border-2" />
    <section class="flex justify-end">
      <a class="font-khand font-bold text-3xl py-4 sm:text-4xl md:text-5xl" href="#">
        <div class="transition-all text-nowrap hover:w-64 px-8 py-6 relative ease-linear duration-500 after:w-2 after:content-['↦'] after:transition-all after:ease-linear after:duration-500 after:opacity-5 after:relative after:-left-3 hover:after:content-['↦'] hover:after:transition-all hover:after:ease-linear hover:after:duration-500 hover:after:opacity-100 hover:after:left-3"> Capitulo 1</div> </a>
    </section>
      
	</body>
</html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Khand:wght@300;400;500;600;700&family=Poppins:wght@300;400&display=swap');
  .link:hover span {
    transition: 1s;
    animation: linking 1s ease both;
  }
  @keyframes linking {
    0% {transform: translateX(0);}
    100% {transform: translateX(-10px);
      color: #4F4557;
    }
  }
  .link:hover svg {
    transition: 1s;
    animation: biggerArr 1s ease both, palpito 1s ease .8s infinite;
  }
  @keyframes biggerArr {
    0% {width: 0;}
    100% {width: 28px;
      height: 28px;
      fill: #4F4557;
    }
  }
  @keyframes palpito {
    0%, 100% {transform: translateX(0)}
    50% {transform: translateX(-8px)}
  }
</style>